<article>
	<header>
		<h1>Hai<span>ulike arter vi har sett</span></h1>
		<img class="main-image" src="img/default_image.jpg" alt="Default" />
	</header>

	<div class="post-content bg-subtle-grey">

		<ol class="in-page-menu">
			<li><a href="#bullshark">Bull Shark <i>(Carcharhinus leucas)</i></a></li>
			<li><a href="#silkyshark">Silky Shark <i>(Carcharhinus falciformis)</i></a></li>
			<li><a href="#galapagosshark">Galapagos Shark <i>(Carcharhinus galapagensis)</i></a></li>
			<li><a href="#scallopedhammerheadshark">Scalloped Hammerhead Shark<i>(Sphyrna lewini)</i></a></li>
			<li><a href="#caribbeanreefshark">Caribbean Reef Shark<i>(Carcharhinus perezi)</i></a></li>
			<li><a href="#nurseshark">Nurse Shark <i>(Ginglymostoma cirratum)</i></a></li>
			<li><a href="#whaleshark">Whale Shark <i>(Rhincodon typus)</i></a></li>
			<li><a href="#blindshark">Blind Shark <i>(Brachaelurus waddi)</i></a></li>
			<li><a href="#spottedwobbegong">Spotted Wobbegong Shark<i>(Orectolobus maculatus)</i></a></li>
			<li><a href="#silvertipshark">Silvertip Shark <i>(Carcharhinus albimarginatus)</i></a></li>
			<li><a href="#greyreefshark">Grey Reef Shark <i>(Carcharhinus amblyrhynchos)</i></a></li>
			<li><a href="#whitetipreefshark">Whitetip Reef Shark <i>(Triaenodon obesus)</i></li>
			<li><a href="#zebrashark">Zebra Shark <i>(Stegostoma fasciatum)</i></a></li>
			<li><a href="#blacktipreefshark">Blacktip Reef Shark <i>(Carcharhinus melanopterus)</i></a></li>
		</ol>

		<section id="bullshark">
			<h2>Bull Shark <i>(Carcharhinus leucas)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>omtrent 340cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide tropical and sub-tropical seas</dd>
				</dl>
			</aside>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2014-11-24">24. november 2014, Santa Lucia, Cuba</time></li>
				<li><time datetime="2014-11-26">26. november 2014, Santa Lucia, Cuba</time></li>
				<li><time datetime="2014-12-07">07. desember 2014, Playa del Carmen, Mexico</time></li>
			</ol>

			<p></p>

			<div class="imagestrip col-2">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16059614542/in/set-72157647612927194">
						<img src="https://farm8.staticflickr.com/7544/16059614542_96dbcc5403_z.jpg" alt="Bull Shark, Santa Lucia, Cuba" />
					</a>
					<figcaption>Bull Shark, Santa Lucia, Cuba</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15416486234/in/set-72157647612927194/">
						<img src="https://farm8.staticflickr.com/7489/15416486234_eaeec60b60_z.jpg" alt="Bull Shark som snuser seg fram til en matbit, Santa Lucia, Cuba" />
					</a>
					<figcaption>Bull Shark som snuser seg fram til en matbit, Santa Lucia, Cuba</figcaption>
				</figure>
			</div>

		</section>

		<section id="silkyshark">
			<h2>Silky Shark <i>(Carcharhinus falciformis)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>omtrent 330cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide tropical seas</dd>
				</dl>
			</aside>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2014-10-17">17. oktober 2014, Shark Bay, Wolf Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Shark Bay, Wolf Island, Galpágos, Ecuador (dykk 2)</time></li>
			</ol>

			<p></p>

		</section>

		<section id="galapagosshark">
			<h2>Galapagos Shark <i>(Carcharhinus galapagensis)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>sansynligvis 370cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide, patchy, mainly around warm-temperate to tropical oceanic islands</dd>
				</dl>
			</aside>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2014-10-16">16. oktober 2014, Land Slide, Wolf Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-16">16. oktober 2014, Darwins Arch, Darwin Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Land Slide, Wolf Island, Galpágos, Ecuador</time></li>
			</ol>

			<p></p>

		</section>

		<section id="scallopedhammerheadshark">
			<h2>Scalloped Hammerhead Shark<i>(Sphyrna lewini)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Hammerhead Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat vu">Truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>420cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide warm temperate and tropical seas</dd>
				</dl>
			</aside>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2014-10-15">15. oktober 2014, Roca Redonda, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-15">15. oktober 2014, Roca Redonda, Galpágos, Ecuador (dykk 2)</time></li>
				<li><time datetime="2014-10-16">16. oktober 2014, Land Slide, Wolf Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-16">16. oktober 2014, Darwins Arch, Darwin Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-16">16. oktober 2014, Darwins Arch, Darwin Island, Galpágos, Ecuador (dykk 2)</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Elephant, Wolf Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Shark Bay, Wolf Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Shark Bay, Wolf Island, Galpágos, Ecuador (dykk 2)</time></li>
				<li><time datetime="2014-10-23">23. oktober 2014, Gordon Rocks, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-23">23. oktober 2014, Gordon Rocks, Galpágos, Ecuador (dykk 2)</time></li>
			</ol>

			<p></p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15684674701/in/set-72157647612927194">
						<img src="https://farm8.staticflickr.com/7578/15684674701_d0ac2fe0fc_z.jpg" alt="Stim av Scalluped Hammerhead Sharks på Wolf Island, Galápagos, Ecuador" />
					</a>
					<figcaption>Stim av Scalluped Hammerhead Sharks på Wolf Island, Galápagos, Ecuador</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15684648981/in/set-72157647612927194">
						<img src="https://farm8.staticflickr.com/7580/15684648981_a9915647cf_z.jpg" alt="En stor Scalluped Hammerhead Shark på Darwin Island, Galápagos, Ecuador" />
					</a>
					<figcaption>En stor Scalluped Hammerhead Shark på Darwin Island, Galápagos, Ecuador</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15746583820/in/set-72157647612927194">
						<img src="https://farm9.staticflickr.com/8587/15746583820_35d1485b6a_z.jpg" alt="Scalluped Hammerhead Sharks på Gordon Rocks, Galápagos, Ecuador" />
					</a>
					<figcaption>Scalluped Hammerhead Sharks på Gordon Rocks, Galápagos, Ecuador</figcaption>
				</figure>
			</div>

		</section>

		<secticon id="caribbeanreefshark">
			<h2>Caribbean Reef Shark<i>(Carcharhinus perezi)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>295cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>West Atlantic, south United States to Brazil including Caribbean</dd>
				</dl>
			</aside>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2014-09-08">08. september 2014, Blue Hole, Belize</time></li>
				<li><time datetime="2014-09-08">08. september 2014, Half Moon Caye, Belize</time></li>
				<li><time datetime="2014-09-08">08. september 2014, Aquarium, Belize</time></li>
			</ol>

			<p></p>

			<figure>
				<a href="https://www.flickr.com/photos/hegerokenes/14998908560/in/set-72157647612927194">
					<img src="https://farm4.staticflickr.com/3887/14998908560_bc7b6fdbfd_h.jpg" alt="Caribbean Reef Shark, Half Moon Caye, Belize" />
				</a>
				<figcaption>Caribbean Reef Shark, Half Moon Caye, Belize</figcaption>
			</figure>

		</section>

		<section id="nurseshark">
			<h2>Nurse Shark <i>(Ginglymostoma cirratum)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Nurse Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat dd">Mangler data</dd>
					<dt>Største registrerte lengde</dt>
					<dd>omtrent 300cm (sansynligvis 430cm)</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>East Pasific, west and east Atlantic</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2014-08-28">28. august 2014, La Francesa, Cozumel, Mexico</time></li>
				<li><time datetime="2014-08-29">29. august 2014, Punta Sur, Cozumel, Mexico</time></li>
				<li><time datetime="2014-08-29">29. august 2014, Cederal Wall, Cozumel, Mexico</time></li>
				<li><time datetime="2014-09-01">01. september 2014, Santa Rosa Wall, Cozumel, Mexico</time></li>
				<li><time datetime="2014-09-01">01. september 2014, Paso de Cederal, Cozumel, Mexico</time></li>
				<li><time datetime="2014-09-01">01. september 2014, Paso de Cederal, Cozumel, Mexico (nattdykk)</time></li>
				<li><time datetime="2014-09-06">06. september 2014, Caye Caulker, Belize</time></li>
				<li><time datetime="2014-12-10">10. desember 2014, Cederal Wall, Cozumel, Mexico</time></li>
			</ol>

			<p></p>

		</section>

		<section id="whaleshark">
			<h2>Whale Shark <i>(Rhincodon typus)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Whale Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat vu">Sårbar</dd>
					<dt>Største registrerte lengde</dt>
					<dd>sansynligvis 1700-2100cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide all tropical and warm temperate seas except Mediterranean</dd>
				</dl>
			</aside>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2014-08-20">20. august 2014 (snorkling), Isla Mujeres, Mexico</time></li>
				<li><time datetime="2014-08-24">24. august 2014 (snorkling), Isla Mujeres, Mexico</time></li>
				<li><time datetime="2014-09-27">27. september 2014 (snorkling), Utila, Honduras</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Shark Bay, Wolf Island, Galápagos, Ecuador</time></li>
			</ol>

			<p></p>

		</section>

		<section id="blindshark">
			<h2>Blind Shark <i>(Brachaelurus waddi)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Blind Sharks</dt>
					<dt>Status</dt>
					<dd class="iunc-cat lc">Ikke truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>120cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>East Australia</dd>
				</dl>
			</aside>

			<p>
				Blind Shark er en liten hai som trives på stenete havbunn hvor den kan gjemme seg mellom stenene.
				Til tross for navnet er haien ikke blind. Navnet har den fått av fiskere på grunn av måten den
				trekker øynene inn og lukker de når den tas ut av vann. Da ser det ut som den ikke har øyne. Vi så en
				Blind Shark som gjemte seg mellom noen stener på Julian Rocks. Vi fikk desverre ikke noe godt bilde av haien.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2008-12-8"><i>8. desember 2008</i>, Julian Rocks, Byron Bay, Australia</time></li>
			</ol>

		</section>

		<section id="spottedwobbegong">
			<h2>Spotted Wobbegong Shark<i>(Orectolobus maculatus)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Wobbegong</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>170cm (320cm ubekreftet)</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Australia</dd>
				</dl>
			</aside>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2008-12-6">6. desember 2008, Julian Rocks, Byron Bay, Australia</time></li>
				<li><time datetime="2008-12-7">7. desember 2008, Julian Rocks, Byron Bay, Australia</time></li>
				<li><time datetime="2008-12-8">8. desember 2008, Julian Rocks, Byron Bay, Australia</time></li>
				<li><time datetime="2008-12-8">8. desember 2008, Julian Rocks, Byron Bay, Australia (dykk 2)</time></li>
				<li><time datetime="2008-12-9">9. desember 2008, Julian Rocks, Byron Bay, Australia</time></li>
				<li><time datetime="2008-12-9">9. desember 2008, Julian Rocks, Byron Bay, Australia (dykk 2)</time></li>
			</ol>

			<p>
				Wobbegong Shark er litt snåle haier. De blir forholdsvis store og ligger rolig på bunnen uten å bry seg særlig om dykkere.
				Man kan komme svært nært haien. Den brukes som mat i Australia, og bestiller du fish and chips er det god sjanse for at det er Wobbegong du får servert.
				Vi så masse Wobbegong på alle våre dykk på Julian Rocks.
			</p>

			<div class="imagestrip col-2">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/3133374562/in/set-72157647612927194">
						<img src="https://farm4.staticflickr.com/3196/3133374562_48b80132ca_z.jpg" alt="Fire Wobbegong Shark som har gjemt seg i en hule med reker som sitter i inngangen. De venter på blekkspruter som skal fange rekene, så fanger de blekkspruten." />
					</a>
					<figcaption>Fire Wobbegong Shark som har gjemt seg i en hule med reker som sitter i inngangen. De venter på blekkspruter som skal fange rekene, så fanger de blekksprutene.</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/3132525193/in/set-72157647612927194">
						<img src="https://farm4.staticflickr.com/3134/3132525193_c190547875_z.jpg" alt="Spottet Wobbegong Shark, Byron Bay, Australia" />
					</a>
					<figcaption>Spottet Wobbegong Shark, Byron Bay, Australia</figcaption>
				</figure>
			</div>

		</section>

		<section id="silvertipshark">
			<h2>Silvertip Shark <i>(Carcharhinus albimarginatus)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>omtrent 300cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Tropical Indo-Pasific, wide ranging patchy distribution</dd>
				</dl>
			</aside>

			<p>
				Under haimatingen på Osprey Reef dukket tre store Silvertip Shark opp. Dykkeguidene fortalte
				at de store haiene med hvit finnetupp var Oceanic Whitetip Shark, noe vi har tatt for god fisk i flere år.
				Etter å ha studert bildene og lest litt mer om artene, ser vi at disse må ha vært Silvertip Shark.
				Begge artene hører til Requiem Shark familien, og er omtrent like store. Begge har tydelige hvite finnetupper.
				Det som skiller artene, er at Oceanic Whitetip har svært store brystfinner og ryggfinne som er avrundet.
				Silvertip har spissere finner som er en del mindre, som stemmer mer med de vi så.
			</p>

			<ol>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia</time></li>
			</ol>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2721947789/in/set-72157647612927194">
						<img src="https://farm4.staticflickr.com/3198/2721947789_a815140429_z.jpg" alt="Spent dykker med Silvertip Shark i bakgrunnen, Osprey Reef, Australia" />
					</a>
					<figcaption>Spent dykker med Silvertip Shark i bakgrunnen, Osprey Reef, Australia</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2721927703/in/set-72157647612927194/">
						<img src="https://farm4.staticflickr.com/3019/2721927703_f63d0d756e_z.jpg" alt="Masse Grey Reef Shark som gjør seg klar til mating på Osprey Reef" />
					</a>
					<figcaption>Seks Grey Reef Shark under, en Silvertip Shark øverst, Osprey Reef, Australia</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2721942085/in/set-72157647612927194/">
						<img src="https://farm4.staticflickr.com/3232/2721942085_2fe036e0a4_z.jpg" alt="Silvertip Shark. De spisse finnene skiller den godt fra Oceanic Whitetip Shark. Osprey Reef, Australia" />
					</a>
					<figcaption>Silvertip Shark. De spisse finnene skiller den godt fra Oceanic Whitetip Shark. Osprey Reef, Australia</figcaption>
				</figure>
			</div>

		</section>

		<section id="greyreefshark">
			<h2>Grey Reef Shark <i>(Carcharhinus amblyrhynchos)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>sansynligvis 233-255cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Indo-Pasific</dd>
				</dl>
			</aside>

			<p>
				Vi hadde tre flotte dykk på Osprey Reef i Australia som en del av en liveaboard tur. Det andre
				dykket på Osprey Reef var et rent haidykk, hvor instruktørene matet haiene med frosne tunfisk hoder.
				Under matingen så vi Grey Reef Shark, Whitetip Reef Shark, Blacktip Reef Shark og Silvertip Shark.
				Arten det var klart flest av, var Grey Reef Shark. I Australia kaller de disse Grey Whaler, men det er snakk
				om samme hai. Vi så Grey Reef Shark på nytt i Mosambik.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 2)</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 3)</time></li>
				<li><time datetime="2012-11-09">09. november 2012, The Office, Tofo, Mosambik</time></li>
			</ol>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2721919237/in/set-72157647612927194">
						<img src="https://farm4.staticflickr.com/3195/2721919237_b44aaaaeaf_z.jpg" alt="Grey Reef Shark med Whitefin Sharksucker's (Echeneis neucratoides) på Osprey Reef, Australia" />
					</a>
					<figcaption>Grey Reef Shark med Whitefin Sharksucker's <i>(Echeneis neucratoides)</i> på Osprey Reef, Australia</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2721884209/in/set-72157647612927194">
						<img src="https://farm4.staticflickr.com/3169/2721884209_4d29624541_z.jpg" alt="Masse Grey Reef Shark som gjør seg klar til mating på Osprey Reef" />
					</a>
					<figcaption>Masse Grey Reef Shark som gjør seg klar til mating på Osprey Reef, Australia</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/8203228955/in/set-72157647612927194">
						<img src="https://farm9.staticflickr.com/8477/8203228955_387f22d7ae_z.jpg" alt="Kraftig Grey Reef Shark sett på The Office, Tofo, Mosambik" />
					</a>
					<figcaption>Kraftig Grey Reef Shark sett på The Office, Tofo, Mosambik</figcaption>
				</figure>
			</div>

		</section>

		<section id="whitetipreefshark">
			<h2>Whitetip Reef Shark <i>(Triaenodon obesus)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>minst 160cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Indo-Pasific</dd>
				</dl>
			</aside>

			<p>
				Whitetip Reef Shark er den haien vi har sett flest ganger under dykking. Vi har sett den i Australia,
				Mosambik og Galapagos. Whitetip Reefshark er en mellomstor hai med slank kropp. På dagtid ligger
				den ofte å slapper av på bunnen. Om natten jakter den på korallrevene. Whitetip Reef Shark er en av få haiarter
				som jakter i flokk.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2008-03-15">15. mars 2008, Saxton Reef, Great Barrier Reef, Australia</time></li>
				<li><time datetime="2008-07-26">26. juli 2008, Cod Hole, Great Barrier Reef, Australia</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 2)</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 3)</time></li>
				<li><time datetime="2008-07-29">29. juli 2008, Saxton Reef, Great Barrier Reef, Australia</time></li>
				<li><time datetime="2012-11-09">09. november 2012, The Office, Tofo, Mosambik</time></li>
				<li><time datetime="2014-10-27">27. oktober 2014, Los Tunneles, Isla Isabela, Galapagos</time></li>
			</ol>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2365416559/in/set-72157647612927194">
						<img src="https://farm4.staticflickr.com/3064/2365416559_476c2a124a_z.jpg" alt="Whitetip Reef Shark, Saxton Reef" />
					</a>
					<figcaption>Whitetip Reef Shark, Saxton Reef, Australia</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2722910246/in/set-72157647612927194">
						<img src="https://farm3.staticflickr.com/2275/2722910246_954d994a94_z.jpg" alt="Whitetip Reef Shark, Osprey Reef" />
					</a>
					<figcaption>Whitetip Reef Shark, Osprey Reef, Australia</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15748823189/in/set-72157647612927194">
						<img src="https://farm8.staticflickr.com/7477/15748823189_06625e4775_z.jpg" alt="Whitetip Reef Shark, Los Tuneles" />
					</a>
					<figcaption>Whitetip Reef Shark, Los Tuneles, Galapagos</figcaption>
				</figure>
			</div>

		</section>

		<section id="zebrashark">
			<h2>Zebra Shark <i>(Stegostoma fasciatum)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Zebra Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat vu">Truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>235cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Indo-west Pasific</dd>
				</dl>
			</aside>

			<p>
				Zebra Shark var den første haien vi så under dykking.
				Dette er en forholdsvis vanlig hai i Thailand, hvor den også kalles Leopard Shark.
				Dette navnet er feil, da det finnes en annen art med dette navnet som lever på vestkysten av USA, og
				ser helt annerledes ut. Zebra Shark ligger ofte rolig på sandbunnen og slapper av.
				Når den svømmer er den svært elegant med den lange halen.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2008-01-18">18. januar 2008, Breakfast Bend, Similian Islands, Thailand</time></li>
				<li><time datetime="2008-01-23">23. januar 2008, Shark Point, Phi Phi Islands, Thailand</time></li>
			</ol>

		</section>

		<section id="blacktipreefshark">
			<h2>Blacktip Reef Shark <i>(Carcharhinus melanopterus)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>mindre enn 200cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>West Pasific, Indian Ocean and east Mediterranean</dd>
				</dl>
			</aside>

			<p>
				Blacktip Reef Shark så vi flere ganger i Thailand under dykking og snorkling. Haien tilhører familien
				Requiem Shark. Utseende på Requiem Sharks er hva folk flest forbinder med hai. På Phi Phi er det mange
				operatører som tilbyr snorkleturer hvor man nesten garantert får sett haiene. Blacktip Reef Sharks
				jakter inne på korallrevene tidlig om morgenen. Vi fikk tips om en strand på Phi Phi, Hin Pae, hvor man kunne
				snorkle 50-60m ut  ut å se haiene. Her så vi 6-8 haier som svømte rundt på ca 1.5-2m dypt vann i jakt på en matbit
				en tidlig morgen. Senere har vi sett Black Tip Reef Sharks i Australia på Osprey Reef.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2007-07-07">07. juli 2007, Ras Gheslani, Egypt</time></li>
				<li><time datetime="2008-01-22">22. januar 2008, Palong North, Phi Phi Islands, Thailand</time></li>
				<li><time datetime="2008-01-23">23. januar 2008 (snorkling), Hin Pae, Phi Phi Islands, Thailand</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 2)</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 3)</time></li>
				<li><time datetime="2011-11-19">19. november 2011 (snorkling), Phi Phi Islands, Thailand</time></li>
			</ol>

			<div class="imagestrip col-2">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2212091252/in/set-72157647612927194">
						<img src="https://farm3.staticflickr.com/2157/2212091252_e84fe5911f_z.jpg" alt="Blacktip Reef Shark, Palong North" />
					</a>
					<figcaption>Blacktip Reef Shark, Palong North, Thailand</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2222701024/in/set-72157647612927194">
						<img src="https://farm3.staticflickr.com/2411/2222701024_34bbe7decb_z.jpg" alt="Blacktip Reef Shark, Hin Pae" />
					</a>
					<figcaption>Blacktip Reef Shark, Hin Pae, Thailand</figcaption>
				</figure>
			</div>

		</section>

		<hr class="last" />
	</div>

</article>
