<article>
	<header>
		<h1>Haier vi har sett</h1>
		<img class="main-image" src="img/default_image.jpg" alt="Default" />
	</header>

	<div class="post-content bg-subtle-grey">

		<ol>
			<li><a href="#bullshark">Bull Shark <i>(Carcharhinus leucas)</i></a></li>
			<li><a href="#silkyshark">Silky Shark <i>(Carcharhinus falciformis)</i></a></li>
			<li><a href="#galapagosshark">Galapagos Shark <i>(Carcharhinus galapagensis)</i></a></li>
			<li><a href="#scallopedhammerheadshark">Scalloped Hammerhead Shark<i>(Sphyrna lewini)</i></a></li>
			<li><a href="#caribbeanreefshark">Caribbean Reef Shark<i>(Carcharhinus perezi)</i></a></li>
			<li><a href="#nurseshark">Nurse Shark <i>(Ginglymostoma cirratum)</i></a></li>
			<li><a href="#whaleshark">Whale Shark <i>(Rhincodon typus)</i></a></li>
			<li><a href="#blindshark">Blind Shark <i>(Brachaelurus waddi)</i></a></li>
			<li><a href="#spottetwobbegong">Spottet Wobbegong Shark<i>(Orectolobus maculatus)</i></a></li>
			<li><a href="#silvertipshark">Silvertip Shark <i>(Carcharhinus albimarginatus)</i></a></li>
			<li><a href="#greyreefshark">Grey Reef Shark <i>(Carcharhinus amblyrhynchos)</i></a></li>
			<li><a href="#whitetipreefshark">Whitetip Reef Shark <i>(Triaenodon obesus)</i></li>
			<li><a href="#zebrashark">Zebra Shark <i>(Stegostoma fasciatum)</i></a></li>
			<li><a href="#blacktipreefshark">Blacktip Reef Shark <i>(Carcharhinus melanopterus)</i></a></li>
		</ol>

		<section id="bullshark">
			<h2>Bull Shark <i>(Carcharhinus leucas)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd>Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>omtrent 340cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide tropical and sub-tropical seas</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2014-11-24">24. november 2014, Santa Lucia, Cuba</time></li>
				<li><time datetime="2014-11-26">26. november 2014, Santa Lucia, Cuba</time></li>
				<li><time datetime="2014-12-07">07. desember 2014, Playa del Carmen, Mexico</time></li>
			</ol>

			<p></p>

		</section>

		<section id="silkyshark">
			<h2>Silky Shark <i>(Carcharhinus falciformis)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd>Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>omtrent 330cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide tropical seas</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2014-10-17">17. oktober 2014, Shark Bay, Wolf Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Shark Bay, Wolf Island, Galpágos, Ecuador (dykk 2)</time></li>
			</ol>

			<p></p>

		</section>

		<section id="galapagosshark">
			<h2>Galapagos Shark <i>(Carcharhinus galapagensis)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd>Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>sansynligvis 370cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide, patchy, mainly around warm-temperate to tropical oceanic islands</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2014-10-16">16. oktober 2014, Land Slide, Wolf Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-16">16. oktober 2014, Darwins Arch, Darwin Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Land Slide, Wolf Island, Galpágos, Ecuador</time></li>
			</ol>

			<p></p>

		</section>

		<section id="scallopedhammerheadshark">
			<h2>Scalloped Hammerhead Shark<i>(Sphyrna lewini)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Hammerhead Shark</dt>
					<dt>Status</dt>
					<dd>Truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>420cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide warm temperate and tropical seas</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2014-10-15">15. oktober 2014, Roca Redonda, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-15">15. oktober 2014, Roca Redonda, Galpágos, Ecuador (dykk 2)</time></li>
				<li><time datetime="2014-10-16">16. oktober 2014, Land Slide, Wolf Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-16">16. oktober 2014, Darwins Arch, Darwin Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-16">16. oktober 2014, Darwins Arch, Darwin Island, Galpágos, Ecuador (dykk 2)</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Elephant, Wolf Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Shark Bay, Wolf Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Shark Bay, Wolf Island, Galpágos, Ecuador (dykk 2)</time></li>
				<li><time datetime="2014-10-23">23. oktober 2014, Gordon Rocks, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-23">23. oktober 2014, Gordon Rocks, Galpágos, Ecuador (dykk 2)</time></li>
			</ol>

			<p></p>

		</section>

		<secticon id="caribbeanreefshark">
			<h2>Caribbean Reef Shark<i>(Carcharhinus perezi)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd>Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>295cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>West Atlantic, south United States to Brazil including Caribbean</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2014-09-08">08. september 2014, Blue Hole, Belize</time></li>
				<li><time datetime="2014-09-08">08. september 2014, Half Moon Caye, Belize</time></li>
				<li><time datetime="2014-09-08">08. september 2014, Aquarium, Belize</time></li>
			</ol>

			<p></p>

		</section>

		<section id="nurseshark">
			<h2>Nurse Shark <i>(Ginglymostoma cirratum)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Nurse Shark</dt>
					<dt>Status</dt>
					<dd>Mangler data</dd>
					<dt>Største registrerte lengde</dt>
					<dd>omtrent 300cm (sansynligvis 430cm)</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>East Pasific, west and east Atlantic</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2014-08-28">28. august 2014, La Francesa, Cozumel, Mexico</time></li>
				<li><time datetime="2014-08-29">29. august 2014, Punta Sur, Cozumel, Mexico</time></li>
				<li><time datetime="2014-08-29">29. august 2014, Cederal Wall, Cozumel, Mexico</time></li>
				<li><time datetime="2014-09-01">01. september 2014, Santa Rosa Wall, Cozumel, Mexico</time></li>
				<li><time datetime="2014-09-01">01. september 2014, Paso de Cederal, Cozumel, Mexico</time></li>
				<li><time datetime="2014-09-01">01. september 2014, Paso de Cederal, Cozumel, Mexico (nattdykk)</time></li>
				<li><time datetime="2014-09-06">06. september 2014, Caye Caulker, Belize</time></li>
				<li><time datetime="2014-12-10">10. desember 2014, Cederal Wall, Cozumel, Mexico</time></li>
			</ol>

			<p></p>

		</section>

		<section id="whaleshark">
			<h2>Whale Shark <i>(Rhincodon typus)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Whale Shark</dt>
					<dt>Status</dt>
					<dd>Sårbar</dd>
					<dt>Største registrerte lengde</dt>
					<dd>sansynligvis 1700-2100cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide all tropical and warm temperate seas except Mediterranean</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2014-08-20">20. august 2014 (snorkling), Isla Mujeres, Mexico</time></li>
				<li><time datetime="2014-08-24">24. august 2014 (snorkling), Isla Mujeres, Mexico</time></li>
				<li><time datetime="2014-09-27">27. september 2014 (snorkling), Utila, Honduras</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Shark Bay, Wolf Island, Galápagos, Ecuador</time></li>
			</ol>

			<p></p>

		</section>

		<section id="blindshark">
			<h2>Blind Shark <i>(Brachaelurus waddi)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Blind Sharks</dt>
					<dt>Status</dt>
					<dd>Ikke truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>120cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>East Australia</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2008-12-8">8. desember 2008, Julian Rocks, Byron Bay, Australia</time></li>
			</ol>

			<p>
				Blind Shark er en liten hai som trives på stenete havbunn hvor den kan gjemme seg mellom stenene.
				Til tross for navnet er haien ikke blind. Navnet har den fått av fiskere på grunn av måten den
				trekker øynene inn og lukker de når den tas ut av vann. Da ser det ut som den ikke har øyne. Vi så en
				Blidn Shark som gjemte seg mellom noen stener på Julian Rocks. Vi fikk desverre ikke noe godt bilde av haien.
			</p>

		</section>

		<section id="spottetwobbegong">
			<h2>Spottet Wobbegong Shark<i>(Orectolobus maculatus)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Wobbegong</dt>
					<dt>Status</dt>
					<dd>Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>170cm (320cm ubekreftet)</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Australia</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2008-12-6">6. desember 2008, Julian Rocks, Byron Bay, Australia</time></li>
				<li><time datetime="2008-12-7">7. desember 2008, Julian Rocks, Byron Bay, Australia</time></li>
				<li><time datetime="2008-12-8">8. desember 2008, Julian Rocks, Byron Bay, Australia</time></li>
				<li><time datetime="2008-12-8">8. desember 2008, Julian Rocks, Byron Bay, Australia (dykk 2)</time></li>
				<li><time datetime="2008-12-9">9. desember 2008, Julian Rocks, Byron Bay, Australia</time></li>
				<li><time datetime="2008-12-9">9. desember 2008, Julian Rocks, Byron Bay, Australia (dykk 2)</time></li>
			</ol>

			<p>
				Wobbegong haier er litt snåle haier. De blir forholdsvis store og ligger rolig på bunnen uten å bry seg særlig om dykkere.
				Man kan komme svært nært haien. Den brukes som mat i Australia, og bestiller du fish and chips er det god sjanse for at det er Wobbegong du får servert.
				Vi så masse Wobbegong på alle våre dykk på Julian Rocks.
			</p>
		</section>

		<section id="silvertipshark">
			<h2>Silvertip Shark <i>(Carcharhinus albimarginatus)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd>Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>omtrent 300cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Tropical Indo-Pasific, wide ranging patchy distribution</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia</time></li>
			</ol>

			<p>
				Under hai matingen på Osprey Reef dukket tre store Silvertip Shark opp. Dykkeguidene fortalte
				at de store haiene med hvit finnetupp var Oceanic Whitetip Shark, noe vi har tatt for god fisk i flere år.
				Etter å ha studert bildene og lest litt mer om artene, ser vi at disse må ha vært Silvertip Shark.
				Begge artene hører til Requiem Shark familien, og er omtrent like store. Begge har tydelige hvite finnetupper.
				Det som skiller artene, er at Oceanic Whitetip har svært store brystfinner og ryggfinne som er avrundet.
				Silvertip har spissere finner som er en del mindre.
			</p>

		</section>

		<section id="greyreefshark">
			<h2>Grey Reef Shark <i>(Carcharhinus amblyrhynchos)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd>Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>sansynligvis 233-255cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Indo-Pasific</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 2)</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 3)</time></li>
				<li><time datetime="2012-11-09">09. november 2012, The Office, Tofo, Mosambik</time></li>
			</ol>

			<p>
				Vi hadde tre flotte dykk på Osprey Reef i Australia som en del av en liveaboard tur. Det andre
				dykket på Osprey Reef var et rent haidykk, hvor instruktørene matet haiene med frosne tunfisk hoder.
				Under matingen så vi Grey Reef Shark, Whitetip Reef Shark, Blacktip Reef Shark og Silvertip Shark.
				Arten det var klart flest av, var Grey Reef Shark. I Australia kaller de disse Grey Whaler, men det er snakk
				om samme hai. Vi så Grey Reef Shark på nytt i Mosambik.
			</p>

		</section>

		<section id="whitetipreefshark">
			<h2>Whitetip Reef Shark <i>(Triaenodon obesus)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd>Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>minst 160cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Indo-Pasific</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2008-03-15">15. mars 2008, Saxton Reef, Great Barrier Reef, Australia</time></li>
				<li><time datetime="2008-07-26">26. juli 2008, Cod Hole, Great Barrier Reef, Australia</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 2)</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 3)</time></li>
				<li><time datetime="2008-07-29">29. juli 2008, Saxton Reef, Great Barrier Reef, Australia</time></li>
				<li><time datetime="2012-11-09">09. november 2012, The Office, Tofo, Mosambik</time></li>
				<li><time datetime="2014-10-27">27. oktober 2014, Los Tunneles, Isla Isabela, Galapagos</time></li>
			</ol>

			<p>
				Whitetip Reef Shark er den haien vi har sett flest ganger under dykking. Vi har sett den i Australia,
				Mosambik og Galapagos. Whitetip Reefshark er en mellomstor hai med slank kropp. På dagtid ligger
				den ofte å slapper av på bunnen. Om natten jakter den på korallrevene. Whitetip Reef Shark er en av få haiarter
				som jakter i flokk.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2365416559/in/set-72157647612927194">
						<img src="https://farm4.staticflickr.com/3064/2365416559_476c2a124a_z.jpg" alt="Whitetip Reef Shark, Saxton Reef" />
					</a>
					<figcaption>Whitetip Reef Shark, Saxton Reef, Australia</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2722910246/in/set-72157647612927194">
						<img src="https://farm3.staticflickr.com/2275/2722910246_954d994a94_z.jpg" alt="Whitetip Reef Shark, Osprey Reef" />
					</a>
					<figcaption>Whitetip Reef Shark, Osprey Reef, Australia</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15748823189/in/set-72157647612927194">
						<img src="https://farm8.staticflickr.com/7477/15748823189_06625e4775_z.jpg" alt="Whitetip Reef Shark, Los Tuneles" />
					</a>
					<figcaption>Whitetip Reef Shark, Los Tuneles, Galapagos</figcaption>
				</figure>
			</div>

		</section>

		<section id="zebrashark">
			<h2>Zebra Shark <i>(Stegostoma fasciatum)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Zebra Shark</dt>
					<dt>Status</dt>
					<dd>Truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>235cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Indo-west Pasific</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2008-01-18">18. januar 2008, Breakfast Bend, Similian Islands, Thailand</time></li>
				<li><time datetime="2008-01-23">23. januar 2008, Shark Point, Phi Phi Islands, Thailand</time></li>
			</ol>

			<p>
				Zebra Shark var den første haien vi så under dykking.
				Dette er en forholdsvis vanlig hai i Thailand, hvor den også kalles Leopard Shark.
				Dette navnet er feil, da det finnes en annen art med dette navnet som lever på vestkysten av USA, og
				ser helt annerledes ut. Zebra Shark ligger ofte rolig på sandbunnen og slapper av.
				Når den svømmer er den svært elegant med den lange halen.
			</p>

		</section>

		<section id="blacktipreefshark">
			<h2>Blacktip Reef Shark <i>(Carcharhinus melanopterus)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd>Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>mindre enn 200cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>West Pasific, Indian Ocean and east Mediterranean</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2007-07-07">07. juli 2007, Ras Gheslani, Egypt</time></li>
				<li><time datetime="2008-01-22">22. januar 2008, Palong North, Phi Phi Islands, Thailand</time></li>
				<li><time datetime="2008-01-23">23. januar 2008 (snorkling), Hin Pae, Phi Phi Islands, Thailand</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 2)</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 3)</time></li>
				<li><time datetime="2011-11-19">19. november 2011 (snorkling), Phi Phi Islands, Thailand</time></li>
			</ol>

			<p>
				Blacktip Reef Shark så vi flere ganger i Thailand under dykking og snorkling. Haien tilhører familien
				Requiem Shark. Utseende på Requiem Sharks er hva folk flest forbinder med hai. På Phi Phi er det mange
				operatører som tilbyr snorkleturer hvor man nesten garantert får sett haiene. Blacktip Reef Sharks
				jakter inne på korallrevene tidlig om morgenen. Vi fikk tips om en strand på Phi Phi, Hin Pae, hvor man kunne
				snorkle 50-60m ut  ut å se haiene. Her så vi 6-8 haier som svømte rundt på ca 1.5-2m dypt vann i jakt på en matbit
				en tidlig morgen. Senere har vi sett Black Tip Reef Sharks i Australia på Osprey Reef.
			</p>

			<div class="imagestrip col-2">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2212091252/in/set-72157647612927194">
						<img src="https://farm3.staticflickr.com/2157/2212091252_e84fe5911f_z.jpg" alt="Blacktip Reef Shark, Palong North" />
					</a>
					<figcaption>Blacktip Reef Shark, Palong North, Thailand</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2222701024/in/set-72157647612927194">
						<img src="https://farm3.staticflickr.com/2411/2222701024_34bbe7decb_z.jpg" alt="Blacktip Reef Shark, Hin Pae" />
					</a>
					<figcaption>Blacktip Reef Shark, Hin Pae, Thailand</figcaption>
				</figure>
			</div>

		</section>

		<hr class="last" />
	</div>

</article>
