<article>
	<header>
		<h1>Haier vi har sett</h1>
		<img class="main-image" src="img/default_image.jpg" alt="Default" />
	</header>

	<div class="post-content bg-subtle-grey">

		<section>
			<h2>Shark Name <i>(Latin Name)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd></dt>
					<dt>Status</dt>
					<dd></dd>
					<dt>Største registrerte lengde</dt>
					<dd></dd>
					<dt>Geografisk distribusjon</dt>
					<dd></dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2008-01-18"></time></li>
			</ol>

			<p></p>

		</section>

		<section>
			<h2>Whitetip Reef Shark <i>(Triaenodon obesus)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd>Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>minst 160cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Indo-Pasific</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2008-03-15">15. mars 2008, Saxton Reef, Great Barrier Reef, Australia</time></li>
				<li><time datetime="2008-07-26">26. juli 2008, Cod Hole, Great Barrier Reef, Australia</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia</time></li>
				<li><time datetime="2008-07-29">29. juli 2008, Saxton Reef, Great Barrier Reef, Australia</time></li>
				<li><time datetime="2012-11-09">09. november 2012, The Office, Tofo, Mosambik</time></li>
				<li><time datetime="2014-10-27">27. oktober 2014, Los Tunneles, Isla Isabela, Galapagos</time></li>
			</ol>

			<p></p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2365416559/in/set-72157647612927194">
						<img src="https://farm4.staticflickr.com/3064/2365416559_476c2a124a_z.jpg" alt="Whitetip Reef Shark, Saxton Reef" />
					</a>
					<figcaption>Whitetip Reef Shark, Saxton Reef, Australia</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2722910246/in/set-72157647612927194">
						<img src="https://farm3.staticflickr.com/2275/2722910246_954d994a94_z.jpg" alt="Whitetip Reef Shark, Osprey Reef" />
					</a>
					<figcaption>Whitetip Reef Shark, Osprey Reef, Australia</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15748823189/in/set-72157647612927194">
						<img src="https://farm8.staticflickr.com/7477/15748823189_06625e4775_z.jpg" alt="Whitetip Reef Shark, Los Tuneles" />
					</a>
					<figcaption>Whitetip Reef Shark, Los Tuneles, Galapagos</figcaption>
				</figure>
			</div>

		</section>

		<section>
			<h2>Zebra Shark <i>(Stegostoma fasciatum)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Zebra Shark</dt>
					<dt>Status</dt>
					<dd>Truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>235cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Indo-west Pasific</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2008-01-18">18. januar 2008, Breakfast Bend, Similian Islands, Thailand</time></li>
				<li><time datetime="2008-01-23">23. januar 2008, Shark Point, Phi Phi Islands, Thailand</time></li>
			</ol>

			<p>
				Zebra Shark var den første haien vi så under dykking.
				Dette er en forholdsvis vanlig hai i Thailand, hvor den også kalles Leopard Shark.
				Dette navnet er feil, da det finnes en annen art med dette navnet som lever på vestkysten av USA, og
				ser helt annerledes ut. Zebra Shark ligger ofte rolig på sandbunnen og slapper av.
				Når den svømmer er den svært elegant med den lange halen.
			</p>

		</section>

		<section>
			<h2>Blacktip Reef Shark <i>(Carcharhinus melanopterus)</i></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd>Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>mindre enn 200cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>West Pasific, Indian Ocean and east Mediterranean</dd>
				</dl>
			</aside>

			<ol>
				<li><time datetime="2007-07-07">07. juli 2007, Ras Gheslani, Egypt</time></li>
				<li><time datetime="2008-01-22">22. januar 2008, Palong North, Phi Phi Islands, Thailand</time></li>
				<li><time datetime="2008-01-23">23. januar 2008 (snorkling), Hin Pae, Phi Phi Islands, Thailand</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia</time></li>
			</ol>

			<p>
				Blacktip Reef Shark så vi flere ganger i Thailand under dykking og snorkling. Haien tilhører familien
				Requiem Shark. Utseende på Requiem Sharks er hva folk flest forbinder med hai. På Phi Phi er det mange
				operatører som tilbyr snorkleturer hvor man nesten garantert får sett haiene. Blacktip Reef Sharks
				jakter inne på korallrevene tidlig om morgenen. Vi fikk tips om en strand på Phi Phi, Hin Pae, hvor man kunne
				snorkle 50-60m ut  ut å se haiene. Her så vi 6-8 haier som svømte rundt på ca 1.5-2m dypt vann i jakt på en matbit
				en tidlig morgen. Senere har vi sett Black Tip Reef Sharks i Australia på Osprey Reef.
			</p>

			<div class="imagestrip col-2">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2212091252/in/set-72157647612927194">
						<img src="https://farm3.staticflickr.com/2157/2212091252_e84fe5911f_z.jpg" alt="Blacktip Reef Shark, Palong North" />
					</a>
					<figcaption>Blacktip Reef Shark, Palong North, Thailand</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2222701024/in/set-72157647612927194">
						<img src="https://farm3.staticflickr.com/2411/2222701024_34bbe7decb_z.jpg" alt="Blacktip Reef Shark, Hin Pae" />
					</a>
					<figcaption>Blacktip Reef Shark, Hin Pae, Thailand</figcaption>
				</figure>
			</div>

		</section>

		<hr class="last" />
	</div>

</article>
