<article>
	<header>
		<h1>Hval<span>ulike arter vi har sett</span></h1>
		<time>2008-2016</time>
		<img class="main-image" src="" alt="" />
	</header>

	<div class="post-content bg-subtle-grey hval">

		<p>
			
		</p>

		<h3 id="in-page-menu">Arter vi har sett</h3>
		<ol class="in-page-menu" reversed="reversed">
			<li><a href="#"><i>()</i></a></li>
			
		</ol>

		<section id="velvetbellylanternshark">
			<h2><i>()</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd></dt>
					<dt>Status</dt>
					<dd class="iunc-cat"></dd>
					<dt>Største registrerte lengde</dt>
					<dd></dd>
					<dt>Geografisk distribusjon</dt>
					<dd></dd>
					<dt>Les mer</dt>
					<dd></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 6, points: "63.325366, 10.115084"}) %>
			</aside>

			<p>
				
			</p>
	
			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime=""></time></li>				
			</ol>

			<div class="imagestrip col-2">
				<%- partial("/partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
			</div>
		</section>
		
		

		<hr class="last" />
	</div>

</article>
