<article>
        <header>
            <h1 class="dark">
                Dag 104
                <span>Cubalibre</span>
            </h1>
            <time datetime="2014-11-30">30. november 2014 . Havanna, Cuba</time>
            <img class="main-image" src="https://farm9.staticflickr.com/8627/15814179409_34673db6aa_k.jpg" alt="" />
            <!-- https://farm9.staticflickr.com/8627/15814179409_4a6dabdc9c_m.jpg -->
        </header>

        <div class="post-content bg-subtle-grey">

            <p>
                Så bar det nordover igjen. Jonas hadde for en stund tilbake bestemt seg for å løpe halvmarathon distansen på Havana Marathon på Cuba. Vi reiste nordover og tilbragte dagene før konkurransen i Havana. Den første dagen hadde vi leid en guide som tok oss med rundt i gamlebyen og deler av Havanna sentrum og fortalte om alt fra historiske hendelser, hvordan ting fungerer på Cuba, til andre interessante kuriositeter. Jonas hadde selvfølgelig et tonn med spørsmål om både det ene og det andre så vi fikk nok vite en del mer enn den gjennomsnittlige turist som bare lyttet.
            </p>

            <div class="imagestrip col-3">
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15992314451/in/set-72157649295835630" title="">
                        <img src="https://farm8.staticflickr.com/7502/15992314451_7f59974ed5_z.jpg" alt="" />
                    </a>
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15808282869/in/set-72157649295835630" title="">
                        <img src="https://farm8.staticflickr.com/7512/15808282869_60854260b7_z.jpg" alt="" />
                    </a>
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15807018040/in/set-72157649295835630" title="">
                        <img src="https://farm9.staticflickr.com/8635/15807018040_441076f617_z.jpg" alt="" />
                    </a>
                    <figcaption></figcaption>
                </figure>
            </div>

            <p>
                Dagene ble brukt til å vandre rundt i gatene i Havana. Gamlebyen er en veldig fin, og den mest besøke delen av Havana, men vi vandret og i flere retninger utenfor denne. Utrolig  interessant å se de store kontrastene mellom alt det nye og det gamle, mellom det velholdte og det nedslitte. Med alle de gamle bilene kom følelsen av at man var i en Sin City film ganske ofte.
            </p>

            <figure>
                <a href="https://www.flickr.com/photos/hegerokenes/15992327031/in/set-72157649295835630" title="">
                    <img src="https://farm8.staticflickr.com/7574/15992327031_1d4b74f041_h.jpg" alt="" />
                </a>
                <figcaption>Fargerikt</figcaption>
            </figure>

            <h2>Marabana</h2>
            <p>
                Jonas fullførte sin halvmarathon på 1:39:32 på en av de varmeste dagene i Havana. 120. plass av 1142 i herreklassen. Tradisjonen tro donerte han bort løpeskoene sine til en av de lokale løperne som fullførte løpet i "kommunist-converse", og gikk barbeint hjem.
            </p>

            <div class="imagestrip col-3">
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15992347871/in/set-72157649295835630" title="">
                        <img src="https://farm8.staticflickr.com/7548/15992347871_7666618d91_z.jpg" alt="" />
                    </a>
                    <figcaption>Tidtakerbilen måtte startes manuelt</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15372087214/in/set-72157649295835630" title="">
                        <img src="https://farm8.staticflickr.com/7509/15372087214_9baa451984_z.jpg" alt="" />
                    </a>
                    <figcaption>Startskudd</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15807086160/in/set-72157649295835630" title="">
                        <img src="https://farm8.staticflickr.com/7518/15807086160_3dc375af76_z.jpg" alt="" />
                    </a>
                    <figcaption>Skoløs</figcaption>
                </figure>
            </div>

            <h3>Flere bilder fra Havanna</h3>
            <iframe  class="flickr-embedd large" src="https://www.flickr.com/photos/hegerokenes/15808483627/in/set-72157649295835630/player/" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

            <h2>Andre byer</h2>
            <p>
                Vi besøkte flere byer i Cuba og vi reiste mellom stedene med buss. Den første byen vi reiste til var Trinidad. Trinidad er en liten by som er kjent for å være veldig velholdt og pen for Cuba standard. Trinidad var en av de rike byene som en konsekvens av sukkerproduksjon for alkoholindustrien.
            </p>
            <p>
                Dagen etter vi kom til Trinidad kom Magne, en kompis og kollega av Jonas, med dama og to kompiser og møtte oss. Vi hang med det i tre dager før de dro til Havana. Vi rakk å få oss en tur på stranden, nyte noen av byens turistmål og ikke minst en tur på Cave rave som var det mest overraskende og mest bissarre Trinidad hadde å by på.
            </p>

            <div class="imagestrip col-3">
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15817717420/in/set-72157649746506215" title="">
                        <img src="https://farm8.staticflickr.com/7510/15817717420_e13df733a9_z.jpg" alt="" />
                    </a>
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15813976570/in/set-72157649746506215" title="">
                        <img src="https://farm8.staticflickr.com/7563/15813976570_9ac0e515b1_z.jpg" alt="" />
                    </a>
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/16001233405/in/set-72157649746506215" title="">
                        <img src="https://farm9.staticflickr.com/8675/16001233405_bf35cdf0be_z.jpg" alt="" />
                    </a>
                    <figcaption></figcaption>
                </figure>
            </div>

            <h3>Flere bilder fra Trinidad</h3>

            <iframe class="flickr-embedd large" src="https://www.flickr.com/photos/hegerokenes/15986779046/in/set-72157649746506215/player/" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

            <h2>Sancti Spiritus</h2>

            <p>
                Vi reiste videre fra Trinidad til Sancti Spiritus, hvor vi kun tilbragte en natt. Vi hadde lest i Lonely Planet at den største innsjøen i Cuba ligger her og at man kan fiske black bass. Dette sto listet under "off the beaten track", som Lonely Planet kaller seksjonen. Det betyr i praksis at det ikke er så mange som gjør det, og at det ikke er super tilrettelagt, men at det virkelig er verdt det. Vi tok turen og endte opp med å vente 2,5 timer på en rønne av et hotell med et personale som var overrasket over at det kom noen som ville fiske. Vi hadde tenkt å spise lunsj der, men ikke hærtes fordi det var maurtuer på bordet i spisesalen. Hotellet ble bygget på 70-tallet i strikt sovjetisk kommunist-stil og så ikke ut til å ha blitt mye vedlikeholdt i ettertid. Det var som et spøkelseshotell uten gjester. Vi kom oss til slutt ut i båten på innsjøen hvor vi så mye fisk som hoppet og plasket, men det meste var av feil art. Flere kraftige regnskurer skylte over oss der vi sto i en bitteliten båt uten overbygg. Ingen av oss fikk noe fisk, men guiden vår fikk en så vi fikk sett hvordan den så ut i alle fall.
            </p>

            <div class="imagestrip col-3">
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/16106363705/in/set-72157649523959180" title="">
                        <img src="https://farm8.staticflickr.com/7492/16106363705_2614552215_z.jpg" alt="" />
                    </a>
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/16106393785/in/set-72157649523959180" title="">
                        <img src="https://farm8.staticflickr.com/7504/16106393785_ba8529a992_z.jpg" alt="" />
                    </a>
                    <figcaption></figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/16105688242/in/set-72157649523959180" title="">
                        <img src="https://farm9.staticflickr.com/8651/16105688242_0d19433792_z.jpg" alt="" />
                    </a>
                    <figcaption></figcaption>
                </figure>
            </div>

            <h2>Haidykking</h2>
            <p>
                Santa Lucia er en kyststripe på nordsiden av Cuba. Vi kom hit via en natt i Camagüey. Her er det mulighet for å dykke med oksehai, som var grunnen til at vi dro opp dit. Desverre var hostellet fullbooket, og det eneste ledige var på et all-inklusiv hotell kjent for å hatt sin storhetstid for et par tiår siden. Vi tok det vi fikk, og reiste oppover. Santa Lucia er et populært reisemål for Canadiere. De ligner stadig mer på Amerikanerne der de lå rundt bassenget med sine 0,8l termokopper fulle av coctail kl. 10 på en torsdag formiddag.
            </p>    

            <p>
                Forutenom dykking var det ikke mange andre aktiviteter på Santa Lucia, med mindre man var keen på å sitte rundt bassenge å drikke drinker og spille bingo om en flaske sprit. Så vi dykket. Totalt hadde vi 4 dykk på de 4 dagene vi var der, hvorav to av de var med oksehaiene. Briefing i forkant av dykkene og fokus på sikkerhet kan man vel ikke si var i høysete hos denne dykkeoperatøren, som for øvrig var det eneste valget man hadde. Heldigvis har vi blitt såpass erfarne nå at vi kan ta vare på oss selv og er trygg nok til å stille de nødvendige spørsmålene. På det første haidykket hadde vi en ganske stor hai og en mindre som kom for å få seg en godbit. De var begge ganske sky og kom til slutt nærmere for å raske med seg en bit før de forsvant. På det andre dykket hadde vi fem store damer som var veldig giret. De sirklet foran oss og tok fiskebiter fra hånden til dykkeguiden. Flere ganger var de 1,5 meter fra oss. Utrolig vakre, sterke og facinerende fisker.
            </p>

            <div class="imagestrip col-3">
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15874202809/in/set-72157649426296089" title="">
                        <img src="https://farm8.staticflickr.com/7500/15874202809_7ccd6f9204_z.jpg" alt="" />
                    </a>
                    <figcaption>Mating rett fra handa</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15416486234/in/set-72157649426296089" title="">
                        <img src="https://farm8.staticflickr.com/7489/15416486234_eaeec60b60_z.jpg" alt="" />
                    </a>
                    <figcaption>Snuser seg fram til maten</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/16059614542/in/set-72157649426296089" title="">
                        <img src="https://farm8.staticflickr.com/7544/16059614542_96dbcc5403_z.jpg" alt="" />
                    </a>
                    <figcaption>Nyskjerrigper</figcaption>
                </figure>
            </div>

            <h2>Bosted</h2>
            <p>
                Når Cuba åpnet grensene for turisme eksisterte det ikke mange hoteller. Derfor gav de lokalbefolkningen lov til å leie ut rom. Dette kalles "Casa particulares", og er den mest vanlige måten å bo på, dersom man ønsker å bo billig. For 20-30$ per natt fikk man et rom ofte med eget bad. Frokost kunne man også få for 4-5$, og mange av casaene serverte også middag for 8-12$. Det som var gøy var at man fikk se innsiden av mange cubanske hjem. Vi bodde på 6 ulike casaer, hvorav de mest facinerende var de av gammel spansk colonial-stil med 3 meters takhøyde.
            </p>

            <h2>Maten</h2>
            <p>
                Cuba er ikke akkurat kjent for sine kulinariske opplevelser, men har i følge matverdnen blitt bedre de 5 siste årene. Litt av utfordringen er nok tilgangen til råvarer på grunn av det strenge styresettet. Man skulle tro at en øy midt i Caribbien ville være influert av de krydrene og tilberedningsmetodene som brukes der, men det var langt fra virkeligheten. Det virket heller ikke som om det var noen samsvar mellom pris og kvalitet. Vi prøvde både dyre og billige steder. Det meste vi spiste var smakløst, og uten sauser eller dressinger. Kjøtt, ris og bønner var faste innslag. Det skal sies at vi hadde noen gode måltider, men det var langt fra noen kulinarisk reise.
            </p>

            <h2>Cubakø</h2>
            <p>
                Cuba var et interessant land på mange måter. Internett er for eksempel ingen selvfølge, kun tilgjengelig gjennom statseide internett-terminaler med "kontaktkort"-løsning for rundt 70 NOK per time. Dyrt for nordmenn og EKSTREMT dyrt for cubanerne. Vi lærte at de i april i år åpnet for å ha e-post på mobiltelefoner, og siden da har det vært kø utenfor telefonselskapet som må aktivere dette for hver og en. 
            </p>
            <P>
                Cubanerne får også rasjonskort en gang i året, som de selvfølgelig må stå i kø for å få, og får da kjøpt en del basisvarer billig. Det er dog såvidt nok for å overleve. Når de har brukt rasjonskvoten sin må de ut på det åpne markedet hvor prisene er langt høyere. Langdistansebusser må man gjerne vente 2-3 dager for å få billetter til. Visum til USA gjerne 1-2 år.
            </p>
            <p>
                Cubanerne er i bunn og grunn nødt, vant og flinke til å stå i kø. Kommer man inn på feks flyselskapet sine kontorer for å kjøpe billett, spør man bare hvem som er "el ultimo" - den siste i køen. Alle må ha styr på hvem de har før seg og hvem de har etter seg. Det fungerer til en viss grad, for noen Cubanere er også veldig flinke til å snike.
            </p>

            <p>
                Selv om det var mange frustrasjoner rundt hvordan ting fungerte i Cuba er det gøy å ha vært å sett og opplevd landet slik det er. Like etter at vi reiste ble det gjort offentling at USA har inngått et nytt samarbeid med Cuba som åpner grensene for mer turisme fra USA. Det blir interessant å se hva som skjer i årene framover.
            </p>

            <hr class="last" />
        </div>
</article>