<article>
        <header>
                <h1 class="dark">
                    Dag 21
                    <span>Det store blå hullet</span>
                </h1>
                <time datetime="2014-09-08">08. september 2014 . Caye Caulker, Belize</time>
                <img class="main-image" src="https://farm4.staticflickr.com/3920/15162375706_11b9a04655_k.jpg" alt="Stalaktitter" />
        </header>

        <div class="post-content bg-subtle-grey">
                <p>
                    Mandag denne uken var det opp enda tidligere enn vi pleier, for vi skulle på langtur med dykkebåt. 05:00 var det oppmøte på Belize Diving Services for felles frokost, 06:00 avgang til The Great Blue Hole.
                </p>
                <p>
                    The Great Blue Hole er det mest kjente av flere lignende synkehull. Noen kaller fenomenet også vertikale grotter som ble formet før havnivået hevet seg. The Great Blue Hole er ca 300 meter i diameter og 124-125 meter dyp. Forskning viser at grotten har formet seg på flere stadier mellom det økende havnivået, da det henholdsvis på 21, 49 og 91 meters dybde finnes like overheng. Under disse overhengende finner man store stalaktitter (som på gresk betyr dryppende). Disse er kalkstein som over tid "renner" nedover og skaper istapplignende formasjoner.
                </p>
                <p>
                    På båten var det dykkere av ulik sertifiseringsgrad og erfaring. De med nok sertifisering og erfaring fikk være med på det dypeste dykket, som går ned under det første overhengenet som ligger på rundt 40 meter.
                    Vi har aldri dykket så dypt før, kun til 36 meter, så det var spennende i seg selv.
                </p>
                <p>
                    Vi hoppet i vannet med en gruppe på 7 dykkere totalt inkl. guiden. Sikten var så som så, kanskje 10 meter. Vi hoppet uti langs kanten på hullet, som er et grunt korallrev, som går ned til 18 meter før det vertikale hullet starter. The Great Blue Hole er ikke kjent for sitt yrende dyre, eller korall liv da hullet i seg selv er av kalkstein (limestone). Er man heldig kan man få en del hai på rundt 25 meters dybde.
                </p>
                <h2>Dypdykk</h2>
                <p>
                    Vi gikk relativt raskt ned til 35 meter hvor stalaktitter kom til synet, og sikten ble langt bedre, dog var det mørkere. Vi svømte inn under overhenget og mellom stalaktittene som var langt større enn vi hadde sett for oss. Vi hadde kun 5 minutter bunntid på 40 meter før vi måtte begynne å bevege oss oppover på grunnere dybde.
                </p>
                <div class="imagestrip col-3">
                    <figure>
                        <a href="https://www.flickr.com/photos/hegerokenes/15182361721/" title="">
                            <img src="https://farm4.staticflickr.com/3878/15182361721_87fbbe6706_z.jpg" alt="" />
                        </a>
                    </figure>
                    <figure>
                        <a href="https://www.flickr.com/photos/hegerokenes/15182345151/" title="">
                            <img src="https://farm4.staticflickr.com/3915/15182345151_84668afd69_z.jpg" alt="" />
                        </a>
                    </figure>
                    <figure>
                        <a href="https://www.flickr.com/photos/hegerokenes/14998775348/" title="">
                            <img src="https://farm4.staticflickr.com/3882/14998775348_a334064099_z.jpg" alt="" />
                        </a>
                    </figure>
                </div>
                <p>
                    Dykket i seg selv var ikke noe høydare, vi har dykket på mange steder som er flottere på mange måter, men stalaktittene var noe helt spesielt. Så det var liksågreit at det kun var et dykk på 30 minutter.  Mange mener at The Great Blue Hole er kun blitt et punkt på bucketlisten for mange kun på grunn av sin popularitet, og det kan jeg forstå. Anbefaler i alle fall å være sertifisert nok til å ta dypdykket for å se stalaktittene, ellers er det nesten ikke værdt det. Selve hullet ser man heller ikke så godt når man kun kommer 3-4 meter over havoverflaten i båten, det ser langt mer spektakulært ut fra fly.
                </p>

                <h2>Fra det mørke dype, til det lyse grunne</h2>
                <p>
                    Turen i seg selv, var derimot verdt og ta, for de to neste dykkerne vi hadde var helt fantastiske. Vi dykket først på Half Moon Caye wall, hvor lyset var helt fantastisk over korallrevet. Vi fikk også en nyskjerrig karibisk revhai, to eaglerayer som cruiset forbi, skilpadde, papegøyefisker, fairy basslets (nydelig lilla og gul liten fisk) og stimer av små blå fisker som vi ikke har sett før og foreløpig ikke har funnet navnet på.
                </p>

                <div class="imagestrip col-2">
                    <figure>
                        <a href="https://www.flickr.com/photos/hegerokenes/14998908560/" title="">
                            <img src="https://farm4.staticflickr.com/3887/14998908560_475712283a_z.jpg" alt="" />
                        </a>
                    </figure>
                    <figure>
                        <a href="https://www.flickr.com/photos/hegerokenes/14998829499/" title="">
                            <img src="https://farm4.staticflickr.com/3835/14998829499_3e901911cc_z.jpg" alt="" />
                        </a>
                    </figure>
                </div>

                <h2>Fuglereservat</h2>
                <p>
                    Før det siste dykket gikk vi i land på Half Moon Caye, Caye betyr øy. Half Moon Caye er gjort til et naturreservat for fugler. Her hekker blue- og redfooted boobybirds. Vi fikk en guidet tur etter lunsj hvor ene dykkeguiden også plukket og åpnet ferske kokosnøtter til oss. Øya var for øvrig også full av iguaner og landeremittkrepser.
                </p>
                <p>
                    Hele turen fra start til slutt vare i 13 timer, så vi var ganske slitne når vi kom hjem, men begge var enige om at vi hadde hatt en strålende dag :P
                </p>

                <p>
                    <b>PS: Vi har lagt til en lenke i menyen til et reisekart hvor man kan se hvor vi har vært/er.</b>
                </p>

                <div class="embed-container">
                    <iframe src='http://player.vimeo.com/video/105520490' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>

                <hr class="last" />
        </div>
</article>
