<article>
        <header>
            <h1 class="dark">
                Dag 86
                <span>Fjelltur i Peru</span>
            </h1>
            <time datetime="2014-11-12">12. november 2014 . Cusco, Peru</time>
            <img class="main-image" src="https://farm8.staticflickr.com/7483/15765189698_bb0e593272_k.jpg" alt="" />
        </header>

        <div class="post-content bg-subtle-grey">

            <p>
                Vi hadde fått anbefalt av flere vi kjenner at dersom vi skulle til Machu Picchu måtte vi i alle fall gå den tradisjonelle Inka Trailen. Det er en populær rute som går fra et sted kalt Km 82. Derfra er det lagt opp til 4 dager/3 netter for å komme seg til de sagnomsuste Inka ruinene. Det finnes også andre turer man kan ta om den klassiske turen føles for lang eller for kort.
            </p>

            <h2>Inka Trail</h2>

            <p>
                Gruppen bestod av 2 guider, 16 turgåere og 18 portere. Portere er folk, primært menn, som bærer alt utstyret og eventuell bagasje hele turen. De løper i forveien og setter opp campen for lunsj og middag, slår opp teltene våre og lager mat til oss. Mange av porterne er etterkommere av inkaene som opprinnelig brukte disse stiene og bygget trappene og byen. Hver porter bærer for øvrig 25 kg - noe som har blitt redusert fra tidligere 50 kg, fortsatt imponerende da de fleste ikke er høyere enn 160 cm (ca på høyde med May-Brit). 
            </p>

            <div class="imagestrip col-3">
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15758318710/in/set-72157649201601569" title="">
                        <img src="https://farm9.staticflickr.com/8607/15758318710_39b8c5be73_z.jpg" alt="" />
                    </a>
                    <figcaption>Veiing og fordeling</figcaption>
                </figure>

                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15758768428/in/set-72157649201601569" title="">
                        <img src="https://farm8.staticflickr.com/7551/15758768428_d4468373c6_z.jpg" alt="" />
                    </a>
                    <figcaption>Turfølget</figcaption>
                </figure>
                
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15945588222/in/set-72157649201601569" title="">
                        <img src="https://farm8.staticflickr.com/7479/15945588222_f2cc1d6064_z.jpg" alt="" />
                    </a>
                    <figcaption>Prep før start</figcaption>
                </figure>
            </div>

            <p>
                De fire etappene vi skulle gå var lagt opp med følgende stikkord; 1. etappe: Lett, 2.: Utfordrende, 3.: Uforglemmelig og 4.: Machu Picchu - sjarmørettappen som vi kalte den.
            </p>

            <p>
                Stikkordene stemte ganske bra, den første dagen var nesten litt for lett. Vi valset av gårde og hadde nesten mer pause enn gåing. Guiden stoppet titt og ofte for å fortelle om ulike ruiner og tradisjon knyttet til naturen. Dagens tur var 10,2 km og 551 høydemeter.
                Dag to var over det de kalte for Dead Womans Pass som er det høyeste punktet på hele turen. Høydemetrene på denne dagen var langt flere, 1200, men kun 6,2 km. Guidene var veldig opptatte at alle måtte ta denne etappen i sitt eget tempo. Det var veldig variabelt både hvor mye den enkelte bar, hvor god form man var i og hvor aklimatisert man var. Å utsette kroppen for mye og hard aktivitet kan være med på å utløse høydesyken som kan føre til både feber, kvalme og oppkast. Heldigvis var det ingen som ble alvorlig rammet av den. Jeg og Jonas var først oppe på passet og ventet nesten en time før alle var kommet opp.
            </p>

            <div class="imagestrip col-3">
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15760815338/in/set-72157649201601569" title="">
                        <img src="https://farm8.staticflickr.com/7468/15760815338_d48a05b718_z.jpg" alt="" />
                    </a>
                    <figcaption>Ut på tur</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15947584482/in/set-72157649201601569" title="">
                        <img src="https://farm8.staticflickr.com/7461/15947584482_39931702c7_z.jpg" alt="" />
                    </a>
                    <figcaption>Katus</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15762330189/in/set-72157649201601569" title="">
                        <img src="https://farm8.staticflickr.com/7560/15762330189_0a14a87eb7_z.jpg" alt="" />
                    </a>
                    <figcaption>Hele crewet</figcaption>
                </figure>
            </div>

            <h2>Enkel luksus</h2>
            <p>
                Hver morgen ble vi vekket med en kopp coca te i teltet. Vi lå to og to i hvert telt med liggeunderlag og sovepose. Etterpå kom de med et fat med varmt vann så man fikk vasket ansikt og hender før det var klart for frokost.
            </p>

            <p>
                Noe som over hodet ikke var luksus på turen var toalettene. Det var bygget noen offentlige toaletter, mens det var noen privateide som man kunne bruke for 1 sol (ca. 2,40 kroner). Var man heldig var der en porseleensskål man kunne sitte på (absolutt ikke spesielt ren), men standarden var et porseleenshull i bakken.
            </p>

            <h2>Maten</h2>
            <p>
                Alt de klarte å trylle fram av mat på turen var ganske imponerende. De hadde ikke tilgang til å skaffe noe under veis, så alt måtte planlegges på forhånd. Frokostene bestod av blant annet pannekaker, ulike sorter grøt og brød med ulikt pålegg. Middagene var av to til tre retter med suppe som forret og noe kjøtt (kylling, svin eller fisk), masse ris og grønnsaker i ulike varianter og noe frisk salat til hovedrett. Til dessert hadde vi fersken, flytende varm sjokolade og bløtkake. Vi fikk også en pose med mellommåltid som spistes under veis, denne bestod av frukt, sjokolade og kjeks.
            </p>
            <p>
                Dag tre begynte kroppen å si ifra at man hadde belastet den en del. Denne etappen skulle vi kun over et mindre fjellpass og deretter ta oss 1412 meter nedover i høye steintrappetrinn. Dette var noe som virkelig kjentes i beina etter de to foregående dagene. Vi hadde også vært såpass freidig at vi hadde mer eller mindre løpt ned trappene fra Dead Womans Pass.
            </p>

            <div class="imagestrip col-3">
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15764932160/in/set-72157649201601569" title="">
                        <img src="https://farm9.staticflickr.com/8672/15764932160_986c13a228_z.jpg" alt="" />
                    </a>
                    <figcaption>Trapper, trapper, trapper</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15764979610/in/set-72157649201601569" title="">
                        <img src="https://farm8.staticflickr.com/7527/15764979610_b7fc048bc2_z.jpg" alt="" />
                    </a>
                    <figcaption>Indiana Jonas</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15332662813/in/set-72157649201601569" title="">
                        <img src="https://farm8.staticflickr.com/7522/15332662813_5a8eff5fcb_z.jpg" alt="" />
                    </a>
                    <figcaption>Gårdsbruk</figcaption>
                </figure>
            </div>

            <p>
                Den siste dagen ble vi vekket før hanen galte. 03:30 var det frokost. Kl. 04:30 var det 5 min gange ned til inngangsporten til siste etappe før Machu Picchu, og her gjalt det å være så tidlig som mulig. Vi ventet i 1,5 time før portene åpnet kl. 06:00 og vi kunne gå videre. Det gikk radig i 40 min opp til det første utkikkspunktet hvor vi kunne se Machu Picchu for første gang. Derfra var det bare å tusle nedover og gå til siste sjekkpunkt som var inngangen til selve Machu Picchu. Vi fikk 1,5 timer guidet tour inne i ruinene før vi selv kunne vandre rundt på egenhånd.
            </p>

            <div class="imagestrip col-3">
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15765165068/in/set-72157649201601569" title="">
                        <img src="https://farm8.staticflickr.com/7526/15765165068_c318944cce_z.jpg" alt="" />
                    </a>
                    <figcaption>På vei ned til Machu Picchu</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15951923042/in/set-72157649201601569" title="">
                        <img src="https://farm8.staticflickr.com/7471/15951923042_7de5887faf_z.jpg" alt="" />
                    </a>
                    <figcaption>We made it</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15765178078/in/set-72157649201601569" title="">
                        <img src="https://farm8.staticflickr.com/7580/15765178078_399c9af160_z.jpg" alt="" />
                    </a>
                    <figcaption>Machu Piccu</figcaption>
                </figure>

            </div>
            
            <div class="embed-container">
                <iframe src='http://player.vimeo.com/video/113642008' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>

            <h2>Flere bilder fra Inca Trail</h2>

            <iframe class="flickr-embedd large" src="https://www.flickr.com/photos/hegerokenes/15758117118/in/set-72157649201601569/player/" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            
        <hr class="last" />
        </div>
</article>