<article>
        <header>
                <h1 class="dark">
                    Dag 44
                    <span>Caribbean Lionfish Containment Diver</span>
                </h1>
                <time datetime="2014-10.01">1. october 2014 . Útila Bay Islands, Honduras</time>
                <img class="main-image" src="https://farm4.staticflickr.com/3932/15450228885_595f09b517_k.jpg" alt="" />
        </header>

        <div class="post-content bg-subtle-grey">
            <p>
                Etter Rescue Diver kurset hadde vi et par ufrivillige rolige dager. Tiden begynte å renne ut for vårt opphold på Útila, og Jonas ville så veldig ta en sertifisering for å få lov til å jakte løvefisk i Karibien. Så da var det bare å hive seg rundt.
            </p>

            <p>
                I utgangspunktet er all undervannsjakt forbudt på revene rundt Útila, men løvefisken er en introdusert art som skader økosystemet, og de har derfor tillat lisensiert jakt. Løvefiskpopulasjonen har de siste 10 årene blitt introdusert i det Karibiske hav, meget mulig etter utslipp fra akvarie klekkeri under de store orkanene i USA. Fisken har på rekordtid formert seg og spredt seg til stort sett hele Karibien.
            </p>

            <p>
                Utfordringen med løvefisken er at den ikke har noen naturlige fiender, og på grunn at dens giftige pigger vil det ta lengre tid før predatorene finner ut hvordan de skal gripe de an. Løvefiskens primære matkilde er fiskeyngel som henger rundt revene - som foreløbig ikke anser løvefisken som en trussel og derfor ikke prøver å stikke av eller gjemme seg. Mange løvefisker betyr at mye yngel ikke får vokse opp, og de har allerede begynt å merke innhugget på fiskebestanden i havet og rundt revene.
            </p>

            <p>
                I Honduras har de satt i gang en kampanje som oppfordrer lokale restauranter til å servere løvefisk, samt dykkere til å sertifisere seg som såkalte "Caribbean Lionfish Containment Divers" - som gir de lisens til å jakte løvefisk. De må for øvrig i tillegg har et lisensiert jakt våpen som spyd eller hawaii-slynge.
            </p>

            <h2>Løvefiskdronningen</h2>
            <p>
                Etter et par timer kveldsundervisning om løvefiskens opprinnelse, hvorfor man ikke vil ha den, hvordan fange den, og litt skytetrening med hawaii-slynge var vi klar til å dra på jakt. En hawaii-slyng er et spyd med et strikk i enden som man strammer opp for så å skyte ut spydet når man slipper taket. Vi var 4 stykker i gruppen, hver og en måtte skyte minst en løvefisk for å kunne bli sertifisert. Det var spennende i seg selv med tanken på at vi skulle reise dagen etterpå.
            </p>

            <div class="imagestrip col-3">
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15265114440/in/set-72157648423772655" title="">
                        <img src="https://farm3.staticflickr.com/2942/15265114440_064eb65a4f_z.jpg" alt="" />
                    </a>
                    <figcaption>Første forsøk</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15265050919/in/set-72157648423772655" title="">
                        <img src="https://farm3.staticflickr.com/2943/15265050919_5a9fc3c094_z.jpg" alt="" />
                    </a>
                    <figcaption>Vellyket fangst</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15428749166/in/set-72157648423772655" title="">
                        <img src="https://farm4.staticflickr.com/3933/15428749166_80ef00b004_z.jpg" alt="" />
                    </a>
                    <figcaption>Jonas første forsøk</figcaption>
                </figure>
            </div>

            <p>
                Det gikk ikke lang tid før Hege fikk øye på den første og den største løvefisken. Spydet ble utdelt, skuddet falt, og løvefisken ble trygt plassert i et PVC rør for at ingen skulle stikke seg på resten av dykket eller transporten til land. Jonas var den neste som fikk prøve seg, og den satt etter kort tid. Alle 4 dykkerne ble sertifisert og vi kom i båten med 5 løvefisk som vi tilbake på kaia lærte å av-pigge og hente ut filetene fra. Den største og den minste fisken i fangsten blir målt, og rapportert inn sammen men antall fisk i fangsten og sted. Det behøvde for øvrig ikke noen måling til for å se at Hege hadde den desidert største i gruppen, og for ordens skyld så nevnes det at den var 30 cm, og blir ansett som en stor løvefisk av de drevne fangst folkene.
            </p>
            <p>
                 Til kveldsmat ble det laget ceviche, som er rå fisk kjemisk kokt i lime og eddik og blandet med tomat, løk og paprika. Helt fantastisk!
            </p>

            <div class="imagestrip col-3">
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15263702267/in/set-72157648423772655" title="">
                        <img src="https://farm3.staticflickr.com/2941/15263702267_d42e86f571_z.jpg" alt="" />
                    </a>
                    <figcaption>Løvefiskdronningen</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15447141461/in/set-72157648423772655" title="">
                        <img src="https://farm4.staticflickr.com/3932/15447141461_d2a6447489.jpg" alt="" />
                    </a>
                    <figcaption>Avpigging</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15449892232/in/set-72157648423772655" title="">
                        <img src="https://farm6.staticflickr.com/5601/15449892232_7b0815c054.jpg" alt="" />
                    </a>
                    <figcaption>Løvefisk ceviche</figcaption>
                </figure>
            </div>

            <p>
                Da reiser vi fra Útila med masse ny kunnskap i baggasjen og 4 nye sertifiseringer, Beginner og Advanced Freediver, Rescue Diver og Caribbean Lionfish Containment Diver. I følge Jonas er den sistnevnte den desidert tøffeste.
            </p>

            <div class="embed-container">
                <iframe src='http://player.vimeo.com/video/108280214' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>


            <hr class="last" />
        </div>
</article>