<article>
    <header>
        <h1>
            Dag 169
            <span>Et land uten kyst</span>
        </h1>
        <time datetime="2015-01-29">29. januar 2015 . Mlilwane, Swaziland</time>
        <img class="main-image" src="https://farm9.staticflickr.com/8724/16130146764_25881232f0_k.jpg" alt="" />

    </header>

    <div class="post-content bg-subtle-grey">

        <p>
          Ferden til Swaziland skulle foregå med buss. Vi hadde ærlig talt håpet på en litt ordentlig buss denne gangen, men som vanlig endte det opp med en av de mindre minibussene - Chapa som de kalles i Mosambik. I mellom-Amerika hadde minibussene alltid takstativ med plass for baggasje, dette er ikke vanlig i Sør-Afrika eller Mosambik. Bussen skulle så klart fylles til randen som vanlig, så der satt vi med våre småsekker mellom bena og de store oppå fanget. Fotplassen var som alltid minimal så det var ikke sjans å få de store sekkene ned på gulvet. Så slik satt vi da i nesten to timer fram til grensen til Swaziland. Varmt, klamt og uten noen som helst form for sikt framover, men det var kanskje like greit. Bussen hadde et kunst-stopp med litt skruing, men var på veien igjen etter 20 minutter.
        </p>

        <p>
          Vi spaserte over grensen og fant oss ny transport på andre siden. denne gangen var det heldigvis en ordentlig stor buss. I denne bussen var hengt opp plakater med informasjon om å holde vinduer åpne til enhver tid for å minimere smitte av tuberkolose. Heldigvis har våre foreldre ikke valgt bort vaksinasjoner gjennom vår oppvekst.
        </p>

        <figure>
          <a href="https://www.flickr.com/photos/hegerokenes/16347978669/in/set-72157650423414828" title="">
              <img src="https://farm8.staticflickr.com/7340/16347978669_c174caa17b_k.jpg" alt="" />
          </a>
          <figcaption>Landskap fra Sondzela</figcaption>
        </figure>

        <p>
          Grunnen til at vi ville dra til Swaziland var flere. Det var et nytt land å oppleve og vi hadde møtt mange som fortalte at det var utrolig vakkert der. En annen ting var at der har de naturreservat uten de farligste predatorene som gir besøkende mulighet til å både gå og sykle rundt på egenhånd. 
        </p>

        <div class="imagestrip col-2">
            <figure>
              <a href="https://www.flickr.com/photos/hegerokenes/15914092433/in/set-72157650423414828" title="">
                <img src="https://farm8.staticflickr.com/7305/15914092433_9c1f8fa97a_z.jpg" alt="" />
              </a>
              <figcaption>Kart over naturreservatet</figcaption>
            </figure>
            <figure>
              <a href="https://www.flickr.com/photos/hegerokenes/15911697784/in/set-72157650423414828" title="">
                <img src="https://farm8.staticflickr.com/7426/15911697784_3b8cf0d77d_z.jpg" alt="" />
              </a>
              <figcaption>Lunsj ved Hippo Pool</figcaption>
            </figure>
        </div>

        <p>
          De neste dagene ble brukt til nettopp dette. Vi hadde flere løpeturer og leide oss MTB sykler og syklet opp til nærmeste topp i parken. Turen gikk på grusveier, 4x4 veier og stier etter gamle jeep veier. Ikke hver dag man ser både sebra, wildebeest og vortesvin på sykkelturen. Landskapet var ganske annerledes enn i Sør-Afrika med mange rullende fjell og åpnere landskap.
        </p>

        <div class="imagestrip col-3">
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/16346793980/in/set-72157650423414828" title="">
                <img src="https://farm8.staticflickr.com/7301/16346793980_3bbd3c5de3_z.jpg" alt="" />
                 </a>
                 <figcaption>Løping</figcaption>
            </figure>
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/15911709914/in/set-72157650423414828" title="">
                <img src="https://farm9.staticflickr.com/8683/15911709914_eff68bc6f6_z.jpg" alt="" />
                 </a>
                 <figcaption>Sykkeltur</figcaption>
            </figure>
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/16346861630/in/set-72157650423414828" title="">
                <img src="https://farm8.staticflickr.com/7409/16346861630_60605e158b_z.jpg" alt="" />
                 </a>
                 <figcaption>Zebra med baby</figcaption>
            </figure>
        </div>

        <p>
          Jonas har begynt med litt mer strukturert og målrettet trening igjen mot høsten Trondheim Triatlon, og fikk også skviset inn to svømmeøkter i det noe lugubre bassenget til hovedcampen. Milwane restcamp er ikke inngjerdet slik de i Krüger så her kunne man møte på mange forskjellige dyr. Vortesvinene sendte noen rare blikk ned mot den merkelige skapningen i bassenget som beveget seg fram og tilbake. På nattestid måtte man være obs på både krokodiller og flodhester som var ute å vandret.
        </p>

        <div class="imagestrip col-3">
          <figure>
               <a href="https://www.flickr.com/photos/hegerokenes/16348357317/in/set-72157650423414828" title="">
                  <img src="https://farm9.staticflickr.com/8590/16348357317_6372068d38_z.jpg" alt="" />
               </a>
               <figcaption>Nyala</figcaption>
          </figure>
          <figure>
               <a href="https://www.flickr.com/photos/hegerokenes/16348014019/in/set-72157650423414828" title="">
                  <img src="https://farm8.staticflickr.com/7285/16348014019_777a4935ea_z.jpg" alt="" />
               </a>
               <figcaption>Zebra</figcaption>
          </figure>
          <figure>
               <a href="https://www.flickr.com/photos/hegerokenes/16348427487/in/set-72157650423414828" title="">
                  <img src="https://farm8.staticflickr.com/7349/16348427487_05b06059de_z.jpg" alt="" />
               </a>
               <figcaption>Skilt</figcaption>
          </figure>
        </div>

        <p>
          Vi bodde på Sondzela backpackers hvor det var få andre gjester. Sondzela ligger inne i naturreservatet Mlilwane, et stykke fra sivilisasjonen, uten egen bil er man litt isolert. De hadde ikke internett, og i området hadde vi heller ikke dekning på mobilene, så det ble noen utfordringer med å planlegge neste etappe. Ved hjelp av gamlemetoden, altså å snakke med folk, fant vi ut av hvordan vi skulle komme oss til Durban.
        </p>


      <hr class="last" />
    </div>
</article>