<article>
        <header>
                <h1 class="dark">
                    Dag 20
                    <span>Ah mi gat wahn gud gud taim</span>
                </h1>
                <time datetime="2014-09-07">07. september 2014 . Caye Caulker, Belize</time>
                <img class="main-image" src="https://farm4.staticflickr.com/3858/14976284830_4181c24675_k.jpg" alt="Hammock" />
        </header>

        <div class="post-content bg-subtle-grey">
                <p>
                    "Ah mi gat wahn gud gud taim", eller "I've had a wonderful time" - det creolske språket er facinerende. "The bad guys", som de omtales som, rastaguttene som henger rundt og selger både det ene og det andre, om så det er lovlig eller ikke, snakker creolsk seg i mellom. At språket er basert på engelsk skulle man ikke tro når man hører det. Det skriftlige er derimot litt enklere å forstå, noe av det i alle fall.
                </p>

                <p>
                    Caye Caulker er en liten øy øst for Belize. Vi ankom øya onsdag 3. september, etter en natts overnatting i Playa Del Carmen på vei fra Cozumel. Playa Del Carmen var ikke noe favorittsted for å si det mildt. Shopping og festing så ut til å være hovedfokuset der.
                </p>

                <p>
                    Caye Caulker er en liten perle. Her er det ikke en eneste meter med asfalt. Store deler av befolkningen går barfot, mange av husene står på stylter og rastaguttene blaster (spiller høy) reggae musikk på anlegget i de små golfbilene, som er det eneste motoriserte landkjøretøyet her.
                </p>

                <p>
                    Det er for tiden regntid i regionen, så vi har hatt noen byger. Det som er veldig fint er at dersom yr melder 4mm regn mellom 12 og 18, så kommer alt på ca. 5 minutter, og så er det bare delvis overskyet resten av tiden.
                </p>

                <h2>Rolige dager</h2>
                <p>
                    I løpet av de dagene vi har vært her har Hege vært i litt dårlig form, heldigvis kun en enkel høstforkjølelse, men som har ført til at energinivået ikke har vært helt på topp. Derfor passet det perfekt at vi bor alene i et stort hus med flere leiligheter og fritt kan benytte alle fasiliteter inkl en veranda med hengekøyer i andre etasje, som har utsikt mot gata og sjøen. Helt perfekt. Her har vi ligget å progget, pugget spansk, lest og halvsovet - til vi har kjent at sulten har tatt oss og vi måtte ut og få oss noe mat.
                </p>

                <div class="imagestrip col-3">
                    <figure>
                        <a href="https://www.flickr.com/photos/hegerokenes/14976202999/" title="">
                            <img src="https://farm6.staticflickr.com/5551/14976202999_6bdc32e461_z.jpg" alt="Hjemmekontor" />
                        </a>
                    </figure>
                    <figure>
                        <a href="https://www.flickr.com/photos/hegerokenes/14976193159/" title="">
                            <img src="https://farm4.staticflickr.com/3835/14976193159_613c1e7d0c_z.jpg" alt="" />
                        </a>
                    </figure>
                    <figure>
                        <a href="https://www.flickr.com/photos/hegerokenes/14976299527/" title="">
                            <img src="https://farm6.staticflickr.com/5587/14976299527_436816e7bd_z.jpg" alt="" />
                        </a>
                    </figure>
                </div>

                <h2>Krokodillejakt</h2>
                <p>
                    I går leide vi oss en dobbel kajakk av noe laber kvalitet og padlet opp på nordsiden av øya i håp om å få sett krokodille. Det finnes nemlig saltvannskrokodiller rundt øya, hvorav den største som er observert er over 3 meter lang. Hege var ikke helt trygg i kajakken da vi kom over et område hvor det var så grumsete at vi ikke lengre så bunnen og vi så en kraftig krusning i vannet. Desverre fikk vi ikke sett krokodillene, men vi fikk oss en fin padletur på ca 10 km, og fikk sett et par stingrays.
                </p>

                <div class="imagestrip col-3">
                    <figure>
                        <a href="https://www.flickr.com/photos/hegerokenes/15163366435/" title="">
                            <img src="https://farm4.staticflickr.com/3870/15163366435_905703d3de_z.jpg" alt="" />
                        </a>
                    </figure>
                    <figure>
                        <a href="https://www.flickr.com/photos/hegerokenes/14976260869/" title="">
                            <img src="https://farm4.staticflickr.com/3860/14976260869_ac8de61498_z.jpg" alt="" />
                        </a>
                    </figure>
                    <figure>
                        <a href="https://www.flickr.com/photos/hegerokenes/14987526417/" title="">
                            <img src="https://farm4.staticflickr.com/3925/14987526417_c91a309251_z.jpg" alt="" />
                        </a>
                    </figure>
                </div>

                <h2>Snorkling</h2>
                <p>
                    Vi bestemte oss for å prøve oss på en snorkletur siden formen til Hege var blitt bedre i dag, søndag. Så vi booket oss en tur med Carlos snorkeling en time før avgang. Turen gikk ut til det lokale korallrevet som ligger som et barriere-rev noen hundre meter øst for øya. Det er lavsesong for turisme på øya, så det var få båter ute og vi var de eneste i vår båt.
                </p>
                <p>
                    Første stopp var et område med store koraller, mye likt det vi har dykket på tidligere. Det er dog en helt annen opplevelse å snorkle over et grunnt rev enn å dykke. Ulempen er at man ikke får komme like nært like uanstrengt, men fordelen er at man får sett både revet og livet der fra en litt annen vinkel. Vi snorklet dette revet i ca. 45 minutter før turen bar videre.
                </p>

                <p>
                    Armando, som dagens kaptein og guide het, kjørte båten rolig bortover til neste stoppested. Det ble grunnere og grunnere og vi tydelig kunne se bunnen. Kort tid etter at vi kommer til stedet ser vi store grå sirkler i vannet, og noen litt mer avlange former trekke til båten. Dette har de vært med på før og vet hva som kommer.
                </p>

                <h3>Haibonansa</h3>
                <p>
                    I vannet flokket det seg med 10-12 nurse-haier og 4-5 store stingrays. Små fiskebiter ble kastet i vannet og alle strømmet til for å få en liten pre-snack før kveldsmåltidet. Det var mildt sagt et fasinerende kaos.
                </p>

                <div class="imagestrip col-3">
                    <figure>
                        <a href="https://www.flickr.com/photos/hegerokenes/14987836457/" title="">
                            <img src="https://farm6.staticflickr.com/5569/14987836457_db585be317_z.jpg" alt="" />
                        </a>
                    </figure>
                    <figure>
                        <a href="https://www.flickr.com/photos/hegerokenes/14987573379/" title="">
                            <img src="https://farm4.staticflickr.com/3916/14987573379_01a6828c88_z.jpg" alt="" />
                        </a>
                    </figure>
                    <figure>
                        <a href="https://www.flickr.com/photos/hegerokenes/15174111095/" title="">
                            <img src="https://farm4.staticflickr.com/3899/15174111095_149a3ee465_z.jpg" alt="" />
                        </a>
                    </figure>
                </div>

                <div class="embed-container">
                    <iframe src='http://player.vimeo.com/video/105520490' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>

                <h2>Verdens beste pizza</h2>
                <p>
                    Pizza Caulker er ikke beskjedne i sine utrop. I følge dem selv verdens beste pizza, og i alle fall bedre enn den i Ny York. Et interessant lite sted, men overraskende nok med ordentlig pizzaovn. Så pizzaen var veldig god. Spennende i seg selv var det å lese alle hilsninger fra alle verdens land som var skrevet på alt fra vegger til tak, til møblement og rekved. Betjeningen, Maurice, var en meget festlig kar som både serverte og drakk rumpunsj i arbeidstiden.
                </p>

                <div class="imagestrip col-2">
                    
                    <figure>
                        <a href="https://www.flickr.com/photos/hegerokenes/14987677710/" title="">
                            <img src="https://farm6.staticflickr.com/5582/14987677710_354b17f74e_z.jpg" alt="" />
                        </a>
                    </figure>
                    <figure>
                        <a href="https://www.flickr.com/photos/hegerokenes/14987810798/" title="">
                            <img src="https://farm4.staticflickr.com/3885/14987810798_769251f75e_z.jpg" alt="" />
                        </a>
                    </figure>
                </div>

                <hr class="last" />
        </div>
</article>
