<article>
        <header>
            <h1 class="dark">
                Dag 80
                <span>Opp i høyden - stisykling</span>
            </h1>
            <time datetime="2014-11-06">06. november 2014 . Cusco, Peru</time>
            <img class="main-image" src="https://farm9.staticflickr.com/8610/15756617169_a778940b27_k.jpg" alt="" />
        </header>

        <div class="post-content bg-subtle-grey">
            <p>
                Etter flere måneder langs kysten var det på tide med et avbrekk. Turen som var planlagt og booket lang tid i forveien var til Cusco i Peru. Hvor primærmålet var å gå den populære Inka Trailen opp til Macchu Picchu. Cusco ligger på 3300 meters høyde, og vi hadde planlagt med god tid her oppe for å bli avklimatiserte til høyden før Inka Trailen, og for å oppleve noe av det Cusco og området rundt har å by på. Vi diskuterte det på flyet og konkluderte med at vi ikke hadde vært noe særlig høyere enn ca 1400 m på noen av fjellovergangene vi har kjørt over i Norge. 
            </p>

            <h2>Høydesyken</h2>
            <p>
                Allerede da vi landet på flyplassen fikk vi merke høyden på kroppen. Pulsen var merkbart høyere og det prikket i kroppen. De første to dagene var det slitsomt å gå trapper, og man ble lett svimmel. På kveldene hadde vi begge hodepine. Dette gikk heldigvis over. Om det var på grunn av all Coca-teen vet vi ikke. Vi bodde hjemme hos en familien som bestod av to relativt unge Amerikanske foreldre i midten av 30-årene; Nic og Bill, og de 4 barna på 9, 7, 4 og 1,5 år. Og ikke minst hunden Shy og hanen Pepper.
            </p>

            <h2>Gøy på landet</h2>
            <p>
                Den ene dagen, da Hege var sengeliggende med hodepine, ble Jonas med familien vi bodde hos ut på landet til noen venner  for å feire allehelgensdag. Vennene bodde på en gård på landet hvor de hadde bittesmå kattunger, og ca 200 marsvin. Marsvinene ble avlet til mat, og så helt ut som de vi har som kjæledyr i Norge. Maten som ble tilberedt til feiringen var likevel svinekjøtt stekt i vedovn.
            </p>

            <div class="imagestrip col-3">
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15767533890/" title="">
                        <img src="https://farm9.staticflickr.com/8629/15767533890_23e285dc7c_z.jpg" alt="" />
                    </a>
                    <figcaption>Ungene var begeistret for GoProen</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15952848831/" title="">
                        <img src="https://farm8.staticflickr.com/7464/15952848831_a940851122_z.jpg" alt="" />
                    </a>
                    <figcaption>Marsivavl til mat</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15767410078/" title="">
                        <img src="https://farm9.staticflickr.com/8622/15767410078_c0efa03c5a_z.jpg" alt="" />
                    </a>
                    <figcaption>Middagstid</figcaption>
                </figure>
            </div>

            <h2>Stisykling i Andesfjellene</h2>
            <p>
                Etter noen dager med avklimatisering tok Nic og Bill oss med på sykkeltur i fjellet. Vi fikk leid ordentlige downhill sykler, da vi skulle sykle mer nedover enn bortover.
                Vi hadde med oss en sjåfør som fraktet oss mellom de to fjellene som vi syklet ned, og ikke minst kjørte oss opp. Jonas og Bill tok det første fjellet som en treningstur og syklet oppover i ca 2 timer og 800 høydemeter. Nesten på toppen byttet vi, og Nic og Hege tok den siste halvtimen til toppen for å få varmet litt opp, mens Jonas og Bill fikk slappet litt av i bilen.
            </p>

            <p>
                Vi visste ikke helt hva vi skulle forvente da vi dro på denne turen, men det viste seg å være helt fantastisk sykling, både med tanke på stiene og utsikten. 
            </p>
            <p>
                Syklingen i seg selv var utfordrende på flere plan. For det første var det ganske bratt utenfor stien, noe som vi ikke er helt vant til med vår skogssykling i Trondheimsmarka. Stiene var veldig tekniske på noen steder; både svingete, smale, bratte og med steinur. Men vi hadde solide sykler med gode dempere og bremser så vi storkoste oss. Langs stien møtte vi både lamaer, arbeidsfolk på vei hjem fra fjellet og esler. Utsikten var helt fantastisk og vi hadde strålende sol nesten hele turen, bortsett fra en liten regnskur på slutten. Utrolig nok var det heller ingen av oss som gikk på trynet for en gangs skyld.
            </p>

            <div class="imagestrip col-3">
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15942941065/in/set-72157649607588295" title="">
                        <img src="https://farm8.staticflickr.com/7520/15942941065_61eea7c603_z.jpg" alt="" />
                    </a>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15756919649/in/set-72157649607588295" title="">
                        <img src="https://farm8.staticflickr.com/7523/15756919649_06b728e7bf_z.jpg" alt="" />
                    </a>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15917170946/in/set-72157649607588295" title="">
                        <img src="https://farm8.staticflickr.com/7490/15917170946_2bddbf095a_z.jpg" alt="" />
                    </a>
                </figure>
            </div>
            <p>
                Turen ble avsluttet hjemme hos ei dame som laget en god tradisjonell peruisk middag til oss på kjøkkenet hvor hun også hadde to kattunger og ca 30 marsvin som løp rundt på gulvet. Huset var et eget kjøkkenhus laget i leire, og var ett av flere bygg på gården hennes.
            </p>

            <div class="embed-container">
                <iframe src='http://player.vimeo.com/video/111602524' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>

            <h2>Annet moro i Cusco</h2>
            <p>
                Etter mye lik mat i mellom-Amerika var Cusco et lyspunkt. Mange veldig gode restauranter med variert og smakfull mat. Vi fikk prøvd oss på Alpakka-steik, noe som var veldig godt. Restauranten Marcelo Batata hadde spesialisert seg på dette. I tillegg hadde Cusco et sjokolademuseum som virkelig svarte til forventningene, med verdens beste sjokoladefondant og iced-chocolate. Vi var også med på en 2 timers workshop hvor vi lærte om Cacao planten og hvordan sjokolade tilberedes.
            </p>

            <div class="imagestrip col-3">
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15755578778/in/set-72157649607588295" title="">
                        <img src="https://farm8.staticflickr.com/7500/15755578778_795b0ab671_z.jpg" alt="" />
                    </a>
                    <figcaption>En ekte Umpa Lumpa</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15756954289/in/set-72157649607588295" title="">
                        <img src="https://farm9.staticflickr.com/8671/15756954289_6a01d62163_z.jpg" alt="" />
                    </a>
                    <figcaption>Vi lærer om cacao</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15941452845/in/set-72157649607588295" title="">
                        <img src="https://farm8.staticflickr.com/7556/15941452845_5957c8b0df_z.jpg" alt="" />
                    </a>
                    <figcaption>Sjokoladefondant på verandan</figcaption>
                </figure>
            </div>

            <h3>Ridetur mellom ruinene</h3>
            <p>
                Vi brukte mye tid på å gå rundt i gatene i Cusco. Smale gater og mange trapper. Like over byen ligger et stort område med ulike Inka ruiner. Her var det mulig å leie hester og guide for 2 timer. Det var en annerledes opplevelse. Lite folk, ingen køer og veldig avslappet tempo på de salige hestene, som for øvrig kunne turen utenat.
            </p>

            <div class="imagestrip col-2">
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15756545369/in/set-72157649607588295" title="">
                        <img src="https://farm8.staticflickr.com/7572/15756545369_8c8986c5d8_z.jpg" alt="" />
                    </a>
                    <figcaption>På ridetur</figcaption>
                </figure>
                <figure>
                    <a href="https://www.flickr.com/photos/hegerokenes/15940626291/in/set-72157649607588295" title="">
                        <img src="https://farm9.staticflickr.com/8668/15940626291_2da79ac5fe_z.jpg" alt="" />
                    </a>
                    <figcaption>Jonas i soltempelet</figcaption>
                </figure>
            </div>

            <h2>Flere bilder fra Cusco</h2>

            <iframe class="flickr-embedd large" src="https://www.flickr.com/photos/hegerokenes/15917210116/in/set-72157649607588295/player/" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

            <hr class="last" />
        </div>
</article>
