<div id='travellerspoint-map703795_686060'>
  <script src='http://www.travellerspoint.com/badges/badge_membermap.cfm?user=follesoe&tripid=686060&amp;badgeid=travellerspoint-map703795_686060&amp;height=300&amp;width=450'></script>
  <p class='travellerspoint-map-link'>View Full Size <a href='http://www.travellerspoint.com/member_map.cfm?user=follesoe&tripid=686060'>Travel Map</a> at <a href='http://www.travellerspoint.com'>Travellerspoint</a></p>
</div>
