<article>
		<header>
			<h1 class="dark">
				Dag 74
				<span>Tittel</span>
			</h1>
			<time datetime="2014-10-31">31. oktober 2014 . Puerto Vilamil Isla Isabela, Galápagos Ecuador</time>
			<img class="main-image" src="../img/default_image.jpg" alt="" />
		</header>

		<div class="post-content bg-subtle-grey">
			<p>
				{toppbilde: Sjøløvesveiver}
			</p>

			<p>
				Vi hadde bestemt oss for å bli igjen på Galápagos etter at livaborad turen var over og de andre dro hjem. Vi kom i land på øya Santa Cruz hvor vi skulle bli værende. Vi hadde booket tak over hodet hos ei dame som jobbet som naturguide på Galápagos, og som tilfeldigvis hadde norsk kjæreste. Han var uheldigvis på jobb, men Aura som hun het fikk vi hilst på og fortalt skrøner om Norge da vi var vi oppe og drakk Charpirinha hos henne. Trivelig dame.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Dukkehuset</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Soverom</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Kjøkken</figcaption>
				</figure>
			</div>
			<p>
				Byen på øya Santa Cruz heter Porto Ayora og har ca ______ innbyggere. Det faktiske antallet boende er høyere da slektninger av boende kommer over og aldri drar igjen. Dette medfører at de har et konstant problem med vann- og strømforsyninger. Det er bestemt at kun 3% av øygruppene skal benyttes til bebyggelse for å bevare den spesielle naturen, men det kan være vanskelig å nekte landets eget folk å bo hvor de vil i eget land. Spesielt med tanke på at Galápagos ligger 1600km fra nærmeste familie på fastlandet, og jobben som naturguide er en sikker og godt betalt jobb.
			</p>

			<h2>Et rikt dyreliv</h2>
			<p>
				På Santa Cruz kan man selv utforske en del stier og steder hvor det er mulig å se ulike dyr og naturfenomener. Vi besøkte lavatunneller, Darwin senteret og flere andre mindre stier og laguner. Vi tok oss flere turer til La Tortuga Bay, stedet med de lokale strendene, hvor vi fikk sett mariniguaner på virkelig nært hold. Disse var også langt større enn inne i sentrum. Turen ut til strendene tar ca 45min og gå, og selvfølgelig var der et Strava segment der som vi måtte ta tronen på, så det ble også noen løpeturer ut dit.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Jonas og Iguanen</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Sti til Tortuga Bay</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Strava</figcaption>
				</figure>
			</div>

			<p>
				En tur til fiskemarkedet midt på dagen bydde på helt egne opplevelser. 4-5 virkelig store pelikaner hang alltid rundt der, og prøvde å karre til seg det som ble til overs av fiskeslog. Dersom de ikke ble fornøyd kunne de godt prøve seg på fiskekassen når den ble åpnet. Fiksekona var raskt ute med fluesmekkeren og fikk jaget de langnebbete tyvene unna vei. Den faste sjøløven som hang under fiskedisken våknet også til liv når det var slyøing på gang og stakk bare hodet opp over benkekanten for å få seg en godbit. Etter hver sløying ble benkene spylet og da vanket det også en dusj for sjøløven.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Fiskedisk</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Hummer</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Pelikaner</figcaption>
				</figure>
			</div>

			<p>
				Dyrelivet var rikt både i lufta, til lands og til vanns. På en av våre løpeturer støtte vi på en gigantisk landskilpadde som hadde forvillet seg ned i lavlandet. Ved solnedgang kunne man gå ned til havnen og se på de små black tip revhaiene som jaktet på middagen sin like ved kaia.
			</p>

			<figure>
				<a href="" title="">
					<img src="" alt="" />
				</a>
				<figcaption>Iguana crossing</figcaption>
			</figure>

			<p>
				Etter 8 netter på Santa Cruz tok vi båten opp til Isabela. Isabela er den største øya i gruppen. Den består av 4 vulkaner, hvorav flere er aktive. Puerto Vilamil, tettstedet på Isabela, var ganske mye mindre enn Puerto Ayora på Santa Cruz. dog var dyrelivet midt i havnen et par hakk over. Et besøk ned dit kunne by på gigantiske mariniguaner, stor flokk med sjøløver, både små babyer og store hanner, fregattfugler, skilpadder, stingrays, bluefooted boobies og ikke minst det vi kom til denne øya for å se; pingviner. En løpetur innover på øya tok oss forbi et vann litt oppe i høyden, og der var det 5 flamengoer.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>pingviner</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Sjøløve og Jonas</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Mariniguan og hånd</figcaption>
				</figure>
			</div>

			<h2>Snorkling i tunnelene</h2>
			
			<p>
				Isabela er kjent for en av sine snorkledesrinasjoner kaldt Los Tunneles - "tunnelene" på norsk. Dette er et område ca 40 min båttur fra Villa Mil som er et nettverk av lavatunneller i sjøkanten. I denne labirynten er det lett å svømme seg vill, så guiden ble holdt godt innenfor synsvidde. Han fant også en sjøhest til oss, men denne var litt for dyp til at alle kom seg ned og fikk sett på den. Vårt fridykkerkurs kom godt til nytte og vi fikk studert den grundig. I tillegg fikk vi sett flere store havskilpaddder, stingrays, flere stimer med fargerike fisker, og den store avslutningen var i haigrottene. White tip revhaiene ligger i grottene om dagen og hviler seg, og vi fant om lag 8-10 stykker.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Skilpadde</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Hvittip</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Bluefooted boobie</figcaption>
				</figure>
			</div>
			<p>
				Er man interessert i natur og dyreliv er Galápagos et mekka. Her kan man velge mellom betalte turer eller benytte seg av alle de gratis mulighetene som ligger rett utenfor døra. Det er definitivt et sted som vi skal tilbake til.
			</p>

			<p>
				{Video}
			</p>

			<hr class="last" />
		</div>
</article>