<article>
		<header>
				<h1 class="dark">
					Dag 54
					<span>Urbane drager</span>
				</h1>
				<time datetime="2014-10-11">11. oktober 2014 . Guayaquil, Ecuador</time>
				<img class="main-image" src="https://farm6.staticflickr.com/5607/15484633216_bfd60f67cf_k.jpg" alt="" />
		</header>

		<div class="post-content bg-subtle-grey">
			<p>Toppbilde: duer</p>

			<p>
				Som de fleste storbyer har Guayaquil noen grønne oaser midt mellom betong og asfalt. Vi besøkte Seminario park, også kalt "parque de las iguanas", som ligger foran katedralen midt sentrum av i Guayaquil.
			</p>

			<h2>Duer og iguaner i skjønn forening</h2>
			<p>
				Parken er tydeligvis et populært sted for barnefamilier å besøke for å la barna oppleve det Ecuadorske dyrelivet, da det til tider var vanskelig å komme til for å få bilder av de største iguanene. I parken finnes en dam med store karpefisker, små og mellomstore skilpadder, iguaner av ulike arter og størrelser, og ikke minst som i alle andre byer; duer i søkk og kav.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Iguan og kirke</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Jonas og iguan i gjerdet</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Iguan i tre</figcaption>
				</figure>
			</div>

			<p>
				Å se iguaner så avslappet på så nært hold var spennende. Et dyr som ikke ser ut til å være fra denne eraen. Det er tross alt noe av det nærmeste man kommer en drage, men som mangler sin evne til å være fryktinngytende da den i virkeligheten er vegetarianer. Duene var som de er stort sett over alt; mange og sultne.
			</p>

			<h2>En rar by</h2>
			<p>
				Guayaquil er den største byen i Ecuador med over 2 millioner innbyggere. Byen er under utvikling. I løpet av de siste årene har det blitt bygget en flere kilometer lang elvepromenade hvor lekeplasser, restauranter og kinoer ligger. Hele promenaden er inngjerdet og bevoket av armerte sikkerhetsvakter, og ble flittig brukt av lokalbefolkningen.
			</p>

			<div class="imagestrip col-2">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Høyde med fargerike hus</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Sukkerepler</figcaption>
				</figure>
			</div>

			<p>
				Mange små sidegater med store grå betongblokker, trafikkregler som vi aldri ble helt klok på og en del restureringsarbeid på vei og fortau. Mange små restauranter, men lite folk utenfor de største hovedgatene. En høyde over byen med mange småhus i en spraglende fargepallett. Alt i alt en litt merkelig by.
			</p>
			
<!--
			
			<div class="embed-container">
				<iframe width="100%" height="auto" src="//www.youtube.com/embed/dquS97zzJ2Q" frameborder="0" allowfullscreen></iframe>
			</div>

			<h2>Flere bilder fra Las Flores</h2>
			
			<iframe class="flickr-embedd large" src="https://www.flickr.com/photos/hegerokenes/15507972995/in/set-72157648241097387/player/" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
-->

			<hr class="last" />
		</div>
</article>