<article>
		<header>
				<h1 class="dark">
						Dag 16
						<span>Triatlon på Isla Cozumel</span>
				</h1>
				<time datetime="2014-09-03">03. september 2014 . Isla Cozumel, Mexico</time>
				<img class="main-image" src="https://farm6.staticflickr.com/5586/15057407642_f9edcec55b_k_d.jpg" alt="Svømmetrening på Cozumel" />
		</header>

		<div class="post-content bg-subtle-grey">
				<p>
						Cozumel egner seg til langt mer en dykking. Cozumel er vertsøy til både IronMan 70.3 i September, og full IronMan distanse i November, og det er et stort triatlonmiljø på øya. Vi har jo som mål å holde oss i brukbar form selv om vi er på reise, så første morgen på Cozumel tok vi turen til løpebanen for å springe intervaller. Her var det mangel lokale meksikanere som var tidlig oppe for å trene før temperaturen blir for høy. Det var og mange i tri-drakter, som tydlig hadde kjørt brick-økter (sykkel først, og så løping).
				</p>

				<p>
					Jonas kom i snakk med disse, for å få noen tips om leie av sykkel. Å leie landeveisykkel på Cozumel viste seg å være vanskeligere enn antatt. Det var flere steder som leide ut sykler, men det var stort sett strandsykler og gamle/dårlig vedlikeholdte terrengsykler som var å få leid. Heldigvis hadde en av triatlongutta en kamerat som hadde en sykkel til over som Jonas kunne få låne.
				</p>

				<p>
					Girene trengte justering, og bremseklossene måtte skiftes, så da måtte vi en tur innom den lokale sykkelmekanikeren. Han hadde et lite verksted i bakgården, som ikke så ut som all verden, men han var vist den på øya som var flinkest å skru på sykkel. Flere IronMan-proffer hadde vist nok vært innom og fått gjort justering før IronMan Cozumel.
				</p>

				<div class="imagestrip col-3">
						<figure>
								<a href="https://www.flickr.com/photos/hegerokenes/14871175458/" title="">
										<img src="https://farm4.staticflickr.com/3913/14871175458_896afae970_z_d.jpg" alt="" />
								</a>
						</figure>
						<figure>
								<a href="https://www.flickr.com/photos/hegerokenes/14871222957/" title="">
										<img src="https://farm4.staticflickr.com/3878/14871222957_c24f641cde_z_d.jpg" alt="" />
								</a>
						</figure>
						<figure>
								<a href="https://www.flickr.com/photos/follesoe/15111247396/" title="">
										<img src="https://farm6.staticflickr.com/5573/15111247396_606289ff46_z_d.jpg" alt="" />
								</a>
						</figure>
				</div>

				<h2>Flott idrettsanlegg</h2>

				<p>
						Løpebanen på Cozumel er en del av et større idrettsanlegg bestående av fotballbaner, tennisbaner, volleybalbaner, håndballbaner, basketballbaner, boksering, styrkesal og svømmebasseng. Annlegget ble flittig brukt både morgen og kveld, til både organisert aktivitet (lag som trente), og av vanlige mosjonister.
				</p>

				<p>
						Svømmebassenget var et flott utendørs 6-baners krotbanebasseng. Her betalte vi ca 80 kr for inngang tre dager. Det var litt styr å få betalt inngang til bassenget, siden man på forhånd måtte velge dager og ca tidspunkt for når man ville svømme, og man kunne ikke kjøpe enkeltdager. Nå var engelsken til personen på kontoret ikke så veldig stødig, og spansken vår begrenser seg fortsatt til å snakke om mat, hunder og katter, men vi tror grunnen var for å kunne fordele svømmerne ut over dagen/uka, slik at det ikke ble for fullt.
				</p>

				<h2>Triatlón Mr. Sanchos</h2>

				<p>
					Før vi kom til Cozumel hadde Jonas gjort litt re-search for å undersøke om der var noen triatlonkonkurranser eller andre løp han kunne melde seg på. Tilfeldigivs viste det seg at tredje utgave av Triatlón Mr. Sanchos var satt til 31.08.2014. Mr. Sanchos er en beach club et stykke sør på øya, og vi var litt usikre på hvor proft og stort arrangementet var.
				</p>

				<p>
					Konkurransen viste seg å bli en kjempe opptur. Arrangementet var veldig proft lagt opp, med elektronisk tidtagning, egne svømmehetter til konkurransen, infomøte kvelden i forveien, stor og ryddig skiftesone med innsjekk av sykler kvelden i forveien, proteinshake og masasje ved målgang og medaljer og finisher-skjorter til alle. Det var masse entusiastiske frivillige langs løypa som heiet og delte ut drikke og svamper med kaldt vann, som kunne brukes til å få ned temperaturen. Det var totalt 291 deltagere, fordelt på Olympisk- og Sprint distanse.
				</p>

				<div class="imagestrip col-3">
						<figure>
								<a href="https://www.flickr.com/photos/hegerokenes/14912634260" title="">
										<img src="https://farm4.staticflickr.com/3905/14912634260_91f35198b8_z_d.jpg" alt="" />
								</a>
						</figure>
						<figure>
								<a href="https://www.flickr.com/photos/hegerokenes/14912590769" title="">
										<img src="https://farm6.staticflickr.com/5596/14912590769_d631e75e04_z_d.jpg" alt="" />
								</a>
						</figure>
						<figure>
								<a href="https://www.flickr.com/photos/hegerokenes/15076642816" title="">
										<img src="https://farm6.staticflickr.com/5571/15076642816_6480dd22a9_z_d.jpg" alt="" />
								</a>
						</figure>
				</div>

				<p>
					Svømmingen foregikk på stranden til Mr. Sanchos, hvor man startet på land og løp ut i vannet for å starte svømmingen. Med 29 grader i vannet var det selvsagt ikke aktuelt med våtdrakt, så Jonas var litt spent på hvordan det skulle gå. Han svømte distansen på 750m på tiden 14:09, noe han var godt fornøyd med.
				</p>


				<p>
					Sykkeletappen på 20km gikk langs hovedveien sørover på øya. Øya er helt flat, og asfalten av god kvalitet, så bortsett fra en del vind er det mulig å få svært gode tider på syklingen. Sykkelen Jonas hadde fått låne hadde ikke klikkpedaler eller tempobøyle, men det er ingen unskyldning til å ikke gi full innsats og tiden på sykkeletappen ble 36:38.
				</p>

				<p>
					Løpeetappen på 5km gikk langs samme vei som sykklinga, og var helt rett og flat. Under løpinga begynte det å regne voldsomt, noe som egentlig bare ga etterlengtet kjøling. Jonas brukte 22:04 på løpeetappen, noen han ikke vare særlig fornøyd med.	Med personligrekord på 10km på 39:19, og med så flat og fin løype som her burde tiden vært under 20:00.
				</p>

				<div class="imagestrip col-2">
						<figure>
								<a href="https://www.flickr.com/photos/hegerokenes/15099349912" title="">
										<img src="https://farm4.staticflickr.com/3920/15099349912_d782ec9aac_z_d.jpg" alt="" />
								</a>
						</figure>
						<figure>
								<a href="https://farm4.staticflickr.com/3855/15076729006_f84ccb764b_z_d.jpg" title="">
										<img src="https://farm4.staticflickr.com/3855/15076729006_f84ccb764b_z_d.jpg" alt="" />
								</a>
						</figure>
				</div>

				<p>
					Sluttiden ble til slutt 01:17:46, noe som holdt til 14. plass totalt, og første plass i aldersgruppen 30-34 år. Det var 10 personer i denne aldersgruppen på sprintdistansen, så konkurransen var ikke så alt for stor. Men like vell stor stas med flott trofe. Alle data fra konkurransen ligger på <a href="http://www.movescount.com/moves/move39557033">Movescount siden til Jonas</a>.
				</p>

				<p>
					Cozumel er et supert sted å trene triatlon, med gode veier, lett tilgjengelig løpebane, utendørsbassen og ikke minst et fantastisk krystalklart hav som holder rundt 29c og er perfekt til open water trening.
				</p>


				<div class="embed-container">
						<iframe src='http://player.vimeo.com/video/104890681' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>

				<h2>Løping - en fin måte å se nye steder</h2>

				<p>
					Løping er en fin måte å gjøre seg kjent på nye steder. I tillegg til god mosjon, rekker man fort å se seg rundt i området man er, og ofte får man se mye rart og gøy. I ettermiddag har vi forflyttett oss fra Cozumel og til Playa del Carmen, som mellomstopp før vi reiser videre sørover. For å se oss litt rundt tok vi en løpetur etter å ha sjekket inn på pensjonatet vi bor på.
				</p>

				<p>
					Jonas som er ivrig å filme har oppgradert fra GoPro Hero2 til GoPro Hero3+ Black Edition, så kamerat ble med på turen. En av forbedringene er muligheten til å filme i 100 bilder i sekundet, noe som gjør det mulig å lage saktefilm uten at filmen blir hakkete.
				</p>

				<p>Noe av det morsomme vi så på dagens løpetur var <a href="http://en.wikipedia.org/wiki/South_American_coati">Coati</a> og <a href="http://en.wikipedia.org/wiki/Agouti">Agouti</a>. Coati er et dyr som minner litt om en vaskebjørn, og veier mellom 2-7 kg, og kan bli 113cm lang. Agouti er et stor gnager og kan veie opp til 6 kg. Den minner litt om et marsvin. Disse så vi mange av, men de var alt for kjappe til å komme nære nok til å få gode bilder av de.
				</p>

				<div class="embed-container">
						<iframe src='http://player.vimeo.com/video/105199584' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>

				<hr class="last" />
		</div>
</article>
