<article>
		<header>
			<h1 class="dark">
				Dag 104
				<span>Cubacrancky</span>
			</h1>
			<time datetime="2014-11-30">30. november 2014 . Havna, Cuba</time>
			<img class="main-image" src="../img/default_image.jpg" alt="" />
		</header>

		<div class="post-content bg-subtle-grey">


			<hr class="last" />
		</div>
</article>