<article>
		<header>
				<h1 class="dark">
					Dag 26
					<span>Tikal, Flores og Finca Ixobel</span>
				</h1>
				<time datetime="2014-09-13">13. september 2014 . Finca Ixobel, Guatemala</time>
				<img class="main-image" src="https://farm4.staticflickr.com/3920/15162375706_11b9a04655_k.jpg" alt="Stalaktitter" />
		</header>

		<div class="post-content bg-subtle-grey">
				<p>
					Onsdag startet vi ferden fra Caye Culker. Første etappe var med båt inn til Belize. Vi hadde 1,5 time venting i Belize i utgangspunktet, men det var frigjøringsdagen til Belize, så gateparader gjorde at bussen ble litt forsinket.
				</p>
				<p>
					2,5 time brukte bussen inn til grensen til Guatemala. Der måtte vi bli stemplet ut av Belize og betale turistskatt. Så måtte vil til imigrasjoen på Guatemalsk side og bli stemplet inn. Her er det egentlig ikke noe turistskatt som skal betales, men grensevaktene har funnet ut at det er en fin ting, og de nekter å stemple deg inn om du ikke betaler. Du slipper da i praksis inn i landet, men får langt med trøbbel når du skal ut. Blant annet en bot på 100USD.
				</p>

				<p>
					Vel gjennom grenseovergangen fortsatte turen i samme buss mot Flores. Vi skulle hoppe av et stykke før, da vi skulle besøke nasjonalparken i Tikal. Midt i et veikryss hoppet vi av og ventet på lokalbussen. Den viste seg å være en 9 seter Toyota Hiace, men sjåføren tok med alle som ville, både stort og smått og vi var på et tidspunkt 21 personer i minibussen med stort og smått. I tillegg var bagasje lastet på taket.
				</p>
				
				<p>
					Vi kom opp til Tikal i 16 tiden, og sjekket inn på hotellet før det bar ut i nasjonalparken. Vi rakk å få med oss litt før solen gikk ned og det ble stappmørkt når vi gikk hjemover. Mildt sagt spennende i en nasjonalpark med en solid stamme av brøleaper og jaguarer, og for ikke snakke om slanger og edderkopper.
				</p>

				<div class="imagestrip col-3">
					<figure>
						<a href="" title="">
							<img src="" alt="" />
						</a>
						<figcaption></figcaption>
					</figure>
					<figure>
						<a href="" title="">
							<img src="" alt="" />
						</a>
						<figcaption></figcaption>
					</figure>
					<figure>
						<a href="" title="">
							<img src="" alt="" />
						</a>
						<figcaption></figcaption>
					</figure>
				</div>

				<h2>Tidlig morgen</h2>
				<p>
					Det ble ikke mange timer søvn før det var oppmøte til soloppgang-turen som vi hadde booket oss på - denne gangen med guide. 04:00 var det en kjapp kaffekopp før det bar inn i nasjonalparken. Guiden vår Caesar snakket med iver og Mayaene og utviklingen i Guatemala generelt. Vi gikk i parken i 1,5 time før vi besteg det høyeste templet for å se på soloppganen. Uheldigvis var det veldig overskyet så det ble mer en "se jungelen våkne"-tur, enn en soloppgang-tur. Fint var det uansett å sitte å høre på apene som brølte, fuglene som kvitret, og insektene som roet aktiviteten sin når lyset kom.
				</p>

				<p>
					Resten av formiddagen brukte vi på museene i tilknytning til nasjonalparken før vi gikk tilbake til hotellet for å spise frokost.
				</p>

				<p>
					Hotellet var et lite koselig hotell, midt i jungelen. Vi hadde flere store edderkopper i nett rundt oss, og kvelden før viste en av servitørene oss en tarantella som bodde i et hull i bakgården bak kjøkkenet.
				</p>

				<div class="imagestrip col-3">
					<figure>
						<a href="" title="">
							<img src="" alt="" />
						</a>
						<figcaption>Jonas og treet</figcaption>
					</figure>
					<figure>
						<a href="" title="">
							<img src="" alt="" />
						</a>
						<figcaption>Soloppgang</figcaption>
					</figure>
					<figure>
						<a href="" title="">
							<img src="" alt="" />
						</a>
						<figcaption>Mayamaske</figcaption>
					</figure>
					
				</div>
				

				<p>
					Etter at vi hadde spist lunsj satt vi utenfor hotellrestauranten på plattingen. Jonas måtte hente noe på rommet og reiste seg og gikk en snarvei. Plutselig roper han "Hege, Hege", og vi fikk lettere hjerte infarkt begge to. Da hadde han jo selvfølgelig prestert å gå rett i nettet til en av de to edderkoppene som vi satt å snakket om få minutter tidligere, og poengterte at "her er det lurest å gå på oppmerkede veier". Den giftige edderkoppen hang ned fra hodet til Jonas i tråder fra nettet sitt. Heldigis bestemte den seg ikke for å klatre oppover og Jonas klarte å få nettet fjernet fra håret. Greit med nære møter med naturen, men helst i kontrollert form.
				</p>

				<div class="imagestrip col-2">
					<figure>
						<a href="" title="">
							<img src="" alt="" />
						</a>
						<figcaption>Frokost</figcaption>
					</figure>
					<figure>
						<a href="" title="">
							<img src="" alt="" />
						</a>
						<figcaption>Tarantella</figcaption>
					</figure>
					<figure>
						<a href="" title="">
							<img src="" alt="" />
						</a>
						<figcaption>Edderkoppbilde</figcaption>
					</figure>
				</div>

				<h2>Ny dag ny by</h2>
				<p>
					Ellers i Tikal er det ikke så mye å se, så vi hoppet på en buss mot Flores som er en liten by som ligger på en øy i en innsjø. Bare 1,5 times kjøretur unna. Langs veien stod det for øvrig utallige hester og beitet, griser gikk fritt og det florerte av fjerkre i stort og smått.
				</p>

				<p>
					Flores er en bitteliten koselig by, veldig annerledes enn det vi hadde sett hittill av Guatemala. Her var det små trange gater og tett i tett med hus og restauranter, langt fra livet på landsbygda. Vi bodde like ved en slags badeplass, dog uten sand så Jonas fikk sneket til seg en svømmetur. På kvelden satt vi på takterrassen og så på solnedgangen og tordenværet som gikk forbi lengre øst.
				</p>

				<p>
					Vi ble ikke mer enn en natt i Flores før vi fartet videre sørover mot Finca Ixobel. Finca Ixobel (uttales Finka Ichobel) er en gård som ligger i nærheten av byen Poptun når man følger hovedtransportåren sør-øst i landet.
				</p>

				<div class="imagestrip col-3">
					<figure>
						<a href="" title="">
							<img src="" alt="" />
						</a>
						<figcaption></figcaption>
					</figure>
				</div>

				<h2>Vårt hus, i toppen av et tre</h2>
				<p>
					Så langt på turen vår har vi bodd ganske fint. Så vi fant ut at vi ville prøve noe litt annerledes. Variasjon gleder. Så vi booket oss ei lita trehytte, uten strøm og vann. Det er kun ett rom på stylter ca 3 meter over bakken, men ei seng og et lite bord. Noe spennende var det når vi våknet opp midt på natten og tordnet buldret over oss og regnet plasket ned på blikktaket. Heldigvis var hyttetaket tett og vi berget oss tørr gjennom natten.
				</p>

				<div class="imagestrip col-3">
					<figure>
						<a href="" title="">
							<img src="" alt="" />
						</a>
						<figcaption>Spasertur</figcaption>
					</figure>
					<figure>
						<a href="" title="">
							<img src="" alt="" />
						</a>
						<figcaption>Kolibriprosjekt</figcaption>
					</figure>
					<figure>
						<a href="" title="">
							<img src="" alt="" />
						</a>
						<figcaption></figcaption>
					</figure>
				</div>

				<p>
					På Finca Ixobel tilbyr de flere ulike aktiviteter, som grotte turer, rideturer og ellers andre utflukter. Vi bestemte oss for å ta det helt med ro, og tok kun en liten tur på egenhånd i jungelen like bak gården, og fikk følge av hunden Lady som hører til på gården. Ellers hadde vi et lite videoprosjekt som gikk ut på å få en kolibri på film for å få testet ut GoProen sin 240frames/sek funksjon.
				</p>

				<p>
					Videre tenker vi oss inn til Honduras og ut på øya Utila. Nøyaktig når, det får vi se litt an. Mañana, mañana.
				</p>

				<div class="embed-container">
					<iframe src='http://player.vimeo.com/video/105952393' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>

				<hr class="last" />
		</div>
</article>
