<article>
    <header>
        <h1>
            Dag 10
            <span>Dykkeparadiset Isla Cozumel</span>
        </h1>
        <time datetime="2014-08-28">28. august 2014 . Isla Cozumel, Mexico</time>
        <img class="main-image" src="https://farm4.staticflickr.com/3845/15057808825_426ba99786_k.jpg" alt="Isla Cozumel style" />
    </header>

    <div class="post-content bg-subtle-grey">
        <p>
            Vår neste destinasjon er Isla Cozumel. Øya ligger utenfor Playa del Carmen en time sør for Cancun. Buss ned til Playa del Carmen der ingen problem. Vi flottet oss med en litt fancy turbuss med både AC og toalett til den nette sum av 30 NOK per pers.
        </p>

        <p>
            Isla Cozumel er langt større enn Isla Mujeres, langt mer moderne, mer turistifisert med de fordeler og ulemper det bringer med seg. Vi hadde booket oss inn på Tamarindo B&amp;B, dog uten breakfast nå i lavsesongen. Utrolig fint sted.
        </p>

         <div class="imagestrip col-3">
            <figure>
                <a href="https://www.flickr.com/photos/hegerokenes/15054742071/" title="">
                    <img src="https://farm4.staticflickr.com/3868/15054742071_ee6d7484e1_z.jpg" alt="" />
                </a>
            </figure>
            <figure>
                <a href="https://www.flickr.com/photos/hegerokenes/15057446922/" title="">
                    <img src="https://farm4.staticflickr.com/3856/15057446922_b15c941b5d_z.jpg" alt="" />
                </a>
            </figure>
            <figure>
                <a href="https://www.flickr.com/photos/hegerokenes/15057426172/" title="">
                    <img src="https://farm4.staticflickr.com/3847/15057426172_a057575309_z.jpg" alt="" />
                </a>
            </figure>
        </div>

        <h2>Dykking litt over snittet</h2>

        <p>
            Isla Cozumel er kjent for å være et av verdens beste dykkesteder, og regner med at dere da skjønner at det ikke kunne forbigåes.
        </p>

        <p>
            Etter to dager med å gjøre seg kjent med øya, trene løping og svømming samt fikse utstyr til Jonas, hadde vi booket oss på en dykkebåt med Aldora Divers. Oppmøte på kaia 07:30, til en båt med 6 gjester, en guide og kaptein Louis. Helt perfekt.
        </p>

        <p>
            Første dykkestedet ble Palancar Caves - et utrolig spektakulær dykkested. Korallrevet var høyere enn det vi noen ganger hadde sett, med masse tunneler og daler man kunne svømme gjennom og ned i. Vi fikk et glimt av en eagleray som cruiset forbi, mens vi var opptatt av å se på den minste stingrayen vi noen gang har sett, ca 10cm. Vi fikk også med oss to skilpadder, og andre større og mindre fisker. Barracudaene hang rundt på sikkerhetsstoppet som de ofte gjør.
        </p>

        <div class="imagestrip col-4">
            <figure>
                <a href="https://www.flickr.com/photos/hegerokenes/15066134412/" title="">
                    <img src="https://farm4.staticflickr.com/3861/15066134412_02ba9488d7_z.jpg" alt="" />
                </a>
            </figure>

            <figure>
                <a href="https://www.flickr.com/photos/hegerokenes/14879749690/" title="">
                    <img src="https://farm4.staticflickr.com/3907/14879749690_612959c089_z.jpg" alt="" />
                </a>
            </figure>

            <figure>
                <a href="https://www.flickr.com/photos/hegerokenes/14879840059/" title="">
                    <img src="https://farm6.staticflickr.com/5596/14879840059_139dd0beb0_z.jpg" alt="" />
                </a>
            </figure>
            <figure>
                <a href="https://www.flickr.com/photos/hegerokenes/15063566081/" title="">
                    <img src="https://farm6.staticflickr.com/5595/15063566081_4c81659b12_z.jpg" alt="" />
                </a>
            </figure>

        </div>

        <p>
            Det neste dykket ble på La Franseca reef, et strømdykk over et endeløst rev. Vi var så heldige å fikk sett 2 haier (nurse shark), en skilpadde og en hummer som spankulerte på den åpne sanden midt på dagen (de kommer normalt ut kun om natten). Her var det et langt mer yrende fiskeliv enn på Palancar, grunnet næringsrike strømmer.
        </p>

        <p>
            Her skal det definivt dykkes mer, og vi er booket på mer dykking allerede i morgen og på mandag.
        </p>

        <div class="embed-container">
            <iframe src='http://player.vimeo.com/video/104677532' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>

        <hr class="last" />
    </div>
</article>
