<article>
    <header>
        <h1>
            Dag 6
            <span>Goodbye Isla Mujeres</span>
        </h1>
        <time datetime="2014-08-24">24. august 2014 . Isla Mujeres, Mexico</time>
        <img class="main-image" src="https://farm4.staticflickr.com/3898/15034868946_9c484bce8b_o.jpg" alt="Manta Ray" />
    </header>

    <div class="post-content bg-subtle-grey">
        <p>
            Den siste hele dagen på Isla Mujeres bestemte vi oss for å ta en ny hvalhaitur. Vi kom ut til et egentlig ganske skuffende hvalhai-oppmøte, men fikk en helt annen stor opplevelse.
        </p>

        <h2>Mantarraya</h2>
        <p>
            Det så ut som om hvalhaiene hadde tatt en dag fri, og det var kun en stakkar som hadde dukket opp. Det ble fort litt mye for han, så han dykket ned i dypet.
        </p>
        <p>
            Derimot hadde manta rayene stort oppmøte. Vi så ikke en eneste av disse på forrige turen, mens nå var det minst 6 stykker.
        </p>
        <p>
            Manta rayen er en av de største rokkene som finnes. De finnes i tre varianter, giant manta, manta og devil ray. Vingespennene på de største manta rayene er opptil 5.5 meter.
        </p>

        <h2>Unik opplevelse</h2>

        <p>
            I utgangspunktet virket det som om hverken kapteinen eller crewet på båten syntes at manta ray var spesielt spennende, vi var jo tross alt på utkikk etter hvalhaien - verdens største fisk. Men da vi viste stor interesse for manta rayene fikk Jonas til slutt lov til å hoppe i vannet.
        </p>
        <p>
            Jonas har etterhvert blitt en veldig god svømmer og klarte fint å holde følge med manta rayen som holder langt større fart enn det hvalhaiene gjorde. Manta rayen kan hvis den vil forsvinne på få sekunder om den virkelig setter opp farten. Denne derimot så ut til å synes det var interessant med en svømmende nordmann på slep. I løpet av de 6 minuttene Jonas fikk være alene sammen med mantaen snudde den seg over på ryggen og svømte under han for å bedre kunne se. Kapteinen om bord ropte opptil flere ganger "blanco, blanco" som betyr "hvit", og vi så godt fra båten at mantaen lå på rygg, altså med hvitsiden opp, som ikke er så veldig vanlig å få sett.
        </p>

        <div class="embed-container">
            <iframe src='http://player.vimeo.com/video/104259647' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>

        <p>
            Jeg benyttet neste sjanse og kom meg ut i vannet. Etterhvert ble resten av gjengen i båten også interessert og hoppet uti for å få noen glimt av det flyvende stealth (krigsfly) dyret.
        </p>

        <p>
            Nå har vi vært flinke marine-borgere å rapportert inn det vi har sett av hvalhai og manta rays på <a href="http://www.mantamatcher.org/">Mantamatcher.com</a> og <a href="http://whaleshark.org/">Whaleshark.org</a>. Dette er store databaser med flere tusen registrerte dyr. Ved hjelp av bildegjenkjenning kan individene identifiseres, og dermed får forskerne mer informasjon om alder, bevegelsesmønster og adferd.
        </p>

        <div class="imagestrip col-3">
            <figure>
                <a href="https://www.flickr.com/photos/hegerokenes/14838029158/" title="Se bildet i større format">
                    <img src="https://farm6.staticflickr.com/5557/14838029158_195a4a4bd1_z.jpg" alt="Hvalhai" />
                </a>
            </figure>
            <figure>
                <a href="https://www.flickr.com/photos/hegerokenes/15024318192/" title="Se bildet i større format">
                    <img src="https://farm6.staticflickr.com/5572/15024318192_d95d490562_z.jpg" alt="Mantaray ovenfra" />
                </a>
            </figure>
            <figure>
                <a href="https://www.flickr.com/photos/hegerokenes/15001693426/" title="Se bildet i større format">
                    <img src="https://farm4.staticflickr.com/3883/15001693426_a41ff44ee4_z.jpg" alt="Flyvende manta ray" />
                </a>
            </figure>
        </div>

        <p>
            Kvelden nærmet seg og vi fant ut at vi måtte komme oss ut en tur for å prøve å få sett et glimt av skilpadder som legger egg. Vi hadde nemlig lest at det var sesong for dette nå, og kunne ikke la sjansen gå fra oss.
        </p>

        <p>
            Etter at det ble mørkt bega vi oss ut mot strandene hvor vi noen dager tidligere hadde sett spor etter skilpadder på våre løpeturer om morgenen. Vi satte oss til rette ved enden av den ene stranden. Det var bek mørkt (eller stappmørkt som det heter i trøndelag), og Jonas sine laseropererte øyne fungerte dårlig i nattemørket.
        </p>

        <figure>
            <a href="https://www.flickr.com/photos/hegerokenes/14841772659/in/photostream/" title="Se bildet stort på Flickr">
                <img src="https://farm6.staticflickr.com/5594/14841772659_df6a60b3c3_k.jpg" alt="Skilpadde i nattemørke" />
            </a>
            <figcaption>Bildet er tatt med 10 sekunders eksponering på 1600 ISO og f/2.8.</figcaption>
        </figure>

        <p>
            Tror du sannelig at det ikke gikk mere enn 15 minutter før det kom ei nett grønn frøken akende opp fra vannkanten og begynte å grave seg nedover i sanden. Vi satt muse stille, livredde for å forstyrre den viktige prosessen. Vi hadde lest oss opp på at det var meget viktig at de ikke ble forstyrret med hverken lyd eller lys før de hadde begynt å legge eggene.
        </p>

        <p>
            Etter en stund kom det en kar spaserende på stranden, som viste seg å være fra skilpaddefarmen som vi hadde besøkt tidligere. Han inviterte oss til å bli med å se på skilpaddene på nært hold. Det skulle vise seg å bli en helt unik opplevelse.
        </p>

        <h2>Fra selvtittulert manta-konge, til skilpadde-jordmord</h2>

        <p>
            Det viste seg at denne gamle mannen ikke bare passet på at skilpaddene ikke ble forstyrret, men også samlet inn eggene til farmen for å sikre klekkingen og øke overlevelses raten. Når skilpadden begynte å presse ut egene, plukket han de opp en etter en, som da innebar å stikke hånden ned under skilpaddens edle deler i sanden. Jonas, lite beskjeden som han er, tok sjansen når den bød seg og fikk prøve seg som jordmor.
        </p>

        <div class="imagestrip col-3">
            <figure>
                <a href="https://www.flickr.com/photos/hegerokenes/14841968818/">
                    <img src="https://farm4.staticflickr.com/3908/14841968818_0b840d79f4_z.jpg" alt="Fødende skilpadde" />
                </a>
            </figure>
            <figure>
                <a href="https://www.flickr.com/photos/hegerokenes/15028224102/">
                    <img src="https://farm4.staticflickr.com/3858/15028224102_6e6ea186eb_z.jpg" alt="Jonas jordmor" />
                </a>
            </figure>
            <figure>
                <a href="https://www.flickr.com/photos/hegerokenes/15028236292/">
                    <img src="https://farm4.staticflickr.com/3843/15028236292_db8ba34b01_z.jpg" alt="Hege og skilpaddeegg" />
                </a>
            </figure>
        </div>

        <p>
            Takk for nå Isla Mujeres, håper vi sees igjen!
        </p>

        <hr class="last" />
    </div>
</article>
