<article>
		<header>
			<h1 class="dark">
				Dag 41
				<span>Fridykkekurs</span>
			</h1>
			<time datetime="2014-09-28">28. september 2014 . Útila Bay Islands, Honduras</time>
			<img class="main-image" src="https://farm4.staticflickr.com/3916/15254278985_c8401b0779_k.jpg" alt="" />
		</header>

		<div class="post-content bg-subtle-grey">
			<p>
				Etter to netter på Finca Ixobel bestemte vi oss for å dra videre. Vi ville ut til kysten igjen. Destinasjonen: Útila Bay Island, Honduras.
			</p>
			<p>
				Turen fra Finca Ixobel ble lang. Vi startet den med å sitte i to timer på fortauskanten i Poptun (nærmeste byen til Finca Ixobel) og vente på bussen. Bussen i seg selv var grei nok med gode seter, med de ville virkelig gi valuta for pengene og kjørte aircontitionen og musikk på full speaker, så det var iskaldt. Heldigvis måtte vi bytte buss etter et to-tre timer.
			</p>
			<p>
				Etter 15 timer på farten ankom vi La Ceiba, som er nærmeste by til Útila. Ferga går kun to ganger om dagen, så vi måtte ha en overnatting her.
			</p>

			<h2>Den lille øya</h2>
			<p>
				Útila er den minste av Honduras Bay Islands, en øygruppe på tre. Útilas største industri er dykketurisme. Det er registrert over 80 dykkesteder rundt øya, og selv om øya ikke er lengre enn 11km, og 4km på det bredeste har de klart å skvise inn hele 11 dykkesentere. Trafikken på Útila er en historie i seg selv, men i korte trekk er det mye trafikk på få veier. Golfbiler, tuktuker, mopeder (flere med fri-eksos som bråker noe grasalt), ATV'er og en del små lastebiler. Og det kjøres fram og tilbake hele dagen, og de er ikke beskjedne på fløytebruken. 
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
			</div>
			
			<h2>Apnea</h2>
			<p>
				Vi hadde på forhånd lest at et var et fridykkesenter på Útila som holdt kurs. Hege har hatt lyst til å ta et slikt kurs i lengre tid, men på grunn av manglende tilbud i Trondheim har det ikke blitt noe av. Så det første vi gjorde etter at vi hadde fått oss et sted å bo var å tusle ned på Freedive Útila, og melde vår interesse for grunnkurset.
			</p>

			<p>
				Allerede dagen etter var vi i gang med første økt, vel og merke kun teori. Her lærte vi om filosofien i fridykking og de ulike disiplinene innenfor sporten. Videre ut over i kurset lærte vi også om fysikken rundt det, ulike pusteteknikker og ikke minst mye om sikkerhet. Vi var kun 4 elever, oss og et australsk par på vår alder.
			</p>

			<p>
				Kurset fortsatte med en økt til med teori samt to praksisøkter. På den første økta var maks dyben 12m. Begge var helt konfortable med dette og fikk etter hvert lov til å ha både bunntid og gå litt dypere. Hege endte opp på 16m og Jonas på 15m. En slik praksisøkt varte typisk i 3 timer med 10-15 dykk hver. Man skulle helst ikke spise så mye før økta, siden man jobber mye med magen, så vi var begge ganske sultne når det nærmet seg lunsjtid.
			</p>

			<p>
				Siste dag og siste praksisøkt på grunnkurset var maksdybden 21m. En dybde som vi begge måtte jobbe litt hardere for å nå. Hege endte opp på 20.5m og Jonas på 20m. Vi var begge veldig giret og ville forstsette med videregåendekurset.
			</p>

			<p>
				Etter to dager med avslapping og trykkende varme var videregående kurset i gang. Det hele startet med en økt statisk apnea, som er å holde pusten mens man ligger helt i ro med ansiktet ned i vann. Dette er en øvelse for å kjenne på sammentrekningen i kroppen som kommer når man holder pusten lenge, og å lære seg å takle disse. Det er for øvrig også en egen disiplin innen fridykking. Hege klarte holde pusten 3 min og 3 sek, mens Jonas klarte 2 min og 36 sek. Noe ingen av oss hadde sett for oss på forhånd.
			</p>

			<p>
				Vi var på to ulike steder når vi hadde praksisøktene, den ene het Coral View og det andre Halliburton Wreck. Halliburton Wreck er et skip som ble senket i 1998 for å skape et kunstig rev og et vrak å trene på for PADIs "Wreck penetration"-kurs.
				Skipet ligger på bunnen på 30 meter, mens skipets øverste dekk ligger på 20 meter.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Statisk apnea</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Tavle</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Gruppebilde</figcaption>
				</figure>
			</div>

			<p>
				Ingen av oss hadde noen ganger trodd at vi etter så kort  trening med fridykking skulle kunne komme ned på en slik dybde.
				Jonas stod på sanden ved siden av vraket (30m) og Hege på baugen som ligger på 25m. Begge var veldig komfortable med det, men foretrakk ulike disipliner. Jonas valgte free immersion feet first, hvor man trekker seg både ned og opp langs et tau, uten svømmeføtter. Turen ned gjøres med beina først. Hege likte best constant weight, hvor man svømmer ned med hodet først ved hjelp av svømmeføtter, snur på bunnen og svømmer rolig opp igjen. Her brukes tauet kun for å holde rett kurs.
			</p>

			<div class="imagestrip col-2">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Hege Constant weight</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Jonas Free immersion</figcaption>
				</figure>
			</div>

			<p>Jonas har redigert ferdig en film fra den siste tiden, men grunnet ustabilt nett får vi ikke lastet den opp.</p>

			<p><b>
				Jonas legger for øvrig ut en minioppdatering med ett bilde og en tekst for hver dag på tjenesten Instagram. For dere som ikke er på denne kan se oppdateringene ved å klikke det nederste ikonet i menyen til venstre.
			</b></p>

			<hr class="last" />
		</div>
</article>
