<article>
		<header>
			<h1 class="dark">
				Dag 132
				<span>Julefeiring i plussgrader</span>
			</h1>
			<time datetime="2014-12-29">29. desember 2014 . Cancun, Mexico</time>
			<img class="main-image" src="https://farm8.staticflickr.com/7507/15965596898_6e0ad1ec9a_k.jpg" alt="" />
		</header>

		<div class="post-content bg-subtle-grey">

			<p>
				Ingen av oss har noen sinne feiret jul uten foreldrene våre. Vi har feiret andre steder i Norge, men aldri i utlandet. Og aldri sammen. Dette året skulle alle de tre faktorene endres på.
			</p>

			<p>
				Førjula ble tilbrakt i Tulum, et lite sted sør for Cancun i Mexico sammen med hele familien Andreassen Follesø, altså Jonas sin storesøster med mann og to små jenter. Førjula ble fylt med alt fra soling, bading, snorkling, dykking, shoppetur til Playa del Carmen, besøk i Maya ruiner, og ikke minst masse god mat. 
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16127827716/in/set-72157647729332564" title="">
						<img src="https://farm8.staticflickr.com/7500/16127827716_d9aebf0f57_z.jpg" alt="" />
					</a>
					<figcaption>Tulum streetart</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16152965295/in/set-72157647729332564" title="">
						<img src="https://farm8.staticflickr.com/7498/16152965295_e04241d485_z.jpg" alt="" />
					</a>
					<figcaption>Lionfish piece</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15966160948/in/set-72157647729332564" title="">
						<img src="https://farm8.staticflickr.com/7580/15966160948_c3bec0841b_z.jpg" alt="" />
					</a>
					<figcaption>Maya jente</figcaption>
				</figure>
			</div>

			<h2>Snorkling med skilpadder</h2>

			<p>
				En av tingene man må få med seg når man er i Tulum er snorkling med skilpadder i Akumal. Akumal er et enda mindre sted litt nord for Tulum. Her er det en stor ansamling av grønnskilpadder nært land ved en veldig flott badestrand. Stranden er også besyttet av et korallrev som gjør at det er langt mindre bølger her enn andre steder langs kysten.
			</p>

			<p>
				Vi tok taxi dit alle seks og leide det vi trengte av utstyr. Etter litt overtaling fikk vi småjentene med oss ut på litt dypere vann og fikk sett den første skilpadden etter kort tid. Aurora fikk sett den, men Tuva nektet å putte ansiktet med dykkemaske på ned i vannet, men fikk heldigvis et glimt av den når den kom til overflaten. Vi voksne dro hver vår tur ut til korallrevet som lå litt lengre ute og fikk sett masse fisker og til og med en eagle ray glimtet med sitt nærvær.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15965528708/in/set-72157647737942563" title="">
						<img src="https://farm8.staticflickr.com/7477/15965528708_ae55f72738_z.jpg" alt="" />
					</a>
					<figcaption>Linda og Aurora</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15965533778/in/set-72157647737942563" title="">
						<img src="https://farm8.staticflickr.com/7490/15965533778_f27f37580e_z.jpg" alt="" />
					</a>
					<figcaption>Skilpadde</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16152975125/in/set-72157647737942563" title="">
						<img src="https://farm8.staticflickr.com/7509/16152975125_f081d9d795_z.jpg" alt="" />
					</a>
					<figcaption>Skilpadde</figcaption>
				</figure>
			</div>

			
			<div class="embed-container">
				<iframe src='http://player.vimeo.com/video/115066095' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>

			<h2>Snorkling/fridykking i cenotene</h2>

			<p>
				Tulum er også kjent for veldig bra snorkling og dykking i de såkalte cenotene. Langs hele Maya rivieraen som strekker seg fra Cancun i nord til Xcalac i sør består av et vanvittig nett med tuneller og grotter av primært ferskvann, men noen av cenotene har også tunneller som strekker seg ut til havet.
			</p>

			<p>
				Vi var å sjekket ut Dos Ojos centotene, som er to store cenoter like ved hverandre. Vannet var helt utrolig klart opp mot 60-70 meter sikt. Begge disse er grotter som ikke har åpent tak mot himmelen og blir derfor ikke varmet opp av solen, så temperaturen lå på ca 25 grader. Noe som var veldig kaldt da vi ikke hadde leid oss ordentlige våtdrakter.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15966025768/in/set-72157649722563127" title="">
						<img src="https://farm8.staticflickr.com/7549/15966025768_f61b84234b_z.jpg" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16152767282/in/set-72157649722563127" title="">
						<img src="https://farm8.staticflickr.com/7517/16152767282_28019d55db_z.jpg" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15966049568/in/set-72157649722563127" title="">
						<img src="https://farm8.staticflickr.com/7583/15966049568_5ee26d5dcd_z.jpg" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
			</div>

			<p>
				Vi dro også til Casa cenote, som er en åpen cenote, sammen med Linda, Sveinung og jentene. Jentene synes ikke det var så gøy da de var så javnt dype at de ikke kunne stå. Aurora har lært seg å svømme, men grunnet litt strøm i cenoten var det tungt for henne å svømme, og Tuva stolte ikke på redningsvesten, så begge satt store deler av turen på ryggen til en av oss.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16169686685/in/set-72157649722418169" title="">
						<img src="https://farm8.staticflickr.com/7518/16169686685_d346f639ce_z.jpg" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16169687435/in/set-72157649722418169" title="">
						<img src="https://farm9.staticflickr.com/8631/16169687435_61baa50495_z.jpg" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16168932782/in/set-72157649722418169" title="">
						<img src="https://farm9.staticflickr.com/8618/16168932782_18e8a47b4b_z.jpg" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
			</div>

			<h2>Dykking i cenotene</h2>

			<p>
				På lillejulaften hadde vi booket oss inn på dykking i cenotene med Motmot divers. Vi hadde valgt oss Grand cenote og Calavera cenote. Disse hadde sine ulike særpreg. Første dykk ble gjort i Grand cenote som hadde en hall stor som en katedral med dramatiske stalaktitter som strakte seg fra tak til gulv. Her finnes det også ferskvannskilpadder så vi fikk sett før v begynte dykket. Vi snirklet oss mellom stalaktitter og steinblokker og det hele var veldig facinerende. Siden vi ikke er sertifiserte grottedykkere får vi ikke gå lengre inn enn at vi alltid kan se utgangen.
			</p>

			<p>
				Det neste dykket var i Calavera cenote. Denne er bare et hull i bakken med et 2.5 meters dropp ned til vannet. Grotten består av både fersk- og saltvann og har på grunn av dette et algelag på bunnen som gir et veldig grønt lys i hele cenoten. Calavera var langt mørkere enn Grand cenote, men på ca 15 meter var skillet mellom salt- og ferskvannet, et så kaldt haloklin. Den første dykkeren vil se dette som et speil, men straks noen lager bevegelser som forstyrrer dette blir det ferske og det salte vannet blandet og sikten dårligere.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15569028373/in/set-72157650130213591" title="">
						<img src="https://farm9.staticflickr.com/8599/15569028373_5d8f99ed4c_z.jpg" alt="" />
					</a>
					<figcaption>Flaggermus</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16188829945/in/set-72157650130213591" title="">
						<img src="https://farm8.staticflickr.com/7521/16188829945_eb1f99c819_z.jpg" alt="" />
					</a>
					<figcaption>Ihopp på 2,5 meter</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15566428964/in/set-72157650130213591" title="">
						<img src="https://farm8.staticflickr.com/7477/15566428964_0f1ed8ab70_z.jpg" alt="" />
					</a>
					<figcaption>Ikke juledykk for ingenting</figcaption>
				</figure>
			</div>

			<figure>
				<a href="https://www.flickr.com/photos/hegerokenes/16188046712/in/set-72157650130213591" title="">
					<img src="https://farm9.staticflickr.com/8612/16188046712_f746090d4d_h.jpg" alt="" />
				</a>
				<figcaption></figcaption>
			</figure>

			

			<h2>Julaften</h2>
			
			<p>
				Julaften kom snikende, selv om julefølelsen var langt fra det den pleier å være. Linda og Sveinung bodde på et all inclusive resort hvor vi skulle ha dagspass på julaften slik at vi kunne være sammen med dem.
			</p>

			<p>
				Vi ankom resorten kl 09 om morgenen for å få mest ut av dagspasset. Vi startet dagen med en treningsøkt mens ungene var på barneklubb. Til lunsj bestilte vi havregrynsgrøt, nærmeste vi kom risengrynsgrøt, til alle 6 for å prøve holde på noen av tradisjonene. Vi hadde ordnet mandel og gave. Etter litt forklaring til ungene om hvordan dette fungerte insisterte Tuva sterkt på at mandelen skulle puttes i hennes grøt. Mandelen var dog ikke funnet når alle hadde sagt seg forsynt, som da betydde at en av ungene hadde fått den. Aurora var den heldige. Og etter en liten tale fra Tuva om at det var viktig å dele fikk hun åpnet pakken med godteri og meksikansk julepynt.
			</p>

			<p>
				Det var enda tidlig formiddag og en tur på stranda og i bassenget fulgte. Etter et par timer i delvis overskyet vær trakk vi inn og alle gjorde seg klare til gaveåpning. Det viste seg at man ikke trengte et stort juletre med hundrevis av gaver for at det skulle være spennende. Aurora og Tuva hadde flere ganger i løpet av dagen vært borte og klemt på og lest på pakkelapper.
			</p>

			<p>
				Etter pakkeåpning var det tid for middag. Middagen var buffet så det var noe for enhver smak. Det var ikke akkurat tradisjonell norsk jule kost, men med litt improvisering med svinekjøtt, saus og noe grønnsaker fikk vi til noe som kunne minne om hjemme. Det hele ble avsluttet på verdens største kakebord hvor de hadde julekuler laget av sjokolader fylt med frukt og sjokoladekrem.
			</p>

			<h2>Dykking med Sveinung</h2>

			<p>
				Andre juledag forflyttet vi oss nordover til Cancun. Sveinung fikk av oss til jul og bursdag et discovery scuba dive kurs med to dykk samt en spesiallaget video. Så en av romjulsdagene gikk med til dette. Dykkene ble gjort like utenfor Isla Mujeres på dere undervannsmuseum hvor vi hadde dykket tidligere. Været var ganske rufsete så det var store bølger. Siden begge dykkene var grunnere enn 10 meter merket man draget fra bølgene godt. Vi fikk sett statuene som er på museet og fiskene var ganske stasjonære på grunn av været og holdt seg i ro når vi nærmet oss så vi fikk studert de godt.
			</p>

			<div class="embed-container">
				<iframe src='http://player.vimeo.com/video/115647264' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16296619041/in/set-72157649923405378" title="">
						<img src="https://farm8.staticflickr.com/7558/16296619041_a8f2eac96f_z.jpg" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15678529373/in/set-72157649923405378" title="">
						<img src="https://farm8.staticflickr.com/7476/15678529373_02ee31d3c9_z.jpg" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16272480516/in/set-72157649923405378" title="">
						<img src="https://farm8.staticflickr.com/7468/16272480516_8449070653_z.jpg" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
			</div>

			<h2>Dagstur til Isla Mujeres</h2>

			<p>
				Siden vi var så nærme det som var blitt ett av våre favoritt steder måtte vi ta de med og vise fram nyedelige Isla Mujeres. Hele gjengen tok en tur ut til skilpaddegården og fikk sett på både store og små skilpadder på nært hold. Dette falt veldig godt i smak hos både Tuva og Aurora. Aurora og Hege fikk til og med holde hver sin albinoskilpadde, og jentene fikk matet i de ulike bassengene. Stor suksess. Resten av dagen ble tilbragt på Playa Norte, den nordlige stranden på Isla Mujeres som er langgrunn og perfekt for småjentene.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15678540173/in/set-72157649923405378" title="">
						<img src="https://farm8.staticflickr.com/7507/15678540173_ebe57d2835_z.jpg" alt="" />
					</a>
					<figcaption>Skilpadde babyer</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16272492286/in/set-72157649923405378" title="">
						<img src="https://farm8.staticflickr.com/7578/16272492286_70f8eb3153_z.jpg" alt="" />
					</a>
					<figcaption>Aurora fikk holde en skilpadde</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16110884228/in/set-72157649923405378" title="">
						<img src="https://farm8.staticflickr.com/7575/16110884228_97a2b36810_z.jpg" alt="" />
					</a>
					<figcaption>Iguanas</figcaption>
				</figure>
			</div>

			<hr class="last" />
		</div>
</article>