<article>
		<header>
			<h1 class="dark">
				Dag 62
				<span>Hammertime</span>
			</h1>
			<time datetime="2014-10-19">19. oktober 2014 . Puerto Ayora, Galápagos Ecuador</time>
			<img class="main-image" src="https://farm6.staticflickr.com/5607/15484633216_bfd60f67cf_k.jpg" alt="" />
		</header>

		<div class="post-content bg-subtle-grey">
			<p>Toppbilde: dekk eller hammerhai</p>
			<p>
				Etter noen dager for oss selv i Guayaquil møtte Hege opp på flyplassen for å møte resten av reisefølget som skulle være med til Galápagos. Hege sin pappa hadde 60 års dag i 2014, samt 40 års jubileum som dykker i 2013, og har alltid hatt en drøm om å reise med hele familien til Galápagos, og sånn ble det. På flyplassen møttes hele familien Røkenes; pappa Jon, mamma Mai-Anne, storesøster Linn, lillebror Espen og lillesøster Marit. I tillegg til de var det også 4 andre nordmenn som skulle være med på tur; Per, Berit, Astrid og Kim som alle er ivrige dykkere og undervannsfotografer. 
			</p>

			<p>
				Etter en overnattig i Guayaquil med trivelig middag og frokost på hotellet, bar det til Galápagos. Vi ankom San Cristobal og hadde direkte transfer til båten som vi skulle videre på. Etter en kjapp tur på den lokale dykkesjappa for leie av utstyr for meg og Jonas var det ombordstigning for lunsj. Om bord hilste vi på de 5 resterende passasjerene som var 3 brasilianske venninner og et russisk par.
			</p>

			<h2>Lekne sjøløver</h2>
			
			<p>
				For å være sikker på at alle hadde det utstyret de trengte, riktig vekt og at alt passet over ens hadde vi et prøvedykk i havnen i San Cristobal. Dykket ble gjort like under en av sjøløveplatformene på 6 meters dybde. Her fikk vi oppleve 10-15 lekne sjøløver på kloss hold. Sikten og temperaturen var dog ikke mye å skryte av, men like vel veldig gøy å se de agile dyrene boltre seg i sitt rette element. Man ble tidvis svimmel av å prøve å holde følge med de.
			</p>


			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15047863104/" title="">
						<img src="https://farm6.staticflickr.com/5606/15047863104_29194235a7_z.jpg" alt="" />
					</a>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15665915431/" title="">
						<img src="https://farm8.staticflickr.com/7497/15665915431_a1bdd64261_z.jpg" alt="" />
					</a>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15665900031/" title="">
						<img src="https://farm4.staticflickr.com/3937/15665900031_4f667e70b2_z.jpg" alt="" />
					</a>
				</figure>
			</div>

			<p>
				Videre bar det utover mot de nordligste øyene. På veien ditt stoppet vi å dykket på Mosquera, like ved øya Baltra og Roca Redonda, før vi endelig på dag tre nådde Wolf Island, den første av de to øyene som var hovedmålet på turen. Båten gikk langt saktere enn planlagt, da de hadde fått feil på den ene motoren og i praksis gikk for halv maskin (mellom 2 og 8 knop avhengig av vind og havstrøm).
			</p>
			
			<h2>Båten</h2>
			<p>
				Å være på en livaboard har sine fordeler og ulemper. Man bør helst gå over ens med de andre om bord, da det er få områder enn sin egen lugar man ikke omgås med andre. Man må tåle konstant during, enten av motor, kompressor, pumper eller lignende. Man må tåle at det meste er fuktig og klissete av saltvann.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Båten utvendig</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Salongen</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Vaskemaskiner</figcaption>
				</figure>
			</div>

			<p>
				Båten vi var på, M/V Deep Blue, har fire etasjer med 9 lugarer for gjestene, totalt 18 gjester. Alle lugarene hadde to sengeplasser og eget bad. Crewet har egne lugarer adskilt fra gjestene, totalt 12 crewmedlemmer. Toppdekket er et soldekk, og i tillegg utstyrt med spinningsykkel, vaskemaskin og tørketrommel. Nest øverste etajse var bridgen, samt 4 lugerer og et soldekk under tak. Hoveddekket var loungen med flatskjerm og DVD spiller, kjøkkenet, spisestuen og suiten (eneste lugar med dobbeltseng) som vi hadde. Nedre dekk var de 4 siste gjeste lugarene samt crewet sine lugarer.
			</p>

			<h2>Maten</h2>
			<p>
				Dagene startet mellom 06:30 og 07:30 med en kraftig frokost. Egg i ulike former, potetkaker, yoghurt, müsli og juice. Et par dager dykket vi allerede før frokost, da var det en liten pre-frokost med toast og frukt. Midt på dagen var det lunsj. Her snakker vi ikke brødskiver med pålegg, men heller fisk eller kylling med dampede grønnsaker, ris og salat. Middagene var stort sett noe i samme duren som lunsjen, men alltid med en tilhørende dessert, og gjerne i store stykker om det var kake som ble servert. Når man ble litt småsulten før middagen som stort sett ikke var før 19 på kvelden gikk det i Orio- og chocchip kjeks. Farlig gode. Familien Røkenes hadde også tatt med Freia sjokoladehjerter og tyrkisk pepper som ble fortært i tide og utide.
			</p>


			<h2>Dykkingen</h2>
			<p>
				Totalt på turen hadde vi 15 dykk. Noen dager kun ett, andre dager 2-4. Temperaturen på dykkene var mellom 21 grader lengst sør til 26 grader lengst nord. Jonas og Hege dykket med våtdrakter, noe som var litt kaldt til tider, mens de fleste andre nordmennen dykket tørrdrakter, noe som ble litt varmt til tider. Det bunnet i grunnen ut i hva de ulike hadde av utstyr. Noen hadde med både tørr og våtdrakt. Jeg og Jonas hadde leid lange våtdrakter på 4mm i tillegg til en kort for å ha over på 2.5mm. Under hadde vi en 1-1.5mm vest med hette. Likevel var det litt kaldt på de sørligste dykkene. Hansker og sko er et must.
			</p>	

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Dykkedekk</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Svømmeføtter i båt</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Gummibåt</figcaption>
				</figure>
			</div>

			<p>
				Vi var delt inn i to grupper på 8 og 7 dykkere med hver sin guide. Før dykkenene ankret båten opp nær dykkestedet og vi ble sendt ut i hver sin lille dingy (liten gummibåt), og ble transportert ut til dykkesiten som var alt fra 2-10 minutter unna.
			</p>
			<p>
				Flere av dykkene spesielt på Isla Wolf og Darwin har sterke strømmer, dette medfører at ihoppene må gjøres negative. Det vil si at man hopper i vannet uten luft i vesten som gjør at man straks synker  ned til bunnen. Dette for å hindre at man blir dratt med strømmen bort fra land. Man kommer ned og holder seg fast og venter på resten av gruppen. Når alle er på plass og alt er OK, og strømmens retning og styrke er bekreftet begynner dykket.
			</p>
			<h3>Oversikt over alle dykkene vi gjorde</h3>
			<p>Lenker til dykkeprofilene på Movescount</p>
			<ul>
				<li>
					<a href="http://www.movescount.com/moves/move43663792#activities=51&activity-filter=1" title="">Dykk 1 - San Cristobal, 6.3m/35min, rolige forhold, 21 °C</a></li>
				<li>
					<a href="http://www.movescount.com/moves/move43663794#activities=51&activity-filter=1" title="">Dykk 2 - Mosquera, 24m/51min, rolige forhold, 21 °C</a></li>
				<li>
					<a href="http://www.movescount.com/moves/move43663796#activities=51&activity-filter=1" title="">Dykk 3 - Roca Redonda, 18.6/49min, svellinger, 22 °C</a></li>
				<li>
					<a href="" title="">Dykk 4 - Roca Redonda, ---JONAS-- , svellinger, 22 °C</a></li>
				<li>
					<a href="http://www.movescount.com/moves/move43663798#activities=51&activity-filter=1" title="">Dykk 5 - The Landslide Isla Wolf, 22.3m/51min, sterk strøm, 23 °C</a></li>
				<li>
					<a href="http://www.movescount.com/moves/move43663798#activities=51&activity-filter=1" title="">Dykk 6 - Darwins Arch Isla Darwin, 21.9m/49min, sterk strøm, 24 °C</a></li>
				<li>
					<a href="http://www.movescount.com/moves/move43663802#activities=51&activity-filter=1" title="">Dykk 7 - Darwins Arch Isla Darwin, 18,5m/48min, sterk strøm, 25 °C</a></li>
				<li>
					<a href="http://www.movescount.com/moves/move43663805#activities=51&activity-filter=1" title="">Dykk 8 - The Landslide Isla Wolf, 21.8m/53min, sterk strøm, 26 °C</a></li>
				<li>
					<a href="http://www.movescount.com/moves/move43663806#activities=51&activity-filter=1" title="">Dykk 9 - The Elephant Isla Wolf, 23.3m/45min, noe svellinger, 26 °C </a></li>
				<li>
					<a href="http://www.movescount.com/moves/move43663811#activities=51&activity-filter=1" title="">Dykk 10 - Shark Bay Isla Wolf, 19.4/42min, sterk strøm, 26 °C</a></li>
				<li>
					<a href="http://www.movescount.com/moves/move43663814#activities=51&activity-filter=1" title="">Dykk 11 - Shark Bay Isla Wolf, 20.8m/40min, sterk strøm, 26 °C</a></li>
				<li>
					<a href="http://www.movescount.com/moves/move43663815#activities=51&activity-filter=1" title="">Dykk 12 - Cape Marshall Isla Isabela, 22.5m/50min, fint og rolig, 23 °C</a></li>
				<li>
					<a href="http://www.movescount.com/moves/move43663818#activities=51&activity-filter=1" title="">Dykk 13 - Cape Marshall Isla Isabela, 23m/50min, fint og rolig, 22°C</a></li>
				<li>
					<a href="http://www.movescount.com/moves/move43663820#activities=51&activity-filter=1" title="">Dykk 14 - Cape Marshall Isla Isabela, 13m/44min, noe tidevannsdrag, 23°C</a></li>
				<li>
					<a href="http://www.movescount.com/moves/move43663823#activities=51&activity-filter=1" title="">Dykk 15 - Cousins Rock Isla Seymore, 22m/46min, rolig i starten sterk strøm på slutten, 22°C</a></li>
			</ul>

			<h2>Dyrelivet</h2>

			<p>
				Galápagos er kjent for et rikt dyreliv både i vannet og på land. Dyrelivet varirer basert på sesongene. Havstrømmene har enrom innvirkning på hvilke dyr som befinner seg hvor. I kald/tørrsesongen som er fra juni til november kan man se store stimer med hammerhai, gravide hvalhaier, stim av ulike rays - altså de store dyrene. Det var en viktig grunn til at vi valgte nettopp denne sesongen over den noe varmere og mer solfylte. Man kan som vi vet ikke få både midnattsol og nordlys. 
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Hvalhai</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Hammerhai</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Yellowfin tuna</figcaption>
				</figure>
			</div>

			<h3>Minutter med hammerhai</h3>
			<p>
				På Isla Darwin i den riktige sesongen snakker man ikke om antallet hammerhai man så, men hvor mange minutter. Det er kanskje en av de mest rå opplevelsene vi har hatt. Å klamre seg fast i steinene i fjellsiden og prøve å unngå å bli tatt av strømmen mens vi ser på en vegg av hammerhai som cruiser forbi i 15-20min. Det eneste som hadde vært råere var om vannet hadde vært krystallklart med uendelig med sikt og man virkelig hadde sett omfanget av det som beveget seg forbi. Vi så kun en brøkdel og ble "swept off our feet".
			</p>

			<figure>
				<a href="" title="">
					<img src="" alt="" />
				</a>
				<figcaption>Vegg av hammerhai</figcaption>
			</figure>

			<h3>Gentle giants</h2>
			<p>
				Spesielt for Galápagos er hvalhaiene. De fleste andre steder i verden hvalhaien holder til er det stort sett mannlige individer. Kun på Galápagos finner man de virkelig store hunnene, som ofte også er gravide, som vi var så heldige å få et glimt av på et av dykkene på Wolf Island. Dersom du er interessert i hvalhai anbefaler vi å lese <a href="http://www.simonjpierce.com/galapagos-whale-shark-research/">Dr. Simon J. Pierce sin artikkel om "Giants Of The Galápagos".</a> En veldig god artikkel som tar for seg mysteriet rundt hvalhaiene. Damen som vi så var et sted mellom 10 og 12 meter lang.
			</p>

			<h3>Den mindre faunaen</h3>
			<p>
				Noe som ikke nevnes så mye er omfanget av murener som ikke var til å unngå å få med seg på hvert eneste dykk. Hege har på denne reisen fått seg en ny favoritt-art som heter Blenny. Det startet egentlig i Honduras, men viste seg å være i stort antall rundt de fleste av Galápagos øyene også. Dette er en forholdsvis liten fiskefamilie, hvor de virkelig store individene blir opp til 12cm.
			</p>
			
			<h2>Landeksursjoner og andre opplevelser</h2>
			<p>
				Den første dagen på båten hadde vi en landekskursjon på øya Seymore Nortre. Her er det laget naturstier som gir god mulighet for å komme nært inn på både fregatt- og bluefooted booby fugler. Lavaøgler og landiguanene var heller ikke beskjedne der de lå og varmet seg i steksolen.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Go Pro teamet</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Iguan</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Fregattfugl</figcaption>
				</figure>
			</div>

			<h3>Snorkling med delfiner</h3>
			<p>
				Vi hadde ved flere anledninger delfiner som hoppet like ved båten. Og ved Roca Redonda var det en stor flokk som boltret seg like ved hvor vi hadde ankret opp.
				Etter det første dykket vårt på Roca Redonda, fikk vi muligheten til å hoppe i vannet med delfinene. Det antallet vi klarte å se fra overflaten var virkelig toppen av isfjellet. Det var delfiner over alt, og innimellom en og annen sjøløve som ville være med å leke.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
			</div>
			
			<h2>The grand Galapagos movie</h2>
			
			<div class="embed-container">
				<iframe width="100%" height="auto" src="//www.youtube.com/embed/dquS97zzJ2Q" frameborder="0" allowfullscreen></iframe>
			</div>

			<h2>Flere bilder</h2>
			
			<iframe class="flickr-embedd large" src="https://www.flickr.com/photos/hegerokenes/15507972995/in/set-72157648241097387/player/" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>


			<hr class="last" />
		</div>
</article>