<article>
		<header>
			<h1 class="dark">
				Dag 86
				<span>Fjellturer i Peru</span>
			</h1>
			<time datetime="2014-11-12">12. november 2014 . Cusco, Peru</time>
			<img class="main-image" src="../img/default_image.jpg" alt="" />
		</header>

		<div class="post-content bg-subtle-grey">
			<p>
				Etter flere måneder langs kysten var det på tide med et avbrekk. Turen som var planlagt og booket lang tid i forveien var til Cusco i Peru. Hvor primærmålet var å gå den populære Inka Trailen opp til Macchu Picchu. Cusco ligger på 3300 meters høyde, og vi hadde planlagt med god tid her oppe for å bli avklimatiserte til høyden før Inka Trailen, og for å oppleve noe av det Cusco og området rundt har å by på. Vi diskuterte det på flyet og konkluderte med at vi ikke hadde vært noe særlig høyere enn ca 1400 m på noen av fjellovergangene vi har kjørt over i Norge. 
			</p>

			<h2>Høydesyken</h2>
			<p>
				Allerede da vi landet på flyplassen fikk vi merke høyden på kroppen. Pulsen var merkbart høyere og det prikket i kroppen. De første to dagene var det slitsomt å gå trapper, og man ble lett svimmel. På kveldene hadde vi begge hodepine. Dette gikk heldigvis over. Om det var på grunn av all Coca-teen vet vi ikke. Vi bodde hjemme hos en familien som bestod av to relativt unge Amerikanske foreldre i midten av 30-årene; Nic og Bill, og de 4 barna på 9, 7, 4 og 1,5 år.
			</p>

			<h2>Gøy på landet</h2>
			<p>
				Den ene dagen, da Hege var sengeliggende med hodepine, ble Jonas med familien vi bodde hos ut på landet til noen venner  for å feire allehelgensdag. Vennene bodde på en gård på landet hvor de hadde bittesmå kattunger, og ca 200 marsvin. Marsvinene ble avlet til mat, og så helt ut som de vi har som kjæledyr i Norge. Maten som ble tilberedt til feiringen var likevel svinekjøtt stekt i vedovn.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
			</div>

			<h2>Stisykling i Andesfjellene</h2>
			<p>
				Etter noen dager med avklimatisering tok Nic og Bill oss med på sykkeltur i fjellet. Vi fikk leid ordentlige downhill sykler, da vi skulle sykle mer nedover enn bortover.
				Vi hadde med oss en sjåfør som fraktet oss mellom de to fjellene som vi syklet ned, og ikke minst kjørte oss opp. Jonas og Bill tok det første fjellet som en treningstur og syklet oppover i ca 2 timer og 800 høydemeter. Nesten på toppen byttet vi, og Nic og Hege tok den siste halvtimen til toppen for å få varmet litt opp, mens Jonas og Bill fikk slappet litt av i bilen.
			</p>

			<p>
				Vi visste ikke helt hva vi skulle forvente da vi dro på denne turen, men det viste seg å være helt fantastisk sykling, både med tanke på stiene og utsikten. 
			</p>
			<p>
				Syklingen i seg selv var utfordrende på flere plan. For det første var det ganske bratt utenfor stien, noe som vi ikke er helt vant til med vår skogssykling i Trondheimsmarka. Stiene var veldig tekniske på noen steder; både svingete, smale, bratte og med steinur. Men vi hadde solide sykler med gode dempere og bremser så vi storkoste oss. Langs stien møtte vi både lamaer, arbeidsfolk på vei hjem fra fjellet og esler. Utsikten var helt fantastisk og vi hadde strålende sol nesten hele turen, bortsett fra en liten regnskur på slutten. Utrolig nok var det heller ingen av oss som gikk på trynet for en gangs skyld.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Utsikt</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Sykkel</figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>Hege og kona</figcaption>
				</figure>
			</div>
			<p>
				Turen ble avsluttet hjemme hos ei dame som laget en god tradisjonell peruisk middag til oss på kjøkkenet hvor hun også hadde to kattunger og ca 30 marsvin som løp rundt på gulvet. Huset var et eget kjøkkenhus laget i leire, og var ett av flere bygg på gården hennes.
			</p>

			<h2>Inka Trail</h2>
			<p>
				Vi hadde fått anbefalt av flere vi kjenner at dersom vi skulle til Macchu Picchu måtte vi i alle fall gå den tradisjonelle Inka Trailen. Det er en populær rute som går fra et sted kalt Km 88. Derfra er det lagt opp til 4 dager/3 netter for å komme seg til de sagnomsuste Inka ruinene. Det finnes også andre turer man kan ta om den klassiske turen føles for lang eller for kort.
			</p>

			<p>
				Gruppen bestod av 2 guider, 16 turgåere og 18 portere. Portere er folk, primært menn, som bærer alt utstyret og eventuell bagasje hele turen. De løper i forveien og setter opp campen for lunsj og middag, slår opp teltene våre og lager mat til oss. Mange av porterne er etterkommere av inkaene som opprinnelig brukte disse stiene og bygget trappene og byen. Hver porter bærer for øvrig 25 kg - noe som har blitt redusert fra tidligere 50 kg, fortsatt imponerende da de fleste ikke er høyere enn 160 cm (ca på høyde med May-Brit). 
			</p>

			<p>
				De fire etappene vi skulle gå var lagt opp med følgende stikkord; 1. etappe: Lett, 2.: Utfordrende, 3.: Uforglemmelig og 4.: Maccu Picchu - sjarmørettappen som vi kalte den.
			</p>

			<p>
				Stikkordene stemte ganske bra, den første dagen var nesten litt for lett. Vi valset av gårde og hadde nesten mer pause enn gåing. Guiden stoppet titt og ofte for å fortelle om ulike ruiner og tradisjon knyttet til naturen. Dagens tur var kun XX km og XX høydemeter.
				Dag to var over det de kalte for Dead Womans Pass som er det høyeste punktet på hele turen. Høydemetrene på denne dagen var langt flere, XX, men kun XX km. Guidene var veldig opptatte at alle måtte ta denne etappen i sitt eget tempo. Det var veldig variabelt både hvor mye den enkelte bar, hvor god form man var i og hvor aklimatisert man var. Å utsette kroppen for mye og hard aktivitet kan være med på å utløse høydesyken som kan føre til både feber, kvalme og oppkast. Heldigvis var det ingen som ble alvorlig rammet av den. Jeg og Jonas var først oppe på passet og ventet nesten en time før alle var kommet opp.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption>do</figcaption>
				</figure>
			</div>

			<h2>Enkel luksus</h2>
			<p>
				Hver morgen ble vi vekket med en kopp coca te i teltet. Vi lå to og to i hvert telt med liggeunderlag og sovepose. Etterpå kom de med et fat med varmt vann så man fikk vasket ansikt og hender før det var klart for frokost.
			</p>

			<p>
				Noe som over hodet ikke var luksus på turen var toalettene. Det var bygget noen offentlige toaletter, mens det var noen privateide som man kunne bruke for 1 sol (ca. X kroner). Var man heldig var der en porseleensskål man kunne sitte på (absolutt ikke spesielt ren), men standarden var et porseleenshull i bakken.
			</p>

			<h2>Maten</h2>
			<p>
				Alt de klarte å trylle fram av mat på turen var ganske imponerende. De hadde ikke tilgang til å skaffe noe under veis, så alt måtte planlegges på forhånd. Frokostene bestod av blant annet pannekaker, ulike sorter grøt og brød med ulikt pålegg. Middagene var av to til tre retter med suppe som forret og noe kjøtt (kylling, svin eller fisk), masse ris og grønnsaker i ulike varianter og noe frisk salat til hovedrett. Til dessert hadde vi fersken, flytende varm sjokolade og bløtkake. Vi fikk også en pose med mellommåltid som spistes under veis, denne bestod av frukt, sjokolade og kjeks.
			</p>
			<p>
				Dag tre begynte kroppen å si ifra at man hadde belastet den en del. Denne etappen skulle vi kun over et mindre fjellpass og deretter ta oss XX meter nedover i høye steintrappetrinn. Dette var noe som virkelig kjentes i beina etter de to foregående dagene. Vi hadde også vært såpass freidig at vi hadde mer eller mindre løpt ned trappene fra Dead Womans Pass.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
			</div>

			<p>
				Den siste dagen ble vi vekket før hanen galte. 03:30 var det frokost. Kl. 04:30 var det 5 min gange ned til inngangsporten til Macchu Picchu, og her gjalt det å være så tidlig som mulig. Vi ventet i 1,5 time før portene åpnet kl. 06:00 og vi kunne gå videre. Det gikk radig i 40 min opp til det første utkikkspunktet hvor vi kunne se Macchu Picchu for første gang. Derfra var det bare å tusle nedover og gå til siste sjekkpunkt som var inngangen til selve Macchu Picchu. Vi fikk 1,5 timer guidet tour inne i ruinene før vi selv kunne vandre rundt på egenhånd.
			</p>

			<hr class="last" />
		</div>
</article>
