<article>
		<header>
				<h1 class="dark">
					Dag 14
					<span>Dykking, dykking, dykking</span>
				</h1>
				<time datetime="2014-09-01">01. september 2014 . Isla Cozumel, Mexico</time>
				<img class="main-image" src="https://farm4.staticflickr.com/3908/14927672449_83beb7b149_k.jpg" alt="Bobler" />
		</header>

		<div class="post-content bg-subtle-grey">
				<p>
					Mandagen gikk mildt sagt til dykking. Vi startet dagen med oppmøte på kaia 07:30, hoppet i båten med divemaster Steve som vi hadde dykket med på de to foregående turene. Han var en utrolig fin kar, pensjonert amerikaner som tidligere hadde jobbet i hotellbransjen.
				</p>
				<p>
					Første turen gikk til Santa Rosa Wall, hvor vi igjen fikk se både nurseshark og skilpadde, og vi blir aldri lei. Det var overraskende mye hummer som tasset rundt i den bratte veggen for å finne seg passende huler. På slutten av dykket fikk vi også se en skikkelig gammel, mørk og tynn baracuda, som så ganske gretten ut.
				</p>
				<p>
					Dykk nr. 2 ble et strømdykk over revet Paso de Cedral. Her landet vi så og si på en stor skilpadde når vi kom i vannet, og like etter kom to nursesharks cruisende inn, dog litt langt unna. Vi lot oss bokstavlig talt rive med, og forflyttet oss ca en kilometer før dykket var over. På slutten fikk vi sett to enorme rainbow papegøyefisker - Hege sin favoritt fiskesort, den hun har som bakgrunn på mobilen.
				</p>

				<div class="imagestrip col-3">
					<figure>
						<a href="https://www.flickr.com/photos/hegerokenes/14927598929/in/set-72157646964221011" title="">
							<img src="https://farm4.staticflickr.com/3913/14927598929_985c7b8668_z.jpg" alt="" />
						</a>
					</figure>
					<figure>
						<a href="https://www.flickr.com/photos/hegerokenes/14889656627/in/set-72157646964221011" title="">
							<img src="https://farm4.staticflickr.com/3887/14889656627_6f3b9fc491_z.jpg" alt="" />
						</a>
					</figure>
					<figure>
						<a href="https://www.flickr.com/photos/hegerokenes/14889644838/in/set-72157646964221011" title="">
							<img src="https://farm4.staticflickr.com/3869/14889644838_699709fca5_z.jpg" alt="" />
						</a>
					</figure>
				</div>

				<p>
					Etter 3 timers opphold på land bar det ut i båten igjen. Denne gangen med en litt yngre og mer nerdete guide, Jorge. Jorge var under utdanning for å bli instruktør hos Aldora divers.
					Det første dykket ble et skumringsdykk på La Francesa (French point) hvor vi hadde dykket tidligere, men vi tok en litt annen rute denna gangen, så man kjente seg ikke nevneverdig igjen før på slutten, hvor vi igjen fikk møte de to kjempestore papegøyefiskene.
				</p>
				<p>
					På overflateintervallet etter første dykket spurte Jorge hvor vi og de to andre dykkerne vill dra. Vi hadde ikke noen spesielle preferanser på sted, alt hadde jo vært superbra så lang, men vi ville veldig gjerne se blekksprut, og det fikk vi virkelig. Vi hoppet ut i vannet og landet på bunnen på ca 17meter, så og si rett oppå en blekksprut. En liten en sådan, men det skulle bli flere sjanser ut  over i dykket. 
				</p>
				<h2>Om fisker sover? Ja, de gjør de</h2>
				<p>
					Spesielt er det gøy å se papegøyefisker om natten. De ligger i små hull i korallrevet, mot bakken. Øynene vidt åpne, men de reagerer ikke før du så og si er borti de. Noen ganger lager de seg noen merkelige bobler av spytt rundt seg som de ligger inni. Dette skal visstnok gjemme lukten av de for predatorene.
				</p>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/14927816688/in/set-72157646964221011" title="">
						<img src="https://farm6.staticflickr.com/5583/14927816688_c9010e6b8d_k.jpg" alt="Sovende papegøyefisk" />
					</a>
					<figcaption>Sovende papegøyefisk</figcaption>
				</figure>
				
				<p>
					Korallrev er veldig annerledes nattestid. Hardkorallene, som spiser om natten, ser helt annerledes ut, da de plutselig har små armer som de tar tak i mikroorganisker i vannet som de spiser. Dyrelivet er også veldig annerledes. Vi hadde dykket på, La francesa (French point), tidligere, men aldri sett krabber. Nå var de mange, og de var store. De største på størrelse med mellomstore kongekrabbene. Blekksprut an mas, små fisker som ble helt gale i lyset av lyktene våre, sovende papegøyefisker, ja de sover faktisk, ligger på bunnen eller i Korallrevet helt stille. Vi var også så heldig at vi fikk sett squid (akkar), i full forsvarsposisjon og skulle sloss med oss. Til vår glede kom det jo også seilende inn en liten nurseshark, som vi for øvrig nå har hatt på samtlige av våre dykk på Cozumel.
				</p>
				<div class="imagestrip col-3">
					<figure>
						<a href="https://www.flickr.com/photos/hegerokenes/15091398486/in/set-72157646964221011" title="">
							<img src="https://farm6.staticflickr.com/5558/15091398486_0ae24017b7_z.jpg" alt="" />
						</a>
					</figure>
					<figure>
						<a href="https://www.flickr.com/photos/hegerokenes/14927850278/in/set-72157646964221011" title="">
							<img src="https://farm6.staticflickr.com/5588/14927850278_8647c5af08_z.jpg" alt="" />
						</a>
					</figure>
					<figure>
						<a href="https://www.flickr.com/photos/hegerokenes/14927769329/in/set-72157646964221011" title="">
							<img src="https://farm6.staticflickr.com/5566/14927769329_7943cd8537_z.jpg" alt="" />
						</a>
					</figure>
				</div>
				<p>
					Vi fikk også sett ett av de merkeligst skapningene som finnes i vannet, nemlig spansk hummer. Den ser utenomjordisk ut da den har blå perler rundt de sorte øyene, og ser ut som et annet dyr som har flyttet inn i bakparten til en hummer.
				</p>

				<div class="embed-container">
					<iframe src='http://player.vimeo.com/video/105030214' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>

				<p>
					Vi var ikke hjemme før i ellevetiden, og da var begge ganske slitne og trøtte.
				</p>
				<p>
					Dagen etter ble brukt til en del småærender. Vi har blant annet sendt en pakke til Norge med ting som vi har oppdaget at blir overflødige, samt alle premiene til Jonas fra Mr. Sanchos triatlonet. Litt klesvask, og betaling av regningen vår til Aldora divers for 8 fantastiske dykk. Påmettermiddagen gikk vi en tur ned på "stranden", litt lite sand, men i alle fall ved sjøen. Jonas ville svømme litt så Hege tok med snorkleutstyr. Snorklingen var langt bedre enn vi trodde, langt mer liv enn forventet. Til og med et par minikorallrev med masse liv.
				</p>
				<p>
					Dette ble vår siste dag på Isla Cozumel. I morgen bærer det til Playa Del carmen som er fastlandsforbindelsen til Cozumel. Der skal vi være i en natt før det bærer videre til Belize og Caye Caulker - nok ei øy.
				</p>

				<hr class="last" />
		</div>
</article>
