<article>
		<header>
				<h1 class="dark">
					Dag 42
					<span>Level up - Rescue Diver</span>
				</h1>
				<time datetime="2014-09-29">29. september 2014 . Útila Bay Islands, Honduras</time>
				<img class="main-image" src="https://farm6.staticflickr.com/5597/15447243311_50317208e4_k.jpg" alt="" />
		</header>

		<div class="post-content bg-subtle-grey">
			<p>
				Vi har begge begynt å få noen dykk i loggen. Jonas rundet sitt hundrede dykk i sommer, og vi har lenge snakket om å ta litt videre kursing. Spesielt innenfor sikkerhet da vi ofte dykker alene hjemme i Norge.
			</p>

			<p>
				Útila er et sted som er kjent for å utdanne mange dykkere og Útila Dive Center (UDC) er det eldste og et av de mest vel renomerte av de 11 dykkesentrene på øya. 
			</p>

			<h2>Førstehjelp</h2>
			<p>
				For å få lov å ta rescue diver kurset må man ha tatt vanlig førstehjelpskurs innen de to siste årene. Begge to hadde behov for å friske opp dette, så vi brukte til sammen en og en halv dag på teori og praksis til dette.
			</p>

			<h2>Rescue diver</h2>
			
			<p>
				Kurset er en større utdanningsmodul hos PADI enn de ulike spesialitetene man kan ta. UDC har valgt å legge kurset over to hele og to halve dager.  De to første dagene er det teori på morgenen og praktiske øvelser i såkalt "confined waters" (gjerne basseng eller grunn rolig sjø) på ettermiddagen. De to siste øktene er derimot ute på ett av dykkestedene, og man får kjenne på hvordan det kan være å ha både strøm og bølger med i regnestykket. I tillegg er det en flervalgs teorieksamen.
			</p>

			<div class="imagestrip col-2">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15265260537/" title="">
						<img src="https://farm6.staticflickr.com/5600/15265260537_717230d3dd_z.jpg" alt="" />
					</a>
					<figcaption>Munn til munn</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15428757066/" title="">
						<img src="https://farm6.staticflickr.com/5600/15428757066_c7ffe044ec_z.jpg" alt="" />
					</a>
					<figcaption>Bæreøvelse - Hege bærer Jonas</figcaption>
				</figure>
			</div>

			<h2>Spennende overflateintervall</h2>
			<p>
				Etter hvert dykk må man ha en viss tid på overflaten før man kan gjøre neste dykk - grunnet nitrogenoppbygging i kroppen. Normalt brukes disse intervallene til småprat. Vero, vår instruktør, derimot var så giret at hun hadde fikset den raskeste båten og den beste kapteinen for å finne hvalhai. Da vi hadde lett en stund og håpet begynte å dabbe av roper plutselig kapteinen at vi måtte komme oss i vannet. Og rett ved oss svømmer en stor hvalhai på kanskje 10 meter. Nok en fantastisk opplevelse med disse mektige dyrene. Like etter kom det også en liten Atlantic Manta Ray som ville være med på leken.
			</p>

			<figure>
				<a href="https://www.flickr.com/photos/hegerokenes/15264375100/" title="">
					<img src="https://farm3.staticflickr.com/2946/15264375100_5f12303872_h.jpg" alt="" />
				</a>
			</figure>

			<h2>Uforutsigbare øvelser</h2>
			<p>
				Kursøvelsene de to første dagene, var preget av at instruktøren viste hvordan øvelsene skulle gjøres og så gjorde vi de selv et par ganger. Monkey see, monkey do. De to siste dagene var mer mulige scenarioer, eks. dykker som har vann i masken, er tom for luft, er bevisstløs eller i full panikk. Da vi kom opp fra vårt siste dykk hvor det ikke hadde vært noen "hendelser" som vi måtte løse, var det plutselig en dykker som var forsvunnet. Intruktøren vår Vero var en skremmende god skuespiller, og fikk adrenalinet i gang. Vi måtte roe ned henne for å finne ut hvor de hadde dykket, og sette i gang en leteaksjon. 
			</p>
			
			<p>
				Jonas og Lesley (tredje dama på kurset) var dyktige med søkemønsteret og kompasset, og fant forsvunnede "Scott" raskt. "Scott" pustet ikke og de måtte frakte han med opp til overflaten og begynne munn til munn (på liksom), mens de tauet han bort til båten. På båten hadde jeg prøvd å holde Vero under kontroll og klargjort nød-oksygen, og var klar til å hjelpe til med å få pasienten om bord. 
			</p>
			<p>
				Det hele var ganske kaotisk og dramatisk, men vi bestod med glans. Jonas hadde gjort en formidabel jobb med munn til munn metoden, og "Scott" hadde ikke fått noe vann i luftveiene til tross for bølger. Brystkompresjonene ble gjennomført på båten og "Scott" kom til livet igjen. En nær druknings død for han stakkar.
			</p>

			<div class="imagestrip col-2">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15264479338/" title="">
						<img src="https://farm3.staticflickr.com/2948/15264479338_6dec2851f8_z.jpg" alt="" />
					</a>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15428022226/" title="">
						<img src="https://farm4.staticflickr.com/3934/15428022226_354fe73269_z.jpg" alt="" />
					</a>
				</figure>
			</div>

			<h2>Interessant og nyttig</h2>

			<p>
				Ikke bare lærer kurset deg å takle situasjonen når ulykken først er ute, men vi har også jobbet mye med forebygging av ulykker både med tanke på psyken til dykkerne og utstyret. Kurset har vært preget av mange øvelser som får det til å sitte i hendene og gå på autopilot i hodet. Anbefaler alle som har tatt dykkesertifikatet å bygge på med dette kurset som gir deg langt større trygghet som dykker. Ikke minst så var det også veldig gøy, takket være fantastiske intruktørene og DM-ene som fikk gjennomgå som både våre paniske og bevisstløse dykkere i ulike situasjoner med litt varible redningsresultater i starten.
			</p>

			<p>
				Filmen under er en sammenklipp av Maya ruinene i Tikal, byen Flores, Finca Ixobel, fridykking og hvalhai.
			</p>

			<div class="embed-container">
				<iframe src='http://player.vimeo.com/video/108691047' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>


			<hr class="last" />
		</div>
</article>
