<article>
		<header>
				<h1 class="dark">
					Dag 52
					<span>To steg fram, ett tilbake</span>
				</h1>
				<time datetime="2014-10-09">9. oktober 2014 . Las Flores, El Salvador</time>
				<img class="main-image" src="https://farm6.staticflickr.com/5607/15484633216_bfd60f67cf_k.jpg" alt="" />
		</header>

		<div class="post-content bg-subtle-grey">
			<p>
				Etter mye fokus på dykking på Útila og mye dykking i vente på Galápagos, fant vi ut at det var fint med et avbrekk. Vi bestemte oss for å reise til El Salvador for å lære oss å surfe.
			</p>

			<p>
				Vi tok ferga over fra Útila til fastlandet, og deretter 3 timer med buss fra La Ceiba til San Pedro Sula. Her måtte vi ha en overnatting. På wiki-travel, som er en reise-tips-side, har de "hengt opp" en varseltrekant på artikkelen om San Pedro Sula, da byen har flest antall drap per innbygger i hele verden! Så det ble ikke så mye vasing rundt i gatene, heller en rolig kveld på hostellet.
			</p>

			<p>
				Dagen etter bar det videre med buss. 7 timer i en ganske bra buss, men vi presterte å få de plassene med minst beinplass, så Jonas erget seg litt over det. Vel framme i San Salvador, hovedstaden i El Salvador, tok vi inn en natt på hotell. Vi brukte ettermiddagen og den følgende formiddagen til litt shopping. Vi ble hentet av Jorge som tok oss med på den 2,5 timers lange kjøreturen ut til Las Flores som er plassen hvor vi skulle være på surfecamp.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15507805645/in/set-72157648241097387" title="">
						<img src="https://farm4.staticflickr.com/3945/15507805645_d2cd399558_z.jpg" alt="" />
					</a>
					<figcaption>Bassenget</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15321027450/in/set-72157648241097387" title="">
						<img src="https://farm4.staticflickr.com/3954/15321027450_65e2b6739b_z.jpg" alt="" />
					</a>
					<figcaption>Hengekøyer</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15504645861/in/set-72157648241097387" title="">
						<img src="https://farm4.staticflickr.com/3940/15504645861_cbe0307620_z.jpg" alt="" />
					</a>
					<figcaption>Storbølgen</figcaption>
				</figure>
			</div>

			<p>
				Vi hadde 5 dager på campen, med tre timer med instruktør hver dag. Det ble dog langt fra så mye surfing som vi hadde håpet. Vi hadde hver vår runde med mageproblemer og måtte stå over en dag. Hege presterte også på slutten av oppholdet å gå på trynet på grusveien på en løpetur og skrapte opp hendene. Så da utgikk surfingen for henne den siste dagen.
			</p>

			<p>
				De øktene vi fikk var veldig morsomme, og slitsomme. Las Flores har ca 3 m endring i vannstand fra høy- til lavvann. Så surfingen måtte tilpasses etter tidevannet. Selv om vi begge har kjørt snowboard i mange år, var ikke surfing noe som kom helt av seg selv. Det var langt fra så enkelt som vi kanskje hadde ønsket. Å komme seg opp å stå på brettet var relativt gjennomførbart, men straks bølgene ble litt kraftigere ble det straks vannskeligere. Vi fikk prøve ulike brett, alt fra store skumgummibrett til mindre og kjappere brett. Jo mindre brett jo vanskeligere å holde balansen, men jo mer manøvrerbart og raskt når man først har fått teken på det.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15484659596/in/set-72157648241097387" title="">
						<img src="https://farm3.staticflickr.com/2949/15484659596_69f04f8ddc_z.jpg" alt="" />
					</a>
					<figcaption>Jonas</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15321363647/in/set-72157648241097387" title="">
						<img src="https://farm4.staticflickr.com/3945/15321363647_13f125cde4_z.jpg" alt="" />
					</a>
					<figcaption>Hege</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15504593471/in/set-72157648241097387" title="">
						<img src="https://farm3.staticflickr.com/2949/15504593471_f9c1bee02b_z.jpg" alt="" />
					</a>
					<figcaption>Den store bølgen slo mot steinene</figcaption>
				</figure>
			</div>

			<p>
				Mye av tiden på leksjonene gikk til å komme seg langt nok ut, og å vente på bølger av riktig størrelse. Mange for store og mange for "myke", de myke bølgene er de som ikke klarer å bære deg, slik at du synker rett gjennom. Mye saltvann i både øyne og mage, og en hel del svømming og slossing mot vannstrømmene for å komme seg dit man ville. Det var to steg fram og ett tilbake, som gjorde oss ganske utslitte, så vi sov godt om nettene. 
			</p>

			<p>
				Når bølgene var for store og de andre gutta var ute å surfet hadde vi panoramautsikt fra stedet vi bodde. Vi så rett ned på der den største bølgen brøt, og det var mye roping for å varsle når de store bølgene kom inn.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15507894005/in/set-72157648241097387" title="">
						<img src="https://farm3.staticflickr.com/2946/15507894005_a56b3a8fa9_z.jpg" alt="" />
					</a>
					<figcaption>Høyvann</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15321174048/in/set-72157648241097387" title="">
						<img src="https://farm6.staticflickr.com/5613/15321174048_293cf4aff9_z.jpg" alt="" />
					</a>
					<figcaption>Øyenstikkere</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15321181360/in/set-72157648241097387" title="">
						<img src="https://farm6.staticflickr.com/5605/15321181360_28039c97d5_z.jpg" alt="" />
					</a>
					<figcaption>Vi og Emilio</figcaption>
				</figure>
			</div>

			<p>
				En av instuktørene våre, Emilio, er en lokal helt, og har tidligere vært en av de beste surferne i El Salvador. Han er fremdeles en legende blant de lokale gutta og tilreisende. En morsom skrue med en veldig interessant livshistorie som for øvrig også hadde vært på trykk i et av de store surfemagasinene.
			</p>

			<div class="embed-container">
				<iframe width="100%" height="auto" src="//www.youtube.com/embed/dquS97zzJ2Q" frameborder="0" allowfullscreen></iframe>
			</div>

			<h2>Flere bilder fra Las Flores</h2>
			
			<iframe class="flickr-embedd large" src="https://www.flickr.com/photos/hegerokenes/15507972995/in/set-72157648241097387/player/" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>


			<hr class="last" />
		</div>
</article>