<article>
		<header>
			<h1 class="dark">
				Dag 132
				<span>En annerledes julefeiring</span>
			</h1>
			<time datetime="2014-12-29">29. desember 2014 . Cancun, Mexico</time>
			<img class="main-image" src="" alt="" />
		</header>

		<div class="post-content bg-subtle-grey">

			<p>
				
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
			</div>

			<hr class="last" />
		</div>
</article>