<article>
		<header>
			<h1 class="dark">
				Dag 114
				<span>Meksikansk rekord</span>
			</h1>
			<time datetime="2014-12-29">29. desember 2014 . Cancun, Mexico</time>
			<img class="main-image" src="https://farm8.staticflickr.com/7509/15485699414_fa0b6ffa58_k.jpg" alt="" />
		</header>

		<div class="post-content bg-subtle-grey">

			<p>
				Planene våre ble litt endret fra opprinnelig da Jonas storesøster Linda sammen med familien hennes bestemte seg for å feire jul i Mexico. Vi hadde tenkt å reise fra Brazil over til Afrika, men bestemte oss heller for å bli i sentral Amerika slik at vi kunne feire sammen med de.
			</p>

			<p>
				Etter oppholdet på Cuba var vi tilbake i Mexico. Vi landet i Cancun og tok ferga ut til Isla Mujeres. Etter noen avslappingsdager der dro vi lengre sørover til Couzumel hvor vi også var tidligere i høst. Denne gangen dro vi dit med et litt mer spesifikt mål. På Utila i Honduras tok vi et dykkekurs som går på Lionfish jakt. Vi visste at det var mye og at de jaktet dem på Cozumel. 
			</p>

			<p>
				Vi dro ut med Liang og to divemaster studenter. Målet var Maracaidu som ligger helt sør på Cozumel. Havbunnen her var som å være i en norsk tyttebærskog, bare uten trær. Vi hadde hvert vårt 90 cm lange Hawaii slynge. I motsatt ende av spissen er det festet et strikk hvor man trer tommelen inn for så å dra spydet så langt opp i hånda man klarer. Da er spyet ladd og når man har siktet mot målet er det bare å slippe taket så fyker det avgårdet.
			</p>

			<p>
				Hege fikk i starten av dykket tatt en relativt liten en. Like etter fikk Jonas også en av den mindre sorten. Deretter var det stille en stund.
			</p>


			<div class="imagestrip col-2">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16082204426/in/set-72157649613589167" title="">
						<img src="https://farm9.staticflickr.com/8595/16082204426_d197357b27_z.jpg" alt="" />
					</a>
					<figcaption>På spydet</figcaption>
				</figure>

				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16082303036/in/set-72157649613589167" title="">
						<img src="https://farm8.staticflickr.com/7583/16082303036_5a7e0439db_z.jpg" alt="" />
					</a>
					<figcaption>Spydfisker</figcaption>
				</figure>
			</div>

			<p>
				Mot slutten av dykket fant Hege en stor lionfish som hun siktet seg inn på. Traff på andre forsøk og var fornøyd med en såpass stor en. Nesten samme størrelse som den personlige rekorden hennes fra Utila.
			</p>

			<p>
				Like ved denne var det en litt mindre en. Jonas var så snill at han lot en av de andre ta den sien han allerede hadde tatt en liten en, og de ble fulltreffer.
			</p>

			<div class="imagestrip col-2">
				
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15485767594/in/set-72157649613589167" title="">
						<img src="https://farm8.staticflickr.com/7522/15485767594_25943b0a78_z.jpg" alt="" />
					</a>
					<figcaption>Liang med fiskene</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15485779614/in/set-72157649613589167" title="">
						<img src="https://farm8.staticflickr.com/7466/15485779614_c775b0d746_z.jpg" alt="" />
					</a>
					<figcaption>Fangstshot</figcaption>
				</figure>
			</div>

			<h2>Rekordfisken</h2>
			<p>
				Bunntiden gikk mot slutten og i det vi så oss rundt en siste gang før vi skulle begynne på turen mot overflaten fikk Jonas øye på et beist av en løvefisk. Den var mørk i fargen, noe som indikerer at den er gammel.
			</p>
			
			<p>
				Han svømte mot den, og Liang, dykkeguiden vår så hva som var i ferd med å skje og svømte etter. Etter ett bomskudd og et treff satt den på spydet, og Liang kom tilunsetning med kniven for å ta livet av den. Det var stor spenning på vei hjem for å få målt fisken.
			</p>

			<div class="embed-container">
				<iframe src='http://player.vimeo.com/video/114323106' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			</div>

			<p>
				Vel framme på dykkesenteret kom Adam med målebåndet og fisken målte 45 cm fra ende til ende. Som tangerer den Mexicanske rekorden som også er tatt på Cozumel. Det var også kun 2 cm fra verdensrekorden på 47 cm.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16082414916/in/set-72157649613589167" title="">
						<img src="https://farm8.staticflickr.com/7550/16082414916_8dcacbbc42_z.jpg" alt="" />
					</a>
					<figcaption>Måling trofefisken</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16106289481/in/set-72157649613589167" title="">
						<img src="https://farm9.staticflickr.com/8655/16106289481_4b669c8464_z.jpg" alt="" />
					</a>
					<figcaption>Måling av den nest største</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16108196895/in/set-72157649613589167" title="">
						<img src="https://farm8.staticflickr.com/7476/16108196895_44b6d6384c_z.jpg" alt="" />
					</a>
					<figcaption>Filetering til ceviche</figcaption>
				</figure>
			</div>

			<hr class="last" />
		</div>
</article>
