<article>
    <header>
        <h1>
            Dag 273
            <span></span>
        </h1>
        <time datetime="2015-05-18">18. mai 2015 . Apo Reef, Fillipinene</time>
        <img class="main-image" src="../img/default_image.jpg" alt="" />
    </header>
    

    <div class="post-content bg-subtle-grey">
    	
    	

    	vimeo.com/128141007

		<hr class="last" />
    </div>
</article>