<article>
		<header>
			<h1 class="dark">
				Dag 139	
				<span>Betongjungelen</span>
			</h1>
			<time datetime="2015-01-04">04. januar 2015 . New York, USA</time>
			<img class="main-image" src="https://farm8.staticflickr.com/7503/16110984558_b31f24a448_k.jpg" alt="" />
		</header>

		<div class="post-content bg-subtle-grey">

			<p>
				Årets nyttårsfeiring skulle foregå i New York. For å si det mildt ble det en iskald opplevelse. Både Malin og Frode, og Sunniva og Espen møtte oss der og alle seks bodde sammen i en leilighet på Downtown Manhattan. I tillegg skulle også Linda og Sveinung og jentene være der.
			</p>

			<p>
				Vi ankom New York to dager før nyttårsaften. Så vi hadde en og en halv dag til sightseeing og shopping av nyttårsantrekk før feiringen.
			</p>

			<p>
				Vi besøkte Ground Zero og så på minnesmerkene som er laget etter 11. september. Vi travet rundt i byen og bare så på folk og gatene. Vi gikk opp til The Highlands, som er en slags gågate park de har laget i de gamle togsporene som gikk gjennom byen. Banen er hevet 5 meter over bakkenivå, så man har fin utsikt. I tilleg har det plantet trær og laget flere områder hvor man kan sitte og nyte byen.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16272582646/in/set-72157648009837333" title="">
						<img src="https://farm8.staticflickr.com/7466/16272582646_db9b28bd23_z.jpg" alt="" />
					</a>
					<figcaption>Ground Zero memorial</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16111164040/in/set-72157648009837333" title="">
						<img src="https://farm8.staticflickr.com/7559/16111164040_c37c364d11_z.jpg" alt="" />
					</a>
					<figcaption>Street art sett fra The highlands</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16272588236/in/set-72157648009837333" title="">
						<img src="https://farm8.staticflickr.com/7553/16272588236_1f55833c34_z.jpg" alt="" />
					</a>
					<figcaption>Klassisk NY subway</figcaption>
				</figure>
			</div>

			<h2>Nyttårsaften</h2>
			<p>
				Etter siste innspurt på shoppingen, var det tid for omkledning og nyttårsmiddag. Sunniva hadde tatt ansvar og booket bord på Spice Market til alle 10. Maten og drinkene var veldig gode - og vi hadde det veldig trivelig i vårt eget lille avlukke.
			</p>

			<p>
				Nyttårsrakettene ble sett fra Downtown Manhatten der de ble skutt opp over Statton Island og Frihetsgudinnene.
			</p>

			<figure>
				<a href="https://www.flickr.com/photos/hegerokenes/16272606936/in/set-72157648009837333" title="">
					<img src="https://farm9.staticflickr.com/8667/16272606936_22eacf40ca_b.jpg" alt="" />
				</a>
				<figcaption>Nyttårsraketter</figcaption>
			</figure>

			<h2>Helikopterflygning</h2>

			<p>
				Jonas hadde fått helikopterflygning i 30 årsgave, og Sveinung fikk det av Linda og jentene i 35 årsgave, og det var det flere som ville være med på. Espen, Malin, Frode og Hege ble med på den spennende sightseeing turen rundt Manhattan.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16111000568/in/set-72157648009837333" title="">
						<img src="https://farm8.staticflickr.com/7551/16111000568_f2fa4ece34_z.jpg" alt="" />
					</a>
					<figcaption>Frihetsgudinnen</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15678668133/in/set-72157648009837333" title="">
						<img src="https://farm9.staticflickr.com/8651/15678668133_bbd5d51b55_z.jpg" alt="" />
					</a>
					<figcaption>Manhattan fra lufta</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16297701252/in/set-72157648009837333" title="">
						<img src="https://farm8.staticflickr.com/7523/16297701252_0f694b1a78_z.jpg" alt="" />
					</a>
					<figcaption>Helikoptergjengen (+ Espen)</figcaption>
				</figure>
			</div>

			<p>
				De resterende dagene ble brukt til enda mer sightseeing og til masse god mat. Vi var blant annet innom Moto i Brooklyn, Butchers daughter i Soho, på toppen av 30 Rock bygget og på Times Square. Ikke minst fikk vi med oss en av verdens største lekebutikker og Legobutikken, som resulterte i to fornøyde småjenter som fikk seg Disney Frost (Frozen) Lego.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16112436589/in/set-72157648009837333" title="">
						<img src="https://farm8.staticflickr.com/7461/16112436589_2a30886a7d_z.jpg" alt="" />
					</a>
					<figcaption>Frihetsgudinnen</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16298585685/in/set-72157648009837333" title="">
						<img src="https://farm8.staticflickr.com/7514/16298585685_64878bb7c2_z.jpg" alt="" />
					</a>
					<figcaption>Dinosaur</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16112738567/in/set-72157648009837333" title="">
						<img src="https://farm8.staticflickr.com/7548/16112738567_64f189705f_z.jpg" alt="" />
					</a>
					<figcaption>To fornøyde jenter</figcaption>
				</figure>
			</div>

			<hr class="last" />
		</div>
</article>