<article>
    <header>
        <h1>
            Dag 189
            <span>Havet og storbyen</span>
        </h1>
        <time datetime="2015-02-23">23. februar 2015 . Simonstown, Cape Town, Sør-Afrika</time>
        <img class="main-image" src="https://farm8.staticflickr.com/7601/16809618392_bb2c87e626_k.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">

		<p>
			Det gikk ikke mer enn en dag før vi måtte i vannet igjen. Vi hadde booket oss inn på en tur med Shark Explorers i Simonstown som spesialiserer seg på haidykking.
		</p>

		<p>
			Turen bar 40 km sør for tuppen av Cape Point og utenfor kontinentalplaten til Afrika. Havet viste hvem som bestemte og holdt et godt leven. 
		</p>

		<p>
			Etter at åten ble senket i vannet gikk det ikke lengre enn 20 min før første haien var på plass og vi hoppet i utstyret. Vi dykket på kun 8 meter selv om dybden under oss var langt over 1000m.
		</p>

		<figure>
           <a href="https://www.flickr.com/photos/hegerokenes/15995215643/in/set-72157650971487611" title="">
             <img src="https://farm9.staticflickr.com/8574/15995215643_43a165d4d6_k.jpg" alt="" />
           </a>
           <figcaption></figcaption>
        </figure>

		<h2>Nyskjerrige småfrøkner</h2>

		<p>
			De første haiene som dukket opp var blåhaier. Disse er forholdsvis små sammenlignet de vi har lekt oss med den siste uka.
			De er lange, tynne og veldig nyskjerrige. Det var første gangen at vi fikk beskjed under briefingen at vi måtte dytte haiene unna når de kom for nære. Dersom vi ikke gjorde dette kunne vi risikere at de tok tak for å finne ut hva vi var.
		</p>

		<figure>
           <a href="https://www.flickr.com/photos/hegerokenes/16613872291/in/set-72157650971487611" title="">
             <img src="https://farm9.staticflickr.com/8603/16613872291_e8a434ebb1_k.jpg" alt="" />
           </a>
           <figcaption>Nyskjerrig liten frøken</figcaption>
        </figure>

        <div class="imagestrip col-2">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/15995235253/in/set-72157650971487611" title="">
	             <img src="https://farm9.staticflickr.com/8673/15995235253_7302bce11d_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16614368442/in/set-72157650971487611" title="">
	             <img src="https://farm9.staticflickr.com/8633/16614368442_6bf49677a1_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

        <h2>Hvithaiens lille kusine</h2>

		<p>
			Etter en stund i vannet dukket det også opp to kortfinnede mako haier. Denne er i samme familie som hvithaien, men langt mindre. Den ser skumlere ut enn blåhaiens uskyldige uttrykk, men var til tross langt mer beskjeden.
		</p>

		<div class="imagestrip col-2">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16589005906/in/set-72157650971487611" title="">
	             <img src="https://farm9.staticflickr.com/8571/16589005906_8c4dd49298_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16614327902/in/set-72157650971487611" title="">
	             <img src="https://farm9.staticflickr.com/8594/16614327902_cb344c7841_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

		<p>
			Vi hadde 55-70 minutter i vannet med disse fantastiske fiskene før luften var oppbrukt. Temperaturen her var ikke så ille, rundt 22 grader, da vi var i en varm strøm som går utenfor kysten.
		</p>

		<h2>Kuhai</h2>

		<p>
			På turen inn mot Simons town stoppet vi i ei vik hvor vi skulle ha vårt andre dykk. Vannet her var nesten 5 grader kaldere og helt grønt på grunn av planktonoppblomstring. 
		</p>

		<p>
			Dette dykket var også et haidykk, og det tok ikke mange minuttene før de smilende kjempene dukket opp. Sevengill cow sharks har et mildt nesten smilende utseende, og glir rolig forbi deg godt innenfor armslengde. Visstnok jakter denne arten i flokk for å ta større dyr som andre haier, skater og hvalross.
		</p>

		<div class="imagestrip col-3">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16615030705/in/set-72157650971487611" title="">
	             <img src="https://farm9.staticflickr.com/8667/16615030705_8a83a9fab9_z.jpg" alt="" />
	           </a>
	           <figcaption>Haiens syv gjeller</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/15995279563/in/set-72157650971487611" title="">
	             <img src="https://farm9.staticflickr.com/8574/15995279563_d7daf219ce_z.jpg" alt="" />
	           </a>
	           <figcaption>Nyskjerrigper</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16613920781/in/set-72157650971487611" title="">
	             <img src="https://farm9.staticflickr.com/8614/16613920781_22418a48f0_z.jpg" alt="" />
	           </a>
	           <figcaption>En liten dark shy shark</figcaption>
	        </figure>
	    </div>
		
		<p>
			Vi hadde 4 forskjellige haier som fulgte oss gjennom dykket. En liten dark shy shark dukket også opp. Dette er en liten hai på halvmeteren som ligner veldig på den vi så i Mossel Bay. Det ble en fantastisk tur med 4 nye haiarter på listen.
		</p>

        <div class="embed-container">
        	<iframe src='http://player.vimeo.com/video/120084201' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      	</div>
      	
      	<p>
      		Resten av oppholdet i Sør-Afrika ble tilbragt i Cape Town. Vi bodde på et hostel på Greenpoint, som er et veldig fint strøk litt utenfor selve bykjernen. 
      	</p>

      	<h2>Table mountain</h2>
      	
      	<p>
      		Cape Town er kjent for fjellet som ruver over bygryta. Det er mulig å ta en kabelbane opp til toppen, men det er også flere flotte stier man kan ta for å komme seg opp. Vi bestemte oss for å gå Platteklip George stien. Vi brukte 55 minutter bestemt og effektiv gange. Fra start til toppunktet var det 1,3 km og 647 høydemeter. Jonas hadde lest ett sted at dersom man tok denne turen på under en time så kunne man plassere seg i gruppen for de spreke. Så tid til å nyte utsikten og bildetaking var minimal.
  		</p>

  		<div class="imagestrip col-2">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16624570239/in/set-72157651330899052" title="">
	             <img src="https://farm8.staticflickr.com/7616/16624570239_17d8dca7e1_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16188336664/in/set-72157651330899052" title="">
	             <img src="https://farm9.staticflickr.com/8572/16188336664_9a1cffaf10_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

  		<p>
  			På toppen av Table Mountain ser man hele byen og hvordan den ligger med fjellet som grense i ene enden og havet i den andre. Vi spiste lunsj på restauranten før turen bar ned igjen. Etter en såpass hard tur oppover, svei det godt i beina på vei ned.
		</p>

		<div class="imagestrip col-2">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16784813296/in/set-72157651330899052" title="">
	             <img src="https://farm8.staticflickr.com/7593/16784813296_4bcf53618f_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16809581231/in/set-72157651330899052" title="">
	             <img src="https://farm9.staticflickr.com/8601/16809581231_ec52cbcbd8_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

		<hr class="last" />
	</div>
</article>