Burdykking med hvithai i Gaansbai

<article>
    <header>
        <h1>
            Dag 1--
            <span></span>
        </h1>
        <time datetime="2015-02-08">08. februar 2015 . Sani Pass, Sør-Afrika &amp; Lesotho</time>
        <img class="main-image" src="../img/default_image.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">

		<div class="imagestrip col-2">
	        <figure>
	           <a href="" title="">
	             <img src="" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

		<p>

		</p>
		<hr class="last" />
	</div>
</article>