<article>
    <header>
        <h1>
            Dag 209
            <span>Safari og strandliv</span>
        </h1>
        <time datetime="2015-02-15">15. februar 2015 . Serengeti, Ngorongoro og Zanzibar, Tanzania</time>
        <img class="main-image" src="https://farm8.staticflickr.com/7670/16482481674_2d280979c3_k.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">

    	<p>
    		Ettermiddagen den 23. februar forlot vi Sør-Afrika med fly via Johannesburg. Vi hadde en nattflygning til Nairobi, Kenya. Her møtte vi foreldrene til Jonas; Thor og Torill. De hadde tatt seg godt over to uker ferie som de skulle tilbringe sammen med oss på safari og strandliv i Tanzania.
		</p>
		<p>
			Den første destinasjonen var Kilimajaro. Her ble vi hentet på flyplassen av guiden vi skulle ha den kommende uka. Herfra kjørte vi ca fire timer innover i landet til den lille landsbyen Karatu. Her skulle vi bo på High View hotel i to dager. 
		</p>

		<div class="imagestrip col-3">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16917355010/in/set-72157649552409634" title="">
	             <img src="https://farm8.staticflickr.com/7673/16917355010_bffa0b74d0_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/17103363162/in/set-72157649552409634" title="">
	             <img src="https://farm8.staticflickr.com/7702/17103363162_c71d104af9_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16482484024/in/set-72157649552409634" title="">
	             <img src="https://farm9.staticflickr.com/8816/16482484024_6ecbd75cbf_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

		<p>
			Den første turen gikk til Tarangire nasjonalpark, som er den minste i Tanzania. Her var fokuset på elefanter. Vi fant flere ulike flokker med både små og store individer. Likevel var det de muntre vortesvinene som tok mest av fokuset der de danset rundt og rullet seg i gjørmebad.
		</p>

		<div class="imagestrip col-3">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/17104885975/in/set-72157649552409634" title="">
	             <img src="https://farm8.staticflickr.com/7636/17104885975_80cf2c76b5_z.jpg" alt="" />
	           </a>
	           <figcaption>Akkurat som i Løvenes Konge</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16917110248/in/set-72157649552409634" title="">
	             <img src="https://farm9.staticflickr.com/8698/16917110248_e05a2ce85e_z.jpg" alt="" />
	           </a>
	           <figcaption>Utsikt</figcaption>
	        </figure>
	        <figure>
	        	<a href="https://www.flickr.com/photos/hegerokenes/16918809249/in/set-72157649552409634" title="">
	             <img src="https://farm9.staticflickr.com/8684/16918809249_290ce54dbc_z.jpg" alt="" />
	           </a>
	           <figcaption>Skygge</figcaption>
	        </figure>
	    </div>

		<p>
			Dagen etter ventet en lengre kjøreetappe innover til Serengeti. På veien dit fikk vi sett utsikten ned til Ngorongoro krateret og en del sebra og gnu. Lite visste vi at denne turen skulle bli en av de mektigste dyreopplevelsene vi har hatt. På denne tiden av året migrerer 1.2 milioner gnu og sebra over slettene gjennom Serengeti. Vi kjørte et veistrekke i ca 2 timer i en snittfart på runt 80 km/t og hadde et konstant dyrehav rundt oss på begge sider. Store sjeggete gnu hanner, runde drektige eller akkurat nybakte mødre med sine små brune kalver, sebraer i alle fasonger så langt øye kunne se, og på disse slettene kan man telle lengdene i kilometer.
		</p>

		<figure>
           <a href="https://www.flickr.com/photos/hegerokenes/17103444392/in/set-72157649552409634" title="">
             <img src="https://farm8.staticflickr.com/7598/17103444392_03d791dd3c_k.jpg" alt="" />
           </a>
           <figcaption></figcaption>
        </figure>

        <h2>Masaiene</h2>

        <p>
        	En del av det planlagte opplegget på turen var å besøke en Masai-landsby. Masaiene er et nomadisk folk hvor det samme samfundet har flere ulike leire. 
    	</p>

        <div class="imagestrip col-2">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16917142418/in/set-72157649552409634" title="">
	             <img src="https://farm8.staticflickr.com/7584/16917142418_521725663b_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/17104935935/in/set-72157649552409634" title="">
	             <img src="https://farm9.staticflickr.com/8740/17104935935_3f3005cdf8_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

		<p>
			Hver dag hadde vi medbragt lunsj i en liten lunsjboks som vi stoppet på ulike pikniksteder for å nyte. Innholdet var noe interessant med alt fra juice til popcorn til kake, nøtter og kyllinglår. Første dagen hadde vi bananer i boksen, og et øyeblikks uoppmerksomhet så var Thor sin banan i grepet på en liten silkeape som hadde lært å utnytte piknikplassene.
		</p>

        <figure>
           <a href="https://www.flickr.com/photos/hegerokenes/16897519247/in/set-72157649552409634" title="">
             <img src="https://farm9.staticflickr.com/8712/16897519247_36cfa31011_k.jpg" alt="" />
           </a>
           <figcaption></figcaption>
       </figure>

		<p>
			De neste dagene fikk vi sett både leopard, flodhest som vandret på land, en pitteliten elefant baby, flere store og små løveflokker, hyener, struts, gaseller, flere fugler i ulike størrelse og fasong, bøfler, krokodiller, sjakaler, silkeaper, bavianer, løveunger med mere. Vi fartet rundt i en 4x4 Toyota Landcruiser kun oss fire og guiden. Taket på bilen kunne løftes opp slik at vi fikk bedre utsikt.
		</p>

		<div class="imagestrip col-2">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16917361218/in/set-72157649552409634" title="">
	             <img src="https://farm9.staticflickr.com/8741/16917361218_aab5b3d1ee_c.jpg" alt="" />
	           </a>
	           <figcaption>Bilen vår</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16897672227/in/set-72157649552409634" title="">
	             <img src="https://farm9.staticflickr.com/8721/16897672227_1375776463_c.jpg" alt="" />
	           </a>
	           <figcaption>Freiafugelen</figcaption>
	        </figure>
	    </div>
	    
	    <div class="imagestrip col-3">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/17105056045/in/set-72157649552409634" title="">
	             <img src="https://farm8.staticflickr.com/7595/17105056045_02b4aaa411_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/17105103385/in/set-72157649552409634" title="">
	             <img src="https://farm8.staticflickr.com/7635/17105103385_a0044070f3_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/17079042536/in/set-72157649552409634" title="">
	             <img src="https://farm9.staticflickr.com/8694/17079042536_751d638688_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

	    <h2>Ngorongoro</h2>
	    
	    <figure>
           <a href="https://www.flickr.com/photos/hegerokenes/17078963386/in/set-72157649552409634" title="">
             <img src="https://farm9.staticflickr.com/8727/17078963386_b61b67ce1a_h.jpg" alt="" />
           </a>
           <figcaption>Ngorongoro krateret</figcaption>
        </figure>

	    <p>
	    	Ngorongoro var den tredje området vi besøkte. Krateret er etterlevningene etter en vulkan. En litt morsom sak er at det ikke finnes noen giraffer nede i krateret, rett og slett fordi det er for bratt for de å komme seg neg. 
    	</p>
    	<p>
    		En ting som dog finnes i Ngorongoro er sorte neshorn. Vi har tidligere kun sett hvite. I følge guiden vår skal det være 22 neshorn igjen i krateret. Vi så kun 3 stykker og de var veeeldig langt unna. Den nærmeste var kanskje 300 meter unna, og da kom samtlige av bilene som var nede i krateret den dagen.
		</p>

    	<div class="imagestrip col-3">
    		<figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16484987783/in/set-72157649552409634" title="">
	             <img src="https://farm8.staticflickr.com/7655/16484987783_59672e5a54_z.jpg" alt="" />
	           </a>
	           <figcaption>Inngangen til krateret</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16482703164/in/set-72157649552409634" title="">
	             <img src="https://farm8.staticflickr.com/7629/16482703164_5ec68bb585_z.jpg" alt="" />
	           </a>
	           <figcaption>Poserende sebra</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/17105145105/in/set-72157649552409634" title="">
	             <img src="https://farm8.staticflickr.com/7597/17105145105_7151fd9308_z.jpg" alt="" />
	           </a>
	           <figcaption>Neshornkaos</figcaption>
	        </figure>
        </div>

		<p>
			Etter mange dager innenlands var det på tide å komme se nærmere havet igjen. Vi fløy fra Kilimanjoro flyplass til Zanzibar. Her ble vi hentet på flyplassen og transportert til resorten vi skulle bo på de neste 9 dagene.
		</p>

		<h2>Sultan Sands beach resort</h2>
		<p>
			Resortlivet bestod for det meste av soling, bading, spising og enda mer soling. Heldigvis hadde resorten et OK treningsstudio med mølle og vekter, så vi fikk oss noen økter. 
		</p>

		<div class="imagestrip col-3">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16934497987/in/set-72157651945678401" title="">
	             <img src="https://farm8.staticflickr.com/7626/16934497987_7ff5f5a382_z.jpg" alt="" />
	           </a>
	           <figcaption>Soling</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16954439310/in/set-72157651945678401" title="">
	             <img src="https://farm8.staticflickr.com/7705/16954439310_0144683989_z.jpg" alt="" />
	           </a>
	           <figcaption>Middagstid</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16955760749/in/set-72157651945678401" title="">
	             <img src="https://farm8.staticflickr.com/7632/16955760749_a132c83664_z.jpg" alt="" />
	           </a>
	           <figcaption>Kåken</figcaption>
	        </figure>
	    </div>

		<p>
			Vi tok oss en tur inn til Stonetown som er selve byen på Zanzibar. Her gikk vi på fiske- og kjøttmarkedet som var noe helt for seg selv. Man kunne lukte at man var kommet rett på flere  meters avstand. Vi gikk inn og så på den daglige fiskeakusjonen og stod i en pøl av fiskeslog, fluene surret hissig og støynivået langt over normalen. 
		</p>

		<div class="imagestrip col-3">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16953798608/in/set-72157651945678401https://farm9.staticflickr.com/8756/16953798608_cf18e30e0e_z.jpg" title="">
	             <img src="https://farm9.staticflickr.com/8756/16953798608_cf18e30e0e_z.jpg" alt="" />
	           </a>
	           <figcaption>Auksjonsvarene</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16954039650/in/set-72157651945678401" title="">
	             <img src="https://farm9.staticflickr.com/8707/16954039650_8e09e4c9a0_z.jpg" alt="" />
	           </a>
	           <figcaption>Fiskemarked</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/17140944901/in/set-72157651945678401" title="">
	             <img src="https://farm9.staticflickr.com/8747/17140944901_5c4fd24612_z.jpg" alt="" />
	           </a>
	           <figcaption>Fiskehandler</figcaption>
	        </figure>
	    </div>

		<p>
			Vi besøkte markedet hvor slavene ble solgt, og fikk en omvisning ned i kjelleren hvor de ble holdt før de  skulle selges. Her stuet de 75 personer, uten ventilasjon, vanntilgang og toaletter.
		</p>
		<p>
			Det var sterkt å høre hvordan slavehandelen gikk til, hvordan de satte opp de mannlige slavene for å bli pisket for å demonstrere deres styrke. Og hvordan man fikk et barn på kjøpe om man kjøpte en voksen. 
		</p>
		<p>
			Zanzibar var det siste stedet som avviklet slavehandel så sent som i 1876, sterkt påvirket av Dr. Livingstone.
		</p>
		<p>
			Vi lærte også at Masaiene ikke ble tatt som slaver, rett og slett fordi de var for vanskelige å få fatt på grunnet sin nomadiske livvstil og at de var krigere som kunne forsvare seg og sine.
		</p>

		<div class="imagestrip col-3">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/17140070712/in/set-72157651945678401" title="">
	             <img src="https://farm9.staticflickr.com/8776/17140070712_4707a116a9_z.jpg" alt="" />
	           </a>
	           <figcaption>Minnesmerke</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16953874648/in/set-72157651945678401" title="">
	             <img src="https://farm8.staticflickr.com/7655/16953874648_84446e0864_z.jpg" alt="" />
	           </a>
	           <figcaption>Minnesmerke</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16954088620/in/set-72157651945678401" title="">
	             <img src="https://farm9.staticflickr.com/8721/16954088620_d4e1408337_z.jpg" alt="" />
	           </a>
	           <figcaption>Kjellerrom for slaver</figcaption>
	        </figure>
    	</div>

		<h2>Kryddergård</h2>
		<p>
			Vi booket oss inn på en såkalt kryddertur, og dro innover til en av de mange gårdene på øya. Zanzibar er kjent for sine krydder og har drevet med krydderproduksjon siden 1800-tallet. Vi fikk sett ulike krydder, og måtte gjette oss fram til riktig krydder når det ble plukket ned fra treet eller brukket av busken. Hele turen ble avsluttet med et show med en mann i et palmetre som klatret og sang.
		</p>

		<div class="imagestrip col-3">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16519325374/in/set-72157651945678401" title="">
	             <img src="https://farm9.staticflickr.com/8822/16519325374_968f67db1d_z.jpg" alt="" />
	           </a>
	           <figcaption>Ut på kryddergården</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16519336614/in/set-72157651945678401" title="">
	             <img src="https://farm8.staticflickr.com/7670/16519336614_3c404f2b3b_z.jpg" alt="" />
	           </a>
	           <figcaption>Treklatring</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16954266190/in/set-72157651945678401" title="">
	             <img src="https://farm8.staticflickr.com/7586/16954266190_dbc14897a3_z.jpg" alt="" />
	           </a>
	           <figcaption>Pepper</figcaption>
	        </figure>
    	</div>
    	<div class="imagestrip col-3">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/17115916886/in/set-72157651945678401" title="">
	             <img src="https://farm8.staticflickr.com/7714/17115916886_1ab96bacfd_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16955688309/in/set-72157651945678401" title="">
	             <img src="https://farm9.staticflickr.com/8749/16955688309_72b729e4d1_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16521711333/in/set-72157651945678401" title="">
	             <img src="https://farm8.staticflickr.com/7725/16521711333_565d0aa79b_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

		<h2>Mnemba Atoll</h2>
		<p>
			Ben fra New Zealand som vi møtte i Mosambik hadde hatt sin legepraksis på Zanzibar og hadde anbefalt oss å dykke Mnemba Atoll, som er den desidert beste dykkedestinasjonen på Zanzibar. Vi hadde et dykkesenter bokstavligtalt vegg i vegg med rommet vårt, så det var fort gjort å melde seg opp på en tur. Atollet lå kun 40 min med båt fra der vi bodde. Vi hadde to fine dykk med blekksprut, froskefisk og løvfisk som vi ikke har sett før.
		</p>

		<div class="imagestrip col-2">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/17115769906/in/set-72157651945678401" title="">
	             <img src="https://farm9.staticflickr.com/8705/17115769906_7e981df971_z.jpg" alt="" />
	           </a>
	           <figcaption>Løvfisk</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16955515419/in/set-72157651945678401" title="">
	             <img src="https://farm9.staticflickr.com/8784/16955515419_64ae9d7364_z.jpg" alt="" />
	           </a>
	           <figcaption>Blekksprut</figcaption>
	        </figure>
	    </div>

		
        <figure>
           <a href="https://www.flickr.com/photos/hegerokenes/17140183242/in/set-72157651945678401" title="">
             <img src="https://farm9.staticflickr.com/8718/17140183242_25cf36e062_k.jpg" alt="" />
           </a>
           <figcaption>Froskefisk</figcaption>
        </figure>
	        
		<p>
			Etter at Thor og Torill reiste hjem ble vi noen dager ekstra på Zanzibar. Vi hadde booket et hotell inne i Stonetown. Disse dagene ble brukt til å prøve ut noen spennende restaurant konsept, blant annet en veldig bra etiopisk restaurant, og mye vandring i gatene før turen bar videre til Seyschellene.
		</p>

    	<div class="imagestrip col-3">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16521830313/in/set-72157651945678401" title="">
	             <img src="https://farm9.staticflickr.com/8736/16521830313_1c82a7b48b_z.jpg" alt="" />
	           </a>
	           <figcaption>Mikke har sett bedre dager</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16934649537/in/set-72157651945678401" title="">
	             <img src="https://farm8.staticflickr.com/7704/16934649537_06ba7e6d9b_z.jpg" alt="" />
	           </a>
	           <figcaption>Etiopisk mango avokado drikke</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16519628854/in/set-72157651945678401" title="">
	             <img src="https://farm8.staticflickr.com/7685/16519628854_393273dfe7_z.jpg" alt="" />
	           </a>
	           <figcaption>Kreative ungdommer har funnet trampett</figcaption>
	        </figure>
	    </div>

		<hr class="last" />
	</div>
</article>