<article>
    <header>
        <h1>
            Dag 173
            <span>En uke med haidykking</span>
        </h1>
        <time datetime="2015-02-07">07. februar 2015 . Umkomaas, Sør-Afrika</time>
        <img class="main-image" src="https://farm8.staticflickr.com/7455/16461191172_7520862158_k.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">
    	<div class="imagestrip col-3">
          <figure>
               <a href="" title="">
        			<img src="" alt="" />
               </a>
               <figcaption></figcaption>
          </figure>
     	</div>

      <p>
        Er det noe de har i den sørlige delen av Afrika er det hai. De er mange og de er også store. Vi hadde booket oss inn på en ukes haidykking på et sted som heter Umkomaas som ligger like sør for Durban.
      </p>

      <p>
        Vi ankom lodgen til Scuba Addicts, og standarden her var langt høyere en den vi har vært vant til. Dette kom til å bli en lukseriøs uke. Vi møtte våre meddykkere som var tyske Jorn, tyske Dietmar og britiske Jack. Jorn og Dietmar var en del eldre enn oss, men Jack var samme årskull som Hege. Matthew het guiden vi skulle ha i løpet av uken, og Cammy var kaptein på båten. Alt i alt et herlig crew med karakter.
      </p>

      <p>
        De to første dykkene hadde vi morgenen etter. Alle dykkene ble gjennomført i Aliwal Shoal som er en marin nasjonalpark. Det aller første dykket er for å sjekke at alt utstyr er på plass og for at guiden skal kunne se an dykkerne i gruppen. Scuba Addict tar dog kun med seg erfarne dykkere på sine turer.
      </p>

      <p>

      </p>

      <div class="embed-container">
        <iframe src='http://player.vimeo.com/video/119619844' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>

      <hr class="last" />
    </div>
</article>