<article>
		<header>
			<h1 class="dark">
				Dag 149
				<span>Cruising in Krüger</span>
			</h1>
			<time datetime="2014-12-29">14. januar 2015 . Nelspruit, Sør-Afrika</time>
			<img class="main-image" src="../img/default_image.jpg" alt="" />
		</header>

		<div class="post-content bg-subtle-grey">

			<p>
				Etter en overnatting i Nelspruit, en mellomstor by 4 timer fra Johannesburg, hentet vi leiebilen vår, en liten Ford Figo, og satte kursen mot Krüger Nasjonalpark. Her skulle vi tilbringe 8 dager, 7 netter i ulike camper og kjøre rundt på egenhånd. Denne turen har bydd på helt uforglemmelige dyreopplevelser og et veldig positivt inntrykk av Sør-Afrika.
			</p>

			<h2>Krüger Nasjonalpark</h2>
			

			<h2>Campene</h2>
			<p>
				Letaba, Satara, Skukuza, Crocodile Bridge - i tillegg var vi innom Lower Sabie og Berg en dal.
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
			</div>

			<h2>De fem store</h2>
			<p>Bøffel, løve, elefant, neshorn og leopard</p>

			<h2>Born in Africa</h2>

			<p>
				Sebra, elefant, giraff, vortesvin, silkeape, bavian, flodhest, neshorn, sjakal
			</p>

			<h3>Campdyrene</h3>
			<p>
				Bushbuck, bushbaby, vortesvin, silkeape. Og ikke minst insekter.
			</p>


			<hr class="last" />
		</div>
</article>