<article>
    <header>
        <h1>
            Dag 174
            <span>Landet inni landet</span>
        </h1>
        <time datetime="2015-02-08">08. februar 2015 . Sani Pass, Sør-Afrika &amp; Lesotho</time>
        <img class="main-image" src="https://farm9.staticflickr.com/8654/16567816247_929c5a24ff_k.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">

	  	<p>
	      	Vi plukket opp en leiebil på flyplassen i Durban og satte kursen innover i landet. Greit med et lite avbrekk fra havet etter den utrolig overveldende uka vi nettopp hadde hatt. Vi ville stikke en tur innom landet inni landet; Lesotho (uttales: les-hut-tu). Kan ikke akkurat påstå at det var “på veien” dit vi skulle, men det var ikke en så veldig stor omvei. Lesotho er et selvstendig land som ligger inni Sør-Afrika. Hele landet ligger over 800 meter, og 80% av landet ligger over 1400 meter. 
		</p>

	  	<p>
			Den eneste måten å komme seg inn til Lesotho fra østsiden er via Sani Pass. Leiebilen vi hadde var en liten VW Polo, og siden Sani Pass er en ordentlig 4x4 vei bestemte vi oss for å ta en organisert tur opp passet, noe som viste seg å være en klok avgjørelse.
		</p>

		<figure>
           <a href="https://www.flickr.com/photos/hegerokenes/16587595320/in/set-72157651282684225" title="">
             <img src="https://farm8.staticflickr.com/7611/16587595320_c921cbead8_k.jpg" alt="" />
           </a>
           <figcaption>De 12 apostlene</figcaption>
        </figure>

		<p>
			Vi kjørte innover til Sani backpackers &amp; lodge som er nærmeste overnatting, bortsett fra noen fancye golf lodger, til Sani Pass og grenseovergangen til Lesotho. Her overnattet vi i to netter og hadde en hel sovesal for oss selv.
		</p>

		<div class="imagestrip col-2">	
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16589177499/in/set-72157651282684225" title="">
	             <img src="https://farm9.staticflickr.com/8668/16589177499_2cd4ae3294_z.jpg" alt="" />
	           </a>
	           <figcaption>Ett av byggene på Sani Backpackers</figcaption>
	        </figure>
			<figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16587703188/in/set-72157651282684225" title="">
	             <img src="https://farm8.staticflickr.com/7636/16587703188_e4f14ed1cc_z.jpg" alt="" />
	           </a>
	           <figcaption>Egen sovesal</figcaption>
	        </figure>
        </div>

		<p>
			Turen inn til Lesotho startet 09:00 om morgenen. Vi var 16 stykker som skulle på samme turen og ble fordelt i to biler. Vi satt i samme bil som en gjeng unge tyskere som var på utveksling i Durban. Turen oppover passet var preget av utrolig vakker utsikt. Fjellene og dalene var majestetiske, landskapet grønt og himmelen knall blå. Vi stoppet flere steder på vei oppover for å strekke på beina og bli fortalt ulike ting om historien til Sani Pass, geografien, faunaen og dyrelivet.
		</p>

		<div class="imagestrip col-3">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16566706139/in/set-72157651282684225" title="">
	             <img src="https://farm8.staticflickr.com/7639/16566706139_e7114563e3_z.jpg" alt="" />
	           </a>
	           <figcaption>Ut av vindu</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16751883362/in/set-72157651282684225" title="">
	             <img src="https://farm8.staticflickr.com/7605/16751883362_15e834585c_z.jpg" alt="" />
	           </a>
	           <figcaption>Første stopp med bil</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16567722877/in/set-72157651282684225" title="">
	             <img src="https://farm9.staticflickr.com/8740/16567722877_aa26e29f23_z.jpg" alt="" />
	           </a>
	           <figcaption>Første utsiktspunkt</figcaption>
	        </figure>
	        
	    </div>

		<p>
			For et par uker siden hadde det vært en 50 års storm i Sani Pass som hadde gjort at deler av veien var skyldt bort eller delvis blokkert med steiner som har blitt skylt nedover fjellsiden. Som guiden sa så fint kom vi til å få den “ekte” 4x4 opplevelsen. Sani Pass er for øvrig det stedet Ford gjør reklamene for sine råeste 4x4 trucker.
		</p>

		<div class="embed-container">
        	<iframe src='http://player.vimeo.com/video/122104098' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      	</div>


		<p>
			Arbeidet med å fikse veien var så vidt satt i gang, og for ordensskyld hadde de klart å gjøre veien enda dårligere enn det den hadde vært like etter uværet. Vi så flere som strevet oppover og 2 motorsyklister som tippet da de ikke kom seg opp en av svingene. Selv insisterte vi å gå ut av bilen for å spasere et stykke da bilen humpet og spratt og trakk sidelengs mot steinhellene på nedsiden av veien. Guidene sa de aldri hadde vært borti at veien har vært så dårlig. Etter litt prøving og feiling, og flytting av store steiner kom bilene seg opp og vi nådde platået oppå fjellet og grenseovergangen til Lesotho en time etter skjema.
		</p>

		<div class="imagestrip col-2">
			<figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16775034385/in/set-72157651282684225" title="">
	             <img src="https://farm8.staticflickr.com/7650/16775034385_9bfc7abb9e_z.jpg" alt="" />
	           </a>
	           <figcaption>På vei opp</figcaption>
	        </figure>
			<figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16775041915/in/set-72157651282684225" title="">
	             <img src="https://farm8.staticflickr.com/7284/16775041915_39996a9b1a_z.jpg" alt="" />
	           </a>
	           <figcaption>Grenseovergang</figcaption>
	        </figure>
        </div>

		<p>
			Landskapet her oppe lignet mye på finnmarksvidda. Bar, steinete og med lave fjellhøyder. Vi fikk sett gjeterguttene i sine ulltepper og balaklavaer, den lille landsbyen og nytt lunsjen vår til utsikten av Sør-Afrikas høyeste fjell. På veien tilbake stoppet vi også innom Afrikas høystliggende pub. 
		</p>

		<div class="imagestrip col-3">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16773904031/in/set-72157651282684225" title="">
	             <img src="https://farm9.staticflickr.com/8634/16773904031_d0e3f00c3f_z.jpg" alt="" />
	           </a>
	           <figcaption>Lunsj</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16773981372/in/set-72157651282684225" title="">
	             <img src="https://farm9.staticflickr.com/8647/16773981372_143d8b2645_z.jpg" alt="" />
	           </a>
	           <figcaption>Sør-Afrikas høyeste fjell</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16587689440/in/set-72157651282684225" title="">
	             <img src="https://farm8.staticflickr.com/7586/16587689440_a3744cb5b1_z.jpg" alt="" />
	           </a>
	           <figcaption>Bar</figcaption>
	        </figure>
	    </div>

		<p>
			Veien ned passet gikk litt bedre enn opp, men vi valgte å gå samme partiet som vi gikk opp - da det føltes tryggest. Haidykking er peanuts i forhold til kjøring i slike forhold.
      	</p>

      	<figure>
           <a href="https://www.flickr.com/photos/hegerokenes/16587715020/in/set-72157651282684225" title="">
             <img src="https://farm9.staticflickr.com/8627/16587715020_c7193cefa5_k.jpg" alt="" />
           </a>
        </figure>

	      <hr class="last" />
	</div>
</article>