<article>
    <header>
        <h1>
            Dag 275
            <span>Hjemmeseier</span>
        </h1>
        <time datetime="2015-05-20">20. mai 2015 . Oslo, Norge</time>
        <img class="main-image" src="https://farm9.staticflickr.com/8880/18149677965_0f00646a7e_k.jpg" alt="" />
        <!-- https://farm9.staticflickr.com/8880/18149677965_508f1d0615_m.jpg -->
    </header>
    
    <div class="post-content bg-subtle-grey">

        
    </div>
</article>