<article>
    <header>
        <h1>
            Dag 275
            <span>Hjemmeseier</span>
        </h1>
        <time datetime="2015-05-20">20. mai 2015 . Oslo, Norge</time>
        <img class="main-image" src="https://c1.staticflickr.com/1/618/22453911220_1e12f0de5c_k.jpg" alt="" />
    </header>
    
    <div class="post-content bg-subtle-grey">

        <p>
            Vi landet i Oslo 20. mai. Vi skal tilbringe ei uke i Oslo sammen med vår ferskeste onkel/tante-unge Ylva, som har rukket å bli nesten et halvt år allerede.
        </p>
        <p>
            Deretter går turen til Trondheim for en kort stund, før vi vender nesen nordover til Finnmark. Her kommer vi til å ha en lang sommerferie før det 3. august er tilbake til virkeligheten igjen. Det er viktig å akklimatisere både fysisk og psykisk etter en slik tur.
        </p>
        <p>
            Selv om det å reise er helt fantastisk, er det alltid like godt å komme hjem til det kjente og kjære, og ikke minst til DE kjente og kjære, venner og familie.
        </p>
        <p>
            Det er ikke annet å si enn at det har vært et helt fantastisk år, men utrolig mange unike opplevelser som vi aldri kommer til å glemme.
        </p>
        
    </div>
</article>