<article>
    <header>
        <h1>
            Dag 267
            <span>Threshere på Malapascua</span>
        </h1>
        <time datetime="2015-05-12">12. mai 2015 . Malapascua, Fillipinene</time>
        <img class="main-image" src="../img/default_image.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">
    	<p>
    		Etter en todagers ferd for å komme oss fra Donsol kom vi endelig fram til den lille øya Malapascua. Her hadde vi ett mål; å få dykket med Threser-haiene. Malapascua er det eneste stedet hvor man kan se disse haiene med en sikkerhet på 99% på hvert eneste dykk, hver dag, hele året.
		</p>
		<p>
			Vi hadde på forhånd booket med  Evolution dive resort, og satte oss på listen for thresherdykket morgenen etter. Grunnen til at man kan se Thresher haien så sikkert på Malapascua er at den kommer inn til et grunnere rev for å bli vasket av rev fiskene. Thresheren lever vanligvis kun ute i det blå, men før soloppgang tar den morgenvasken sin og blir da enklere å finne. Det resulterer i at man må få kroppen ut av sengen mellom klokken 04-05 for å være i vannet like før sola bikker over horisonten.
		</p>

		<h2>Tidlige morgener</h2>
		<p>
			Vi var ute før soloppgang i ti dager på rad, og hadde noen fantastiske opplevelser med disse haiene. Det var kun på ett av dykkene hvor vi ikke så en eneste en, men på det meste hadde vi 6 haier. Selv om det var litt vel mange dykkebåter der ute til tider så er det fantastisk at så mange mennesker får oppleve hai på nært hold, spesielt en så vakker hai som thresheren. 
		</p>
		
		<h2>Bunnhaier</h2>
		<p>
			Vi gjorde i tillegg til haidykkene 10 andre dykk rundt Malapascua. Ute ved Gato Island fant vi til manges overraskelser en bamboo hai og en coral hai. Begge disse er små haier som lever på havbunnen og ligger gjerne gjemt i huler med myk sand i bunnen. Hvittipp haiene er fast inventar rundt Gato Island, og disse var å finne på sine vante plasser.
		</p>

		<h2>Fiesta</h2>
		<p>
			11. og 12. mai var det fiesta på Malapascua. Ulike deler av Fillipinene har sin egen fieste hvor de hyller sin helgenen. Det hele braker løs med en båtparade som går rundt øya. Den første båten i paraden bærer en statue av helgenen. De kjører på med et slags moderne korpsband som spiller sine egne versjoner av kjente poplåter. På kvelden er det full aktivitet i gatene i den lille landsbyen med mat, gambling for store og små, og et gigantisk diskotek på basketballbanen med fult lysshow og greier. Vi dro dessverre på morgenen den 12. og fikk ikke med oss andre dagen av fiestaen. Men det ble sagt at det er fokus på mye god mat og drikke. Noe som for øvrig ikke høres helt ukjent ut.
		</p>

		vimeo.com/127655769

		<hr class="last" />
    </div>
</article>