<!--IKKE FERDIG-->

<article>
    <header>
        <h1>
            Dag 179
            <span>Roadtrip down south</span>
        </h1>
        <time datetime="2015-02-13">13. februar 2015 . Addo, Chintsa, J-Bay og Mossel Bay, Sør-Afrika</time>
        <img class="main-image" src="https://farm9.staticflickr.com/8576/16171296734_26953992b6_k.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">

      	<p>
			Etter et par dager i Sani Pass begynte vi på turen sørover. Vi hadde planlagt å kjøre hele veien nedover til Cape Town - ca. 1600 km. Vi hadde planlagt å ta det relativt rolig nedover med 4-6 timer kjøring hver dag. Første stopp ble Buccaneers backackers som lå i Chintsa ute ved kysten. På veien dit så vi store mengder påkjørte kjæledyr. Både hunder, hester og elser. For øvrig vår første levende slange. Buccaneers var skrytt opp i skyene i Lonely planet, men var en skuffelse for vår del. Stedet var utrolig nedslitt og ikke spesielt koselig, og lå langt fra alt annet.
		</p>

		<p>
			Vi bestemte oss for å kjøre videre etter en natt. Vi stoppet i Port Elisabeth for å ta ei treningsøkt på Virgin Active før vi kjørte videre mot Port Alfred. På veien gikk vi nesten tom for bensin. Vi kjørte i over 45 min etter at lampen begynte å lyse og det var ganske spennende å se om vi rakk fram til en bensinstasjon i tide. Heldigvis fant vi en liten stasjon et stykke før Port Alfred, og vi kunne slappe av resten av turen. 
		</p>

		<h2>Et lite stykke vestlandet</h2>
		<p>
			Port Alfred var en utrolig søt liten kyst landsby. Minnet veldig om vestlandet med mange store hvitmalte trehus langs marinaen. Vi spiste lunsj her før vi tøffet videre innover mot Addo nasjonalpark.
		</p>

		<p>
			Vi sjekket inn på Andwaard Backpackers and lodge, som var drevet av en engelskmann og hans franske kone. Vi reserverte bord på restauranten som lå vegg i vegg, og stort sett den eneste i området. De serverte en enkel men utrolig smakfull middag med masse gode ferske marinerte grønnsaker, og valgfritt kjøtt. 
		</p>

		<h2>Addo, elefantparken</h2>
		<p>
			Morgenen etter stod vi opp grytidlig. Vi hadde bestemt oss for å tilbringe dagen i Addo Nasjonalpark. Siden vi hadde kjøpt oss Wild Card i Kruger gav dette oss gratis tilgang til alle nasjonalparkene i Sør-Afrika. Parken lå kun 20 min fra Andwaard.  Vi kjørte inn i parken litt nord for midten av parken og brukte en halv dag på å kjøre ned til den sørlige utgangen. Vi fikk sett den eldste bøffelen vi noen gang har sett. To elefanter som knivet over et vannhull. En stor haltende hannløve. Vortesvin som hadde brytekamp og flere supersøte mongooser som lette etter mat i gresset.
		</p>

		<div class="imagestrip col-3">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16171263504/in/set-72157651298482952" title="">
	             <img src="https://farm8.staticflickr.com/7648/16171263504_95da1fe9ca_z.jpg" alt="" />
	           </a>
	           <figcaption>Bøffel</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16767764836/in/set-72157651298482952" title="">
	             <img src="https://farm8.staticflickr.com/7286/16767764836_fc09fa5c51_z.jpg" alt="" />
	           </a>
	           <figcaption>Elefanter</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16606034388/in/set-72157651298482952" title="">
	             <img src="https://farm8.staticflickr.com/7641/16606034388_66be5ff813_z.jpg" alt="" />
	           </a>
	           <figcaption>Hannløve</figcaption>
	        </figure>
	    </div>

		<p>
			Dagens overnatting ble i Jefferys Bay, også kalt J-Bay. Dette var en utrolig herlig plass. Mest kjent som en av Sør-Afrikas beste surfesteder. Uheldigvis fikk vi ikke tid til noe surfing her. Dette er ett av de stedene vi kunne tenkt oss å bli et par dager, men vi måtte være i Gaansbai om 2 dager så det ble kun ei natt her. På kvelden kjørte vi til en fiskerestaurant som ble anbefalt som den ene restauranten man ikke måtte gå glipp av.
		</p>

		<p>
			På veien dit hadde vi en utrolig spesiell opplevelse som virkelig viser sporene etter Sør-Afrikas grufulle historie. Vi kjørte på en vei hvor vi hadde den tidligere Townshippen, hvor alle se svarte ble plassert under apartheid, på den ene siden. På den andre siden var det et nytt murgjerde med elektisk piggtrå på toppen som gikk langs hele veien. Innenfor denne muren var standarden langt bedre, her var det kun store hvite rikmannsvillaer. Utrolig sterkt å se slike kontraster kun skilt av en vei et steinkast fra hverandre. Det viser hvor stor forskjell det er mellom fattig og rik i Sør-Afrika, og hvordan apartheid har satt dype spor etter seg som ikke vil bli visket ut med det første.
		</p>

		<p>
			Dagen etter satte vi kursen mot Mossel Bay. Vi hadde bestemt at vi ville innom her, da det er mulighet for å dykke med en liten spesiell cat shark. De har en fast bestand som holder til like utenfor dykkesenteret. Vi overnattet en natt på et backpackers sted og brukte formiddagen til dykking med Electro dive. Grunnet uvær ble det bare ett dykk da de ikke kunne gå ut med båten. For vår del gjorde ikke det så mye, vi var fornøyde så lenge vi fikk sett de små haiene. 
		</p>

		<div class="imagestrip col-2">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16588216406/in/set-72157648652136793" title="">
	             <img src="https://farm9.staticflickr.com/8611/16588216406_355eddf168_z.jpg" alt="" />
	           </a>
	           <figcaption>Puffadder cat shark</figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/15992012934/in/set-72157648652136793" title="">
	             <img src="https://farm9.staticflickr.com/8570/15992012934_ee5acd4bf3_z.jpg" alt="" />
	           </a>
	           <figcaption>Blekksprut</figcaption>
	        </figure>
	    </div>

		<p>
			Vi var en gruppe på 4 dykkere og en guide. Vi slengte på oss utstyret og labbet ned i fjæra. Det gikk opp for oss at det var lengesiden vi hadde gjort dykk fra land. Vi plumpet i og svømte langs kanten på ca 6 meter. Dykkeguiden hadde med seg noen små fiskebiter og fiskene strømmet straks til for å få seg en godbit. En liten puffadder cat shark som fram og fikk seg noen godbiter fra guiden. Den var utrolig nyskjerrig og kom helt bort til oss for å undersøke. Den svømte rundt og rundt og så ut til å få impulser fra alle kanter. Den var ca 50 cm lang og hadde store flotte øyne. Puffadder er en av et utall av cat shark som finnes og var en ny hai på vår liste.
		</p>

		<div class="embed-container">
        	<iframe src='http://player.vimeo.com/video/120070563' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      	</div>
		
      <hr class="last" />
</div>
</article>