<article>
		<header>
			<h1 class="dark">
				Dag 139	
				<span>Betongjungelen</span>
			</h1>
			<time datetime="2014-12-29">04. januar 2015 . New York, USA</time>
			<img class="main-image" src="../img/default_image.jpg" alt="" />
		</header>

		<div class="post-content bg-subtle-grey">

			<p>
				- Nordover til kulden
				- Malin &amp; Frode, Sunniva &amp; Espen
				- Nyttårsmiddag
				- Raketter
				- Helikopterflygning
			</p>

			<div class="imagestrip col-3">
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure>
					<a href="" title="">
						<img src="" alt="" />
					</a>
					<figcaption></figcaption>
				</figure>
			</div>

			<hr class="last" />
		</div>
</article>