<article>
    <header>
        <h1>
            Dag 161
            <span>Tilbake til Tofo</span>
        </h1>
        <time datetime="2015-01-26">26. januar 2015 . Tofo Beach og Maputo, Mosmbik</time>
        <img class="main-image" src="https://farm9.staticflickr.com/8682/16343952179_e24720fb3e_k.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">

     	<p>
     		Et av de mange landene Sør-Afrika grenser mot er Mosambik. I 2012 hadde vi en fantastisk tur til Tofo Beach. Siden vi allerede var i Nelspruit "ikke så langt" fra grensen til Mosambik bestemte vi oss for å dra en tur tilbake til det som har vært ett av våre favorittsteder.
     	</p>

     	<p>
     		Tofo Beach er en liten fiskelandsby ganske langt sør i Mosambik. Vi tok en ganske fin Greyhound langdistansebuss fra Nelspruit til Maputo, hovedstaden i Mosambik. Der overnattet vi en natt før det bar videre på den 6 timer lange bussturen opp til Tofo. I ekte afrikastil gikk ikke bussen på noe rutetid, men når den var full. Da hadde vi allerede sittet i bussen i nesten to timer. 
     	</p>

     	<figure>
		   <a href="https://www.flickr.com/photos/hegerokenes/15907759894/in/set-72157650412791770" title="">
				<img src="https://farm9.staticflickr.com/8597/15907759894_c76dc9f2ea_k.jpg" alt="" />
		   </a>
		   <figcaption>Solnedgang i Tofo</figcaption>
		</figure>

     	<p>
     		Vi ankom Tofo etter to timer lengre reisetid enn esitmert. Det var problemer med bussen så vi måtte stoppe og få det fikset. 3 mekanikere hev seg i sving, og på et tidspunkt så det ut som om vi ikke skulle komme oss videre samme dagen da de hadde løsnet hele akslingen under bussen. Men Mosambik får “A for Affort”, bussen ble fikset og vi kom oss avgårde.
     	</p>

     	<p>
     		Vi sjekket inn på Mozambeat Motel - som er et utrolig stilig motel. Det var for tiden lavsessong i Tofo så det var kun 6 andre  gjester. Vi ble en liten gjeng som hang en del sammen.
        En amerikaner, en lege fra New Zealand, ei finsk frøken, ei ire og en spanjol. Vi hadde flere trivelige middager sammen både på motellet og nede i landsbyen.
     	</p>

     	<div class="imagestrip col-3">
          <figure>
               <a href="https://www.flickr.com/photos/hegerokenes/16343619077/in/set-72157650412791770" title="">
        			<img src="https://farm9.staticflickr.com/8570/16343619077_379e0365ac_z.jpg" alt="" />
               </a>
               <figcaption>Stas med egen hytte</figcaption>
          </figure>
          <figure>
               <a href="https://www.flickr.com/photos/hegerokenes/16504325586/in/set-72157650412791770" title="">
        			<img src="https://farm8.staticflickr.com/7363/16528600881_c65028fe61_z.jpg" alt="" />
               </a>
               <figcaption>Mosambeat bassengbar</figcaption>
          </figure>
          <figure>
               <a href="https://www.flickr.com/photos/hegerokenes/16528600881/in/set-72157650412791770" title="">
        			<img src="https://farm8.staticflickr.com/7387/16504325586_0152c1892f_z.jpg" alt="" />
               </a>
               <figcaption>Mosambeat basseng og bar</figcaption>
          </figure>
     	</div>

     	<h2>Dykking</h2>
     	<p>
			   Vi dro tilbake til Tofo primært for dykkingen. Dagen vi kom hadde det ikke vært mulig å dykke de fem siste dagene på grunn av uværet fra en syklon som traff ved Madagaskar. Store bølger og sterk vind slo innover fastlandet. Vi var den første gruppen i vannet etter uværet og det var fortsatt ganske røft å komme seg ut. Vi ble belønnet med 30 meter sikt og en reef manta ray på første dykket. Vi hadde tilsammen 4 dykk på Tofo, men ingen kunne matche det første. Vi hadde kraftige svellinger selv nede på 25 meter, og tiltider begredelig sikt helt nede i 6 meter.
      </p>

 		<div class="imagestrip col-3">
          <figure>
               <a href="https://www.flickr.com/photos/hegerokenes/16529205522/in/set-72157650412791770" title="">
        			<img src="https://farm8.staticflickr.com/7304/16529205522_c29a44df6d_z.jpg" alt="" />
               </a>
               <figcaption>Gulfisker</figcaption>
          </figure>
          <figure>
               <a href="https://www.flickr.com/photos/hegerokenes/15907702464/in/set-72157650412791770" title="">
        			<img src="https://farm9.staticflickr.com/8660/15907702464_5034806c90_z.jpg" alt="" />
               </a>
               <figcaption>Coachman</figcaption>
          </figure>
          <figure>
               <a href="https://www.flickr.com/photos/hegerokenes/15907659544/in/set-72157650412791770" title="">
        			<img src="https://farm9.staticflickr.com/8675/15907659544_782f3224c8_z.jpg" alt="" />
               </a>
               <figcaption>Rev fisk i Sherwood forest</figcaption>
          </figure>

		<div class="embed-container">
			<iframe src='http://player.vimeo.com/video/119619843' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>

     	</div>

 		<h2>Frivillighetsarbeid med Marine Megafauna Foundation</h2>
 		<p>
			MMF er en organisasjon stiftet i 2003 for forske på og beskytte store marine dyr på kysten av Mosambik. De jobber primært med hvalhai, manta rays og skilpadder, men også for bærekraftig fangst og rikere ekoturisme langs Mosambiks kyst. De har hovedkontoret sitt i Tofo hvor de også holder presentasjoner 3 kvelder i uken om de ulike prosjektene.
		</p>

		<p>
			Ett ledd i forskningen er å identifisere ulike individer for å finne ut hvordan og hvor langt dyrene flytter seg, og hvor de oppholder seg i ulike sesonger av året. MantaMatcher er nettstedet hvor vanlige folk kan legge opp sine bilder av manta rays for å få de identifisert. Dette er et viktig grunnlag for forskerne som selv ikke har mulighet til å reise rundt for å finne manta rays året og verden rundt. Vi har sagt oss villige til å bidra med vår kompetanse på dette prosjektet for å forbedre degsign, og brukeropplevelse av nettstedet, noe som er sårt trengt.
		</p>

		<p>
			<a href="http://www.marinemegafauna.org" Title="Gå til Marine Megafauna foundation sine nettsider">Les mer om Marine Megafauna Foundation</a>
		</p>

		<h2>Familie i Maputo</h2>
		<p>
			På veien tilbake til Sør-Afrika fra Tofo måtte vi via Maputo igjen. Det viste seg at Hege sitt søskenbarn Stig-Ove med familie for tiden bodde i Maputo, så da måtte vi selfølgelig stikke innom de på besøk. Stig-Ove, kona Linda med de to barna Ester og Leo jobber som misjonærer på misjonsbasen Arco Iris like nord for Maputo. De var så snille å tilby oss både overnatting og middag hjemme hos de. Veldig koselig å møte familie som vi ikke har sett på flere år, og artig at det ble akkurat her av alle steder i verden.
		</p>
		<p>
			Vi fikk også en tour på basen hvor det bor 260 barn permanent i tillegg til at de skolerer rundt 1100 barn fra nærområdet. Vi fikk høre mange interessante, spennende og fæle historier fra deres opplevelser i de 8 månedene de har tilbragt i Mosambik.
		</p>

		<figure>
		   <a href="https://www.flickr.com/photos/hegerokenes/16344117999/in/set-72157650412791770" title="">
				<img src="https://farm8.staticflickr.com/7289/16344117999_6ac8e195aa_k.jpg" alt="" />
		   </a>
		   <figcaption>Vi, Linda med Leo på armen og Stig-Ove med Ester.</figcaption>
		</figure>

        <hr class="last" />
    </div>
</article>