<article>
    <header>
        <h1>
            Dag 173
            <span>En uke med haidykking</span>
        </h1>
        <time datetime="2015-02-07">07. februar 2015 . Umkomaas, Sør-Afrika</time>
        <img class="main-image" src="https://farm8.staticflickr.com/7455/16461191172_7520862158_k.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">

      <p>
        Er det noe de har i den sørlige delen av Afrika er det hai. De er mange og de er også store. Vi hadde booket oss inn på en ukes haidykking på et sted som heter Umkomaas, like sør for Durban.
      </p>

      <p>
        Vi ankom lodgen til Scuba Addicts, og standarden her var langt høyere en den vi har vært vant til. Dette kom til å bli en lukseriøs uke. Vi møtte våre meddykkere som var tyske Jorn, tyske Dietmar og britiske Jack. Jorn og Dietmar var en del eldre enn oss, men Jack var samme årskull som Hege. Matthew het guiden vi skulle ha i løpet av uken, og Cammy var kaptein på båten. Alt i alt et herlig crew med karakter.
      </p>

      <div class="imagestrip col-3">
          <figure>
             <a href="https://www.flickr.com/photos/hegerokenes/16321938287/in/set-72157648360253103" title="">
               <img src="https://farm9.staticflickr.com/8653/16321938287_4b3f9e4614_z.jpg" alt="" />
             </a>
             <figcaption>Hus</figcaption>
          </figure>
          <figure>
             <a href="https://www.flickr.com/photos/hegerokenes/16511751435/in/set-72157648360253103" title="">
               <img src="https://farm8.staticflickr.com/7401/16511751435_338d7c7668_z.jpg" alt="" />
             </a>
             <figcaption>Gruppebilde</figcaption>
          </figure>
          <figure>
             <a href="https://www.flickr.com/photos/hegerokenes/16320549910/in/set-72157648360253103" title="">
               <img src="https://farm8.staticflickr.com/7380/16320549910_ef5eda01da_z.jpg" alt="" />
             </a>
             <figcaption>Frokost</figcaption>
          </figure>
      </div>

      <p>
        De to første dykkene hadde vi morgenen etter. Alle dykkene ble gjennomført i Aliwal Shoal som er en marin nasjonalpark. Allerede på det første dykkt fikk vi uttelling. Matthew tok oss med til en grotte hvor det var 4-5 sandtigere (også kalt ragged tooth eller raggies). Disse pleier normalt ikke å være på Aliwal Shoal på denne årstiden, men vi fikk sett de ved 5 anledninger på 4 ulike steder og 17 stykker på det meste. Allerede på andre dykket var de der igjen, og vi avsluttet dykket med to whitetip reefsharks hvor den ene var gravid og tre delfinen som såvidt lot seg bli sett i det fjerne, samt en liten devilray som var riktig nyskjerrig og sirklet oss en god stund.
      </p>

      <div class="imagestrip col-3">
          <figure>
             <a href="https://www.flickr.com/photos/hegerokenes/16275881509/in/set-72157648360253103" title="">
               <img src="https://farm8.staticflickr.com/7368/16275881509_c25cfe1caf_z.jpg" alt="" />
             </a>
             <figcaption>Raggie</figcaption>
          </figure>
          <figure>
             <a href="https://www.flickr.com/photos/hegerokenes/15842038883/in/set-72157648360253103" title="">
               <img src="https://farm8.staticflickr.com/7423/15842038883_95ec477002_z.jpg" alt="" />
             </a>
             <figcaption>Devilray</figcaption>
          </figure>
          <figure>
             <a href="https://www.flickr.com/photos/hegerokenes/16274419148/in/set-72157648360253103" title="">
               <img src="https://farm9.staticflickr.com/8671/16274419148_9296d3de66_z.jpg" alt="" />
             </a>
             <figcaption>Whitetip, muligens drektig</figcaption>
          </figure>
      </div>

      <p>
        Dagene videre skulle bare overgå de forrige. Andre dagen fikk vi sett 12-14 raggies på et sted de kaller katedralen som var en nydelig grotte med hull på siden og i taket, og stor som en katedral. Da vi svømte fra katedralen kom en enslig hammerhai. På dagens andre dykk fikk vi  4-5 blacktips og en Tigerhai som lusket i utkanten av siktområdet, men som ikke kom noe særlig nærme. 
      </p>

      <div class="imagestrip col-3">
          <figure>
             <a href="https://www.flickr.com/photos/hegerokenes/16274700340/in/set-72157648360253103" title="">
               <img src="https://farm8.staticflickr.com/7455/16274700340_fea6dae3b9_z.jpg" alt="" />
             </a>
             <figcaption>Hammerhai</figcaption>
          </figure>
          <figure>
             <a href="https://www.flickr.com/photos/hegerokenes/16461201012/in/set-72157648360253103" title="">
               <img src="https://farm8.staticflickr.com/7418/16461201012_69f346d3d8_z.jpg" alt="" />
             </a>
             <figcaption>Blacktip fra siden med remora</figcaption>
          </figure>
          <figure>
             <a href="https://www.flickr.com/photos/hegerokenes/16436154896/in/set-72157648360253103" title="">
               <img src="https://farm8.staticflickr.com/7284/16436154896_947cf01067_z.jpg" alt="" />
             </a>
             <figcaption>Filmproduksjon på gang</figcaption>
          </figure>
      </div>
      <p>
        3. dagen hadde vi det første åtedykket. To tønner med fisk og sardinolje med senket ned på ei line i vannet for å lage masse godlukt for haiene. Dette tiltrakk seg straks mange flere Blacktips. Den første tønna hang på 8 meter og den andre på ca 16. Den øverste var blacktipene mest interessert i, mens den nederste var for å lokke fram de litt mer sky haiene som tiger og bullshark.
      </p>

      <div class="imagestrip col-2">
          <figure>
             <a href="https://www.flickr.com/photos/hegerokenes/15839674514/in/set-72157648360253103" title="">
               <img src="https://farm8.staticflickr.com/7305/15839674514_9ea31b7c49_z.jpg" alt="" />
             </a>
             <figcaption>Matthew som rister på tønna for mer godlukt</figcaption>
          </figure>
          <figure>
             <a href="https://www.flickr.com/photos/hegerokenes/16461256912/in/set-72157648360253103" title="">
               <img src="https://farm8.staticflickr.com/7446/16461256912_3c2810e808_z.jpg" alt="" />
             </a>
             <figcaption>Line med tønner og to dykkere</figcaption>
          </figure>
      </div>

      <p>
        Disse åtedykkene blir gjort "in the blue", det vil si at man ikke dykker langs bunnen. Vi hang på rundt 8-10 meter og prøvde å holde oss på dette nivået, selv om det ikke alltid er like lett uten mange referansepunkter og masse spennende å se på både oppover og nedover.
      </p>

      <p>
        Vi var alle strålende fornøyd med å ha sett Tigerhai på to av dykkere allerede, men denne gangen dukket det opp ei langt større frøken. En fire meter gravid hunn tigerhai sirklet oss et par ganger før hun kom inn og luktet på tønna. Denne gangen ble hun også værende for å se hva som foregikk. Det var utrolig sterkt å se en så vakkert, majestetisk og forsiktig fisk på kloss hold. Hun kikket på oss med de store svarte øyne og viste tydelig interesse, men også forsiktighet. To andre mindre Tigerhai kom også til oss, men disse ble ikke værende like lenge.
      </p>

      <div class="imagestrip col-3">
          <figure>
             <a href="https://www.flickr.com/photos/hegerokenes/16462220975/in/set-72157648360253103" title="">
               <img src="https://farm9.staticflickr.com/8655/15842143143_bf93b4d1de_z.jpg" alt="" />
             </a>
             <figcaption>Tigerhai i blått</figcaption>
          </figure>
          <figure>
             <a href="https://www.flickr.com/photos/hegerokenes/15842143143/in/set-72157648360253103" title="">
               <img src="https://farm8.staticflickr.com/7445/16462220975_2161d15596_z.jpg" alt="" />
             </a>
             <figcaption>Tigerhai og Jonas nært</figcaption>
          </figure>
          <figure>
             <a href="https://www.flickr.com/photos/hegerokenes/16436231686/in/set-72157648360253103" title="">
               <img src="https://farm8.staticflickr.com/7455/16436231686_1ca5ea9c01_z.jpg" alt="" />
             </a>
             <figcaption>Tigerhai og tønne</figcaption>
          </figure>

      </div>

      <h2>The grand finale</h2>

      <p>
        Den siste dagen skulle vi egentlig kjøre til et annet sted lengre nord for å dykke. Men det hadde vært få rapporter derfra om sikt og fiskeliv, og siden forholdene var ekstremt bra på Aliwal Shoal bestemte vi i felleskap om å helle dykke her den siste dagen også. 
      </p>

      <p>
        Været de 4 siste dagene hadde vært upåklagelig, med knallsol og flatt hav. Det er ikke ofte forholdene byr på 30 meter sikt i vannet og blikkstille hav på disse kantene. Når vi var oppe i båten kunne vi se både hai og dykkere nede på 15-20 meter.
      </p>

      <div class="imagestrip col-2">
        <figure>
           <a href="https://www.flickr.com/photos/hegerokenes/15839672604/in/set-72157648360253103" title="">
             <img src="https://farm9.staticflickr.com/8586/15839672604_aaa566383e_z.jpg" alt="" />
           </a>
           <figcaption>Haikaos med Matt i bakgrunnen</figcaption>
        </figure>
        <figure>
           <a href="https://www.flickr.com/photos/hegerokenes/15839652494/in/set-72157648360253103" title="">
             <img src="https://farm9.staticflickr.com/8607/15839652494_e8cd43bf72_z.jpg" alt="" />
           </a>
           <figcaption>Lunsjtid</figcaption>
        </figure>
      </div>

      <p>
        Vi hoppet i vannet den siste dagen. Det var flere båter som gjorde seg klare på samme sted som oss. Tønnene med åre var senket og der var allerede flere Blacktips rundt oss. 10 minutter uti dykket skjer noe helt sensasjonel. En ung hvithai han på ca 4 meter kommer mot oss. Han er tydelig nyskjerrig på all ståket og lukten i vannet. Han kommer relativt nære før han bestemmer seg for at her var det for mye som skjedde, så han snur og svømmer rolig bort fra oss. Det er vill jubel blant dykkerne. Å se en hvithai på dykk er sensasjonelt, men også så lang nord som vi befant oss skjer veldig sjeldent. 
      </p>

      <figure>
           <a href="https://www.flickr.com/photos/hegerokenes/16462225235/in/set-72157648360253103" title="">
             <img src="https://farm8.staticflickr.com/7289/16462225235_1f08d19cab_h.jpg" alt="" />
           </a>
           <figcaption>Hvithai</figcaption>
      </figure>

      <p>
        Resten av dykket nøyer vi oss med tre store Tigerhai som hang rundt resten av dykket og dykket etter. Blacktipene var nå oppe i 40-50 stykker og man ble nesten svimmel av å se på alle bevegelsene fram og tilbake.
      </p>

      <figure>
         <a href="https://www.flickr.com/photos/hegerokenes/15839700644/in/set-72157648360253103" title="">
             <img src="https://farm8.staticflickr.com/7302/15839700644_9ef4798a61_z.jpg" alt="" />
           </a>
         <figcaption>Jonas, Jack og tigerhaien</figcaption>
      </figure>

      <p>
        Kjøreturen tilbake til lodgen kjentes å vare lenge, da vi alle var spente på om Jonas, som var nærmest hvithaien, hadde fått bra film av den. Det ble en innertier.
      </p>

      <div class="embed-container">
        <iframe src='http://player.vimeo.com/video/119619844' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>

      <h2>Vi så også andre ting enn hai, se alle bildene</h2>
      
      <iframe  class="flickr-embedd large" src="
      https://www.flickr.com/photos/hegerokenes/15839569294/in/set-72157648360253103/player/" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>


    <hr class="last" />
  </div>
</article>