<article>
	<header>
	   <h1 class="dark">
	        Dag 149
	        <span>Cruising Krüger</span>
	   </h1>
	   <time datetime="2014-12-29">14. januar 2015 . Nelspruit, Sør-Afrika</time>
	   <img class="main-image" src="https://farm8.staticflickr.com/7317/16525950741_283b436ecb_k.jpg" alt="" />
	</header>

  	<div class="post-content bg-subtle-grey">

   	<p>
        Etter en overnatting i Nelspruit, en mellomstor by 4 timer fra Johannesburg, hentet vi leiebilen vår, en liten Ford Figo, og satte kursen mot Krüger Nasjonalpark. Her skulle vi tilbringe 8 dager, 7 netter i ulike camper og kjøre rundt på egenhånd. Denne turen har bydd på helt uforglemmelige dyreopplevelser og et veldig positivt inntrykk av Sør-Afrika.
   	</p>

   	<h2>Krüger Nasjonalpark</h2>
		<p>
			Krüger nasjonalpark er et område på 19 633 kvm, og er like langt som strekningen mellom Trondheim og Trysil. Parken ligger nordøst i Sør-Afrika mot grensen til Mosambik. Over landegrensen til Mosambik fortsetter nasjonalparken, men da under navnet Limpopo Nasjonalpark. I tillegg er det en del private landområder som også har latt seg innlemme i nasjonalparken under navnet The greater Krüger park, så området dyrene har å boltre seg på er i realiteten langt større.
		</p>

   	<h2>Campene</h2>
   	<p>
			Parken er åpen for alle som ønsker å dra dit og er flittig brukt av Sør-Afrikanske familier. Parken er tilrettelagt med 12 såkalte restcamper. I disse campene kan man bo i alt fra egne telt, campingvogner, permanente telt, og bungalower, altså noe for ett hvert budsjett. I tillegg finnes det flere luksuslodger i parken som er langt mindre og dyrere, og kun tilgjengelige for de som bor der. Alle restcampene er åpne for alle, og samtlige har en liten butikk, og de fleste en restaurant. 
      Vi overnattet på fire forskjellige camper; Letaba, Satara, Skukuza og Crocodile Bridge - i tillegg var vi innom Lower Sabie og Berg en Dal for lunsj.
  	</p>

  	<p>
			Vi tilbragte to netter i bungalow og 6 netter i såkalte permanente telt. Dette er telt satt opp på små plattinger, og som er ca 10kvm og av solid type. Her hadde vi senger, kjøleskap, garderobeskap og vifte. Bungalowene hadde eget bad og air condition. Alle campene hadde felles toalett og dusjanlegg samt små åpne hus med kokeplater og vasker for matlaging. Det var tilogmed mynt-vaskeri, så man fikk vasket klær for 10 rand per maskin som tilsvarer 6,5 norske kroner. Vi var alt i alt superimponert over hvor ryddig og bra hele parken var. 
   	</p>

     	<div class="imagestrip col-3">
          <figure>
               <a href="https://www.flickr.com/photos/hegerokenes/15906818093/in/set-72157650788151935" title="">
                    <img src="https://farm9.staticflickr.com/8660/15906818093_c2b0f71384_z.jpg" alt="" />
               </a>
               <figcaption>Safaritelt</figcaption>
          </figure>
          <figure>
               <a href="https://www.flickr.com/photos/hegerokenes/16526274312/in/set-72157650788151935" title="">
                    <img src="https://farm8.staticflickr.com/7414/16526274312_573bbea639_z.jpg" alt="" />
               </a>
               <figcaption>Bungalow</figcaption>
          </figure>
          <figure>
               <a href="https://www.flickr.com/photos/hegerokenes/15904796244/in/set-72157650788151935" title="">
                    <img src="https://farm8.staticflickr.com/7321/15904796244_b3e795d1ae_z.jpg" alt="" />
               </a>
               <figcaption>Pikniklunsj</figcaption>
          </figure>
     	</div>

       	<h3>Campdyrene</h3>
       	<p>
            Alle campene hadde sitt eget innslag av dyreliv. Bushbuck (en antilopeart) og Bushbaby hadde vi på den første campen Letara.  På Skukuza så vi en flokk Mongoose. Vortesvin og silkeaper hadde vi på besøk på Crocodile Bridge. Og ikke minst var det insekter. Jonas sier ofte at han er glad Hege ikke er så hysterisk, men man får virkelig testet grensene sine med skorpioner, edderkopper og sykt store møll og biller som flyr som kamikazepiloter rett inn i deg dersom du er nær en lyskilde. For øvrig var det også anbefalt å gå med lykt på kveldene grunnet slanger, men dette då vi ikke noe til.
       	</p>

       	<div class="imagestrip col-3">
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/16514168251/in/set-72157650788151935" title="">
                      <img src="https://farm9.staticflickr.com/8620/16514168251_a7737c1f63_z.jpg" alt="" />
                 </a>
                 <figcaption>Bushbuck</figcaption>
            </figure>
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/16526187952/in/set-72157650788151935" title="">
                      <img src="https://farm8.staticflickr.com/7282/16526187952_eca8a6eb09_z.jpg" alt="" />
                 </a>
                 <figcaption>Mongoose</figcaption>
            </figure>
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/16328392100/in/set-72157650788151935" title="">
                      <img src="https://farm8.staticflickr.com/7371/16328392100_e69a0568b2_z.jpg" alt="" />
                 </a>
                 <figcaption>Silkeape</figcaption>
            </figure>
       	</div>

		<h2>Ut på egenhånd</h2>

		<p>
			I Krüger kan man kjøre rundt i egen bil, noe vi valgte å gjøre. Da har man har større frihet til å kjøre hvor man vil og kan stoppe hvor lenge man vil ved de tingene man synes er spennende. Reguleringen i parken er dog ganske streng. Både for dyrenes del, men også for folks sikkerhet. Fartsgrensen er 50 kmt på asfalterte veier og 40 kmt på grusveier. Det er strengt forbudt å gå ut av bilen utenom avviste plasser. Innen kl 18:30 må alle være innenfor en restcamp eller en lodge, og man får ikke forlate campområdet før 04:30. Alle restcampene er inngjerdet med 3 meter høye strømgjerder.
		</p>
		<p>
			Krüger har et godt utbedret veinett. Likevel om man kjører samtlige av veiene og antar at man i snitt ser ca 50m til hver side, har man kun sett litt over 1% av parken.
		</p>

		<p>
			Vi endte opp med å kjøre bortimot 1490 km på 8 dager, og med en snittfart på 40 km/timen tilsvarer det ca 37 timer i bilen. Vi ble godt kjent med den lille Forden, som på et tidspunkt også hadde en bavian på taket.
		</p>

       	<div class="imagestrip col-3">
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/16340472528/in/set-72157650788151935" title="">
                      <img src="https://farm8.staticflickr.com/7456/16340472528_412957abbf_z.jpg" alt="" />
                 </a>
                 <figcaption>Safaribilen</figcaption>
            </figure>
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/16341083607/in/set-72157650788151935" title="">
                      <img src="https://farm8.staticflickr.com/7320/16341083607_4d209f5fbd_z.jpg" alt="" />
                 </a>
                 <figcaption>Solnedgang</figcaption>
            </figure>
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/16527705835/in/set-72157650788151935" title="">
                      <img src="https://farm8.staticflickr.com/7359/16527705835_af41eb8a31_z.jpg" alt="" />
                 </a>
                 <figcaption>Vei</figcaption>
            </figure>
       	</div>

       	<h2>De fem store</h2>
       
       	<p>
       		Det er mye snakk om "The big five" i Afrika. De fem store er; Bøffel, løve, elefant, neshorn og leopard. Vi rakk med et nødskrik å få med oss alle. Bøffel så vi 4 av 8 dager inkludert en flokk på rundt 400 dyr. Elefanter hadde vi flest møter med, 7 av 8 dager og gjerne flere ganger om dagen. Løvene lot vente på seg til dag 3, men til gjengjeld hadde vi noen fantastiske opplevelser med en aktiv flokk på 8 dyr som vi fulgte i en time på morgenen. De spaserte rundt bilene på veien, koste med hverandre og drakk av vannpyttene etter nattens regn. Neshorn fikk vi ikke sett før den 6 dagen, men neshorn finnes kun i bestemte områder i parken så dette var vi forberedt på. Disse fikk vi og oppleve på nært hold.
   		</p>

   		<div class="imagestrip col-3">
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/16511275262/in/set-72157650788151935" title="">
                      <img src="https://farm8.staticflickr.com/7436/16511275262_321515f6a5_z.jpg" alt="" />
                 </a>
                 <figcaption>Elefant</figcaption>
            </figure>
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/15907924743/in/set-72157650788151935" title="">
                      <img src="https://farm8.staticflickr.com/7307/15907924743_f381575b2f_z.jpg" alt="" />
                 </a>
                 <figcaption>Bøffel</figcaption>
            </figure>
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/15907348243/in/set-72157650788151935" title="">
                      <img src="https://farm8.staticflickr.com/7286/15907348243_60ebfab17f_z.jpg" alt="" />
                 </a>
                 <figcaption>Løve</figcaption>
            </figure>
        </div>
        <div class="imagestrip col-2">
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/16526388002/in/set-72157650788151935" title="">
                      <img src="https://farm8.staticflickr.com/7434/16526388002_0f6a90ba6f_z.jpg" alt="" />
                 </a>
                 <figcaption>Neshorn</figcaption>
            </figure>
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/16342166577/in/set-72157650788151935" title="">
                      <img src="https://farm8.staticflickr.com/7393/16342166577_4c78bce77a_z.jpg" alt="" />
                 </a>
                 <figcaption>Leopard</figcaption>
            </figure>
       	</div>
   		<p>
       		Leoparden var den definitivt den vanskeligste å finne. Vi var oppe tidlig morgenen og ute til siste sekund på kvelden og lette og lette. Ikke før den aller siste morgenen, to timer før vi skulle ut av parken fant vi en stor hannkatt. Den lå så fint i treet når vi kom, men strakte raskt på seg og hoppet ned fra treet og spaserte inn i bushen. Korte glimt, men vi fikk i allefall sett den.
       	</p>

		    <div class="imagestrip col-3">
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/15904601784/in/set-72157650788151935" title="">
                      <img src="https://farm8.staticflickr.com/7388/15904601784_0bbe65f4b1_z.jpg" alt="" />
                 </a>
                 <figcaption>Baby zebra</figcaption>
            </figure>
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/15907742183/in/set-72157650788151935" title="">
                      <img src="https://farm8.staticflickr.com/7323/15907742183_b60a5d1432_z.jpg" alt="" />
                 </a>
                 <figcaption>Baby flodhest</figcaption>
            </figure>
            <figure>
                 <a href="https://www.flickr.com/photos/hegerokenes/16528142735/in/set-72157650788151935" title="">
                      <img src="https://farm8.staticflickr.com/7362/16528142735_8e40e224c8_z.jpg" alt="" />
                 </a>
                 <figcaption>Baby neshorn</figcaption>
            </figure>
       	</div>

       	<h2>Born in Africa</h2>

       	<p>
            Sommer er en tid med mye mat for dyrene og det betyr også dyrefødsler. Vi fikk sett noe av det søteste vi noen sinne har vært borti, noe på veldig kloss hold. Sebra, giraff, vortesvin, silkeape, bavian, bøffel, flodhest, wildebeest (gnu?), neshorn, og sjakal i miniutgaver gir deg et stort smil om munnen, og man får lyst til å bare kose med de. Vi hadde også en liten elefantunge som prøvde å tøffe seg med på slå ut ørene, og løpe mot oss, og gi oss et tut før den fant ut at dette ble for skummelt og løp tilbake til mammaen. Samme oppførsel fra en voksen elefant ville vært ekstremt skummelt og potensielt farlig, men vi kunne ikke annet enn å le av denne lille karen som gjorde som best han kunne.
       	</p>

        <figure>
             <a href="https://www.flickr.com/photos/hegerokenes/16324830630/in/set-72157650788151935" title="">
                  <img src="https://farm8.staticflickr.com/7451/16324830630_95a18d5702_k.jpg" alt="" />
             </a>
             <figcaption>Elefantunge</figcaption>
        </figure>

		<h2>Store opplevelser</h2>

		<p>
			 De største opplevelsene vi hadde med dyrene var tidlig om morgenen. Alle dager untatt en var vi oppe 04.00 og forlot campen like etter at portene åpnet 04:30. Den nest siste morgenen vi var ute hadde vi bare kjørt en liten time før vi støtte på en flokk med 17 villhunder. De lå i veikanten og holdt på å våkne da sola så vidt hadde begynt å stå opp. Villhundene var aktive og lekne og begynte etterhvert å bevege seg i den ene retningen langs veien. Vi fulgte etter og ikke lenge etter oppdaget vi også at det var tre hyener som gjorde det samme. Villhunder er det flokkdyret som har høyest suksessrate når det gjelder å fange byttet sitt. Hyenene utnytter dette og følger etter de til de har tatt noe, og så stjeler de det rett og slett fra villhundene. Denne gangen skulle det vise seg å ikke være så lett. En av hyenene ble oppdaget av villhundene og ble jaget inn i bushen og fikk seg en omgang juling før den løp avgårde hylende.
		</p>

    <figure>
           <a href="https://www.flickr.com/photos/hegerokenes/16526703232/in/set-72157650788151935" title="">
                <img src="https://farm8.staticflickr.com/7403/16526703232_9cbf5dc119_h.jpg" alt="" />
           </a>
           <figcaption>Villhunder</figcaption>
      </figure>

		<hr class="last" />
	  </div>
</article>
