<article>
    <header>
        <h1>
            Dag 214
            <span>Et ekte tropisk paradis</span>
        </h1>
        <time datetime="2015-03-20">20. mars 2015 . Mahe, Seyschellene</time>
        <img class="main-image" src="../img/default_image.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">

    	<div class="imagestrip col-2">
	        <figure>
	           <a href="" title="">
	             <img src="" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

		<p>
			Etter Tanzania var planen å komme oss videre til Australia. Dit er det jo et stykke, så en plass måtte vi mellomlande. Det viste seg at den billigste løsningen ble via Seyschellene og Abu Dhabi. Så vi bestemte oss for å legge inn henholdsvis fem og tre dager på de stedene.
		</p>

		<p>
			Seyshcellene ligger øst for Kenya ca 1500 kilometer fra fastlandet, og regnes som en del av Afrika. Her snakker de både engelsk, fransk og fransk-kreolsk.
		</p>

		<p>
			Vi hadde ikke rukket å gjøre så mye forberedelser før vi kom til Seyschellene så vi visste ikke helt hva vi skulle forvente. Vi hadde booket oss inn på en lodge, og bestemte oss for å ha leiebil for å komme oss rundt på øya og se hva den hadde å tilby.
		</p>

		<p>
			Å kjøre rundt hovedøya Mahe tar kun litt over to timer. Det er smale svingete veier som går i berg og dalbane over de ulike fjellene. Vi fikk noen fantastiske utkikkspunkter, sett landskilpadder og snorklet i den marine nasjonalparken på nord vestsiden av øya.
		</p>

		<h2>Et snorkleparadis</h2>
		<p>
			Å kunne spasere fra den nydeligste stranden ned til det mest blågrønne vannet du noen gang har sett snorkle og se eagleray kun få meter fra strandsonen i 30 graders vannet er noe av det mest magiske vi har opplevd. Vi fant et fint område med perfekt dybde for å fridykke litt. Dog hadde vi ikke bly eller svømmeføtter, så det ble en prøvelse å komme seg ned.
		</p>

		<h2>Dykketur</h2>
		<p>
			Vi hadde hørt fra flere hold at dykkingen på Seyschellene var bra, dog at den beste var på en av de andre mindre øyene, men vi tenkte vi måtte gi Mahe en sjansje. Vi booket oss inn på en tur, ble en gruppe på kun tre personer som dro ut. Vi fikk sett hvittiphai, to enorme stingrayer, blekksprut, en liten fisk med horn som Hege har hatt lyst til å se, og annet fint mindre liv på korallrevet. Vi konkluderte med at snorklingen var vel så bra, og ikke minst gratis - så det ble kun med den ene turen.
		</p>

		<h2>De Forente Arabiske Emirater</h2>

		<p>

		</p>

		<hr class="last" />
	</div>
</article>