<article>
	<header>
	   <h1 class="dark">
	        Dag 149
	        <span>Cruising Krüger</span>
	   </h1>
	   <time datetime="2014-12-29">14. januar 2015 . Nelspruit, Sør-Afrika</time>
	   <img class="main-image" src="../img/default_image.jpg" alt="" />
	</header>

  	<div class="post-content bg-subtle-grey">

       	<p>
            Etter en overnatting i Nelspruit, en mellomstor by 4 timer fra Johannesburg, hentet vi leiebilen vår, en liten Ford Figo, og satte kursen mot Krüger Nasjonalpark. Her skulle vi tilbringe 8 dager, 7 netter i ulike camper og kjøre rundt på egenhånd. Denne turen har bydd på helt uforglemmelige dyreopplevelser og et veldig positivt inntrykk av Sør-Afrika.
       	</p>

       	<h2>Krüger Nasjonalpark</h2>
		<p>
			Krüger nasjonalpark er et område på 19633 kvm, og er like langt som strekningen mellom Trondheim og Trysil. Parken ligger nordøst i sør-Afrika mot grensen til Mosambik. Over landegrensen til Mosambik fortsetter nasjonalparken, men da under navnet Limpopo Nasjonalpark. I tillegg er det en del private landområder som også har latt seg innlemme i nasjonalparken under navnet The greater Krüger, så området dyrene har å boltre seg på er i realiteten langt større.
		</p>


       	<h2>Campene</h2>
       	<p>
			Parken er åpen for alle som ønsker å dra dit og er flittig brukt av sør-afrikanske familier. Parken er tilrettelagt med 12 såkalte restcamper. I disse campene kan man bo i alt fra egne telt, campingvogner, permanente telt, og bungalower, altså noe for et hvert budsjett. I tillegg finnes det flere luksus lodger i parken som er langt mindre og dyrere, og kun tilgjengelige for de som bor der. Alle restcampene er åpne for alle, og alle har en liten butikk og de fleste en restaurant. 
            Vi overnattet på fire forskjellige camper; Letaba, Satara, Skukuza og Crocodile Bridge - i tillegg var vi innom Lower Sabie og Berg en Dal for lunsj.
    	</p>
    	<p>
			Vi tilbragte to netter i bungalow og 6 netter i såkalte permanente telt. Dette er telt bygget på små plattinger, og som er ca 10kvm og av solid type. Her hadde vi senger, kjøleskap, garderobeskap og vifte. Bungalowene hadde eget bad og air condition. Alle campene hadde felles toalett og dusjanlegg samt små åpne hus med kokeplater og vasker for matlaging. Det var tilogmed mynt-vaskeri, så man fikk vasket klær for 10 rand per maskin som tilsvarer 6,5 norske kroner. Vi var alt i alt superimponert over hvor ryddig og bra hele opplegget var. 
       	</p>

       	<div class="imagestrip col-3">
            <figure>
                 <a href="" title="">
                      <img src="" alt="" />
                 </a>
                 <figcaption>Telt</figcaption>
            </figure>
            <figure>
                 <a href="" title="">
                      <img src="" alt="" />
                 </a>
                 <figcaption>Bungalow</figcaption>
            </figure>
            <figure>
                 <a href="" title="">
                      <img src="" alt="" />
                 </a>
                 <figcaption></figcaption>
            </figure>
       	</div>

       	<h3>Campdyrene</h3>
       	<p>
            Alle campene hadde sitt eget wildlife. Bushbuck (en antilope sort), bushbaby hadde vi på den første campen, Letara. Vortesvin, silkeaper på Crocodile Bridge. Og ikke minst var det insekter. Jonas sier ofte at han er glad Hege ikke er så hysterisk, men man får virkelig testet grensene sine med skorpioner, edderkopper og sykt store møll og biller som flyr som kamikazepiloter rett inn i deg dersom du er nær en lyskilde. For øvrig var det også anbefalt å gå med lykt på kveldene grunnet slanger, men dette då vi ikke noe til.
       	</p>

       	<div class="imagestrip col-3">
            <figure>
                 <a href="" title="">
                      <img src="" alt="" />
                 </a>
                 <figcaption>Bushbuck</figcaption>
            </figure>
            <figure>
                 <a href="" title="">
                      <img src="" alt="" />
                 </a>
                 <figcaption>Vortesvin</figcaption>
            </figure>
            <figure>
                 <a href="" title="">
                      <img src="" alt="" />
                 </a>
                 <figcaption>Silkeape</figcaption>
            </figure>
       	</div>

		<h2>Ut på egenhånd</h2>

		<p>
			I Krüger kan man kjøre rundt i egen bil. Noe vi valgte å gjøre, da man har større frihet til å kjøre hvor man vil, hvor lenge man gidder og stanse på de tingene man synes er spennende. Reguleringen i parken er dog ganske streng. Både for dyrenes del, men også for folks sikkerhet. Fartsgrensen er 50km/h på asfalterte veier og 40 på grusveier. Det er strengt forbudt å gå ut av bilen utenfor avviste plasser. Innen kl 18:30 må alle være innenfor en restcamp eller en lodge, og man får ikke forlate camp område før 04:30. Alle restcampene er forøvrigninngjerdet med 3 meter høye strømgjerder.
		</p>
		<p>
			Krüger har et godt utbedret veinett. Likevel om man kjører samtlige av veiene og antar at man i snitt ser ca 50m fra veiene og ut har man kun sett under 2% av parken.
		</p>

		<p>
			Vi endte opp med å kjøre bortimot 1200 km på 8 dager, og med en snittfart på 40 km/timen tilsvarer det ca Xx timer i bilen. Vi ble godt kjent med den lille Forden, som vi for øvrig på et tidspunkt også hadde en bavian på taket på.
		</p>

       	<div class="imagestrip col-3">
            <figure>
                 <a href="" title="">
                      <img src="" alt="" />
                 </a>
                 <figcaption>Safaribilen</figcaption>
            </figure>
            <figure>
                 <a href="" title="">
                      <img src="" alt="" />
                 </a>
                 <figcaption>Solnedgang</figcaption>
            </figure>
            <figure>
                 <a href="" title="">
                      <img src="" alt="" />
                 </a>
                 <figcaption>Vei</figcaption>
            </figure>
       	</div>

       	<h2>De fem store</h2>
       
       	<p>
       		Det er mye snakk om "The big five" i Krüger. De fem store er; Bøffel, løve, elefant, neshorn og leopard. Vi rakk med et nødskrik å få med oss alle. Bøffel så vi 4 av 8 dager inkludert en flokk på rundt 400 dyr. Elefanter hadde vi flest møter med, 7 av 8 dager og gjerne flere ganger om dagen. Løvene lot vente på seg til dag 3, men til gjengjeld hadde vi noen fantastiske opplevelser med en aktiv flokk på 8 dyr som vi fulgte i en time på morgenen. De valset rundt bilene på veien, koste med hverandre og drakk av vannpyttene etter nattens regn. Neshorn fikk vi ikke sett før den 6 dagen, men antallet neshorn finnes kun i bestemte områder i parken så dette var vi forberedt på. Disse fikk vi også noen fine nære opplevelser med, selv om for oss tilsynelatende ikke har så mange måter å uttrykke seg på som feks løvene. Leoparden var den definitivt vanskeligste å finne. Vi var oppe tidligere morgenen og ute til siste sekund på kveldene og lette og lette. Ikke før den absolutt siste morgenen, to timer før vi skulle ut av parken fant vi en stor hannkatt. Den lå så fint i treet når vi kom, men strakte raskt på seg og hoppet ned fra treet og valset inn i bushen. Korte glimt, men vi fikk i allefall sett den.
       	</p>

		<div class="imagestrip col-3">
            <figure>
                 <a href="" title="">
                      <img src="" alt="" />
                 </a>
                 <figcaption>Baby zebra</figcaption>
            </figure>
            <figure>
                 <a href="" title="">
                      <img src="" alt="" />
                 </a>
                 <figcaption>Baby flodhest</figcaption>
            </figure>
            <figure>
                 <a href="" title="">
                      <img src="" alt="" />
                 </a>
                 <figcaption>Baby neshorn</figcaption>
            </figure>
       	</div>

       	<h2>Born in Africa</h2>

       	<p>
            Sommer er en tid med mye mat for dyrene og det betyr også dyrefødsler. Vi fikk sett noe av det søteste vi noen sinne har vært borti, noe på veldig kloss hold. Sebra, giraff, vortesvin, silkeape, bavian, bøffel, flodhest, wildebeest (gnu?), neshorn, sjakal i miniutgaver gir deg et stort smil om munnen, og man får lyst til å bare kose med de. Vi hadde også en liten elefantunge som prøvde å tøffe seg med på slå ut ørene, og løpe mot oss, og gi oss et tut før den fant ut at dette ble for skummelt og løp tilbake til mammaen. Samme oppførsel fra en voksen elefant ville vært ekstremt skummelt og potensielt farlig, men vi kunne ikke annet enn å le av denne lille karen som gjorde som best han kunne.
       	</p>

        <figure>
             <a href="" title="">
                  <img src="" alt="" />
             </a>
             <figcaption>Elefantunge</figcaption>
        </figure>

		<h2>Store opplevelser</h2>

		<hr class="last" />
	  </div>
</article>
