Reisebrev Blues Simonstown og Capetown

<article>
    <header>
        <h1>
            Dag 189
            <span>Havet og storbyen</span>
        </h1>
        <time datetime="2015-02-23">23. februar 2015 . Simonstown, Cape Town, Sør-Afrika</time>
        <img class="main-image" src="https://farm8.staticflickr.com/7601/16809618392_bb2c87e626_k.jpg" alt="" />
        <!-- https://farm8.staticflickr.com/7601/16809618392_ca4ee6bb5e_m.jpg -->
    </header>

    <div class="post-content bg-subtle-grey">

    	<div class="imagestrip col-2">
	        <figure>
	           <a href="" title="">
	             <img src="" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

		<p>
			Det gikk ikke mer enn en dag før vi måtte i vannet igjen. Vi hadde booket oss inn på en tur med Shark Explorers i Simonstown som spesialiserer seg på haidykking.
		</p>

		<p>
			Turen bar 40 km sør for tuppen av Cape Point og utenfor kontinentalplaten til Afrika. Havet viste hvem som bestemte og holdt et godt leven. 
		</p>

		<p>
			Etter at åten ble senket i vannet gikk det ikke lengre enn 20 min før første haien var på plass og vi hoppet i utstyret. Vi dykket på kun 8 meter selv om dybden under oss var langt over 1000m.
		</p>

		<p>
			De første haiene som dukket opp var blåhaier. Disse er forholdsvis små sammenlignet de vi har lekt oss med den siste uka.
			De er lange, tynne og veldig nyskjerrige. Det var første gangen at vi fikk beskjed under briefingen at vi måtte dytte haiene unna når de kom for nære. Dersom vi ikke gjorde dette kunne vi riskiere at de tok tak for å finne ut hva vi er.
		</p>

		<figure>
           <a href="https://www.flickr.com/photos/hegerokenes/16613872291/in/set-72157650971487611" title="">
             <img src="https://farm9.staticflickr.com/8603/16613872291_e8a434ebb1_k.jpg" alt="" />
           </a>
           <figcaption>Nyskjerrig liten frøken</figcaption>
        </figure>

		<p>
			Etter en stund i vannet dukket det også opp to kortfinnede mako haier. Denne er i samme familie som hvithaien, men langt mindre. Den ser skumlere ut enn blåhaiens uskyldige uttrykk, men var langt mer beskjeden.
		</p>

		<p>
			Vi hadde 55-70 minutter i vannet med disse fantastiske fiskene før luften var oppbrukt. Temperaturen her var ikke så ille, rundt 22 grader, da vi var i en varm strøm som går utenfor kysten.
		</p>

        <div class="embed-container">
        	<iframe src='http://player.vimeo.com/video/120084201' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      	</div>

      	<p>

  		</p>

      	<h2>Table mountain</h2>
      	
      	<p>

      	</p>

		<hr class="last" />
	</div>
</article>