<article>
    <header>
        <h1>
            Dag 182
            <span>Burdykking med hvithai</span>
        </h1>
        <time datetime="2015-02-16">16. februar 2015 . Gaansbai, Sør-Afrika </time>
        <img class="main-image" src="https://c1.staticflickr.com/9/8678/16614570895_d65f9ff33e_k.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">

		<p>
			Etter haiuka i Umkoomas hadde vi bestemt at vi ville gjøre hvithaidykking i Gaansbai (uttales Hans-ba-i). Dette er en av de to mest populære stedene for denne typen aktivitet. Vår nye venn Jack hadde også booket burdykking og vi bestemte oss for å slenge oss med.
		</p>
		<p>
			Vi ankom Gaansbai og sjekket inn på overnattingsstedet vårt. Det viser seg at vi ender opp med å ha et helt hus for oss selv. I nabohust hvor Jack bor, har de bar og jacuzzie på takterrasen, noe som kom til å bli brukt flittig de neste dagene.
		</p>

		<div class="imagestrip col-3">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16613960602/in/set-72157648643966444" title="">
	             <img src="https://farm9.staticflickr.com/8654/16613960602_cdb34b8647_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16407297747/in/set-72157648643966444" title="">
	             <img src="https://farm9.staticflickr.com/8677/16407297747_1870f799c9_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16427581250/in/set-72157648643966444" title="">
	             <img src="https://farm9.staticflickr.com/8681/16427581250_ea243a19f0_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

		<p>
			Det var oppmøtet hos operatøren 09:00 så vi slapp heldigvis å måtte opp grisetidlig. Her fikk vi servert frokost og måtte som alltid signere bort livet vårt før de ville ta oss med. Vi var 3 av 32 (!) personer som skulle være med ut på båten. Selskapet har to slike turer hver eneste dag. Dog ikke alltid med fulle båter, men det sier noe om hvor populært det er når det også var 4 andre selskaper i nærheten.
		</p>

		<div class="imagestrip col-2">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/15992184764/in/set-72157648643966444" title="">
	             <img src="https://farm9.staticflickr.com/8572/15992184764_5173d48661_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16613740142/in/set-72157648643966444" title="">
	             <img src="https://farm9.staticflickr.com/8577/16613740142_9a99c3c732_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

		<p>
			Vi skiftet til 7mm tykke våtdrakter og fikk en tørrbag for alle personlige saker og klær. Det siste vi tok med oss var en solid regnjakke av samme typen som fiskerne i Norge bruker. Vi tenkte at dette var nå litt voldsomt, men da vi tok av fra kai skjønte vi hvorfor. Vannspruten stod over ripa og vi var gode og våte før vi kom ut til plassen hvor vi skulle se på den fantastiske fisken.
		</p>

		<div class="imagestrip col-2">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16613285311/in/set-72157648643966444" title="">
	             <img src="https://farm9.staticflickr.com/8673/16613285311_4d67296c4c_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16427414350/in/set-72157648643966444" title="">
	             <img src="https://farm9.staticflickr.com/8616/16427414350_bc4506a183_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

		<p>
			Mannskapet på båten hadde tønner med fiskeslog som de laget godlukt i vannet med, og det tok ikke lang tid før den første hvithaien dukket opp. 8 og 8 personer ble plassert skulder mot skulder i det noe klaustrofobiske buret som hang fast i siden på båten. Temperaturen i vannet var ned mot 13 grader, så selv med 7mm våtdrakt var det kaldt. Det var ganske mye vind og bølger som gjorde at man skvulpet fram og tilbake inne i buret. Når haien kom nærme nok, dvs innen 1.5m, ropte kapteinen at alle måtte dukke under vann. Folk holdt pusten så best de kunne og prøvde å få et glimt av haien under vann.
		</p>

		<div class="imagestrip col-3">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16427362400/in/set-72157648643966444" title="">
	             <img src="https://farm9.staticflickr.com/8569/16427362400_b304484c42_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16613837632/in/set-72157648643966444" title="">
	             <img src="https://farm9.staticflickr.com/8643/16613837632_a2557c10a6_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16613819222/in/set-72157648643966444" title="">
	             <img src="https://farm9.staticflickr.com/8610/16613819222_58d3b8ca98_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

		<p>
			Etter en stund rullerte hele gruppen. Fra båten så man egentlig haiene bedre enn man så de fra buret på grunn av den dårlige sikten. Vi var ute ca 3.5 timer og så tilsammen 7 forskjellige haier i ulike størrelser.
		</p>

		<div class="embed-container">
        	<iframe src='http://player.vimeo.com/video/120019173' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      	</div>

		<p>
			Vi skulle ut to dager på samme turen, så neste dag var det samme opplegg. Heldigvis var ikke båten full og vi fikk tilbragt litt mer tid i buret. 
			Haiene vi så var fra 2 - 4.5 meter store. Kjønn var vanskelig å se da veldig få av de var nære lenge nok, eller viste nok av undersiden på overflaten.
		</p>

		<h2>Pingvinsafari</h2>

		<p>
			Etter to dager og tre veldig fornøyde haientusiaster bar det sørover mot Cape Town. Vi hadde fortsatt leiebil og tilbydde oss å kjøre Jack til flyplassen. Flyet hans gikk ikke før utpå dagen så vi bestemte oss for å dra å se om vi fant pingviner.
		</p>

		<p>
			Pingvinene var der som bestilt, og i hopetall.
		</p>

		<div class="imagestrip col-3">
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16588947356/in/set-72157650971487611" title="">
	             <img src="https://farm9.staticflickr.com/8564/16588947356_ac0e99ba76_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16427708298/in/set-72157650971487611" title="">
	             <img src="https://farm9.staticflickr.com/8596/16427708298_0798d198f2_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="https://www.flickr.com/photos/hegerokenes/16427895980/in/set-72157650971487611" title="">
	             <img src="https://farm9.staticflickr.com/8593/16427895980_a52c5f69c9_z.jpg" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

		<hr class="last" />
	</div>
</article>