<article>
    <header>
        <h1>
            Dag 209
            <span>Dyre- og strandliv</span>
        </h1>
        <time datetime="2015-02-15">15. februar 2015 . Serengeti, Ngorongoro og Zanzibar, Tanzania</time>
        <img class="main-image" src="../img/default_image.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">

    	<p>
    		Ettermiddagen den 23. februar forlot vi Sør-Afrika med fly via Johannesburg. Vi hadde en nattflygning til Nairobi, Kenya. Her møtte vi foreldrene til Jonas; Thor og Torill. De hadde tatt seg godt over to uker ferie som de skulle tilbringe sammen med oss på safari og strandliv i Tanzania.
		</p>
		<p>
			Den første destinasjonen var Kilimajaro. Her ble vi hentet på flyplassen av guiden vi skulle ha den kommende uka. Herfra kjørte vi ca fire timer innover i landet til den lille landsbyen Karatu. Her skulle vi bo på High View hotel i to dager. 
		</p>
		<p>
			Den første turen gikk til Tarangire nasjonalpark, som er den minste i Tanzania. Her var fokuset på elefanter. Vi fant flere ulike flokker med både små og store individer. Likevel var det de muntre vortesvinene som tok mest av fokuset der de danset rundt og rullet seg i gjørmebad.
		</p>
		<p>
			Dagen etter ventet en lengre kjøreetappe innover til Serengeti. På veien dit fikk vi sett utsikten ned til Ngorongoro krateret og en del sebra og gnu. Lite visste vi at denne turen skulle bli en av de mektigste dyreopplevelsene vi har hatt. På denne tiden av året migrerer 1.2 milioner gnu og sebra over slettene gjennom Serengeti. Vi kjørte et veistrekke i ca 2 timer i en snittfart på runt 80 km/t og hadde et konstant dyrehav rundt oss på begge sider. Store sjeggete gnu hanner, runde gravide eller akkurat nybakte mødre med sine små brune kalver, sebraer i alle fasonger så langt øye kunne se, og på disse slettene kan man telle lengdene i kilometer.
		</p>
		<p>
			Hver dag hadde vi medbragt lunsj i en liten lunsjboks som vi stoppet på ulike pikniksteder for å nyte. Innholdet var noe interessant med alt fra juice til popcorn til kake, nøtter og kyllinglår. Første dagen hadde vi bananer i boksen, og et øyeblikks uoppmerksomhet så var Thor sin banan i grepet på en liten silkeape som hadde lært å utnytte piknikplassene.
		</p>
		<p>
			De neste dagene fikk vi sett både leopard, flodhest som vandret på land, en pitteliten elefant baby, flere store og små løveflokker, hyener, struts, gaseller, flere fugler i ulike størrelse og fasong, bøfler, krokodiller, sjakaler, silkeaper, bavianer, løveunger med mere. Vi fartet rundt i en 4x4 Toyota Landcruiser kun oss fire og guiden. Taket på bilen kunne løftes opp slik at vi fikk bedre utsikt.
		</p>
		<p>
			Etter mange dager innenlands var det på tide å komme se nærmere havet igjen. Vi fløy fra Kilimanjoro flyplass til Zanzibar. Her ble vi hentet på flyplassen og transportert til resorten vi skulle bo på de neste 9 dagene.
		</p>

		<div class="imagestrip col-2">
	        <figure>
	           <a href="" title="">
	             <img src="" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="" title="">
	             <img src="" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="" title="">
	             <img src="" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

		<h2>Sultan Sands beach resort</h2>
		<p>
			Resortlivet bestod for det meste av soling, bading, spising og enda mer soling. Heldigvis hadde resorten et OK treningsstudio med mølle og vekter, så vi fikk oss noen økter. Vi tok oss en tur inn til Stonetown som er selve byen på Zanzibar. Her gikk vi på fiske- og kjøttmarkedet som var noe helt for seg selv. Man kunne lukte at man var kommet rett på flere  meters avstand. Vi gikk inn og så på den daglige fiskeakusjonen og stod i en pøl av fiskeslog, fluene surret hissig og støynivået langt over normalen. Vi besøkte markedet hvor slavene ble solgt, og fikk en omvisning ned i kjelleren hvor de ble holdt før de  skulle selges. Sterkt å høre hvordan slavehandelen gikk til, hvordan de satte opp de mannlige slavene for å bli pisket for å demonstrere deres styrke. Og hvordan man fikk et barn på kjøpe om man kjøpte en voksen.
		</p>

		<div class="imagestrip col-2">
	        <figure>
	           <a href="" title="">
	             <img src="" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="" title="">
	             <img src="" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="" title="">
	             <img src="" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

		<h2>Kryddergård</h2>
		<p>
			Vi booket oss inn på en såkalt kryddertur, og dro innover til en av de mange gårdene på øya. Zanzibar er kjent for sine krydder og har drevet med krydderproduksjon siden 1800-tallet. Vi fikk sett ulike krydder, og måtte gjette oss fram til riktig krydder når det ble plukket ned fra treet eller brukket av busken. Hele turen ble avsluttet med et show med en mann i et palmetre som klatret og sang.
		</p>

		<div class="imagestrip col-2">
	        <figure>
	           <a href="" title="">
	             <img src="" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="" title="">
	             <img src="" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="" title="">
	             <img src="" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
    	</div>

		<h2>Mnemba Atoll</h2>
		<p>
			Ben fra New Zealand som vi møtte i Mosambik hadde hatt sin legepraksis på Zanzibar og hadde anbefalt oss å dykke Mnemba Atoll, som er den desidert beste dykkedestinasjonen på Zanzibar. Vi hadde et dykkesenter bokstavligtalt vegg i vegg med rommet vårt, så det var fort gjort å melde seg opp på en tur. Atollet lå kun 40 min med båt fra der vi bodde. Vi hadde to fine dykk med blekksprut, froskefisk og løvfisk som vi ikke har sett før.
		</p>

		<div class="imagestrip col-2">
	        <figure>
	           <a href="" title="">
	             <img src="" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="" title="">
	             <img src="" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	        <figure>
	           <a href="" title="">
	             <img src="" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>
		<p>
			Etter at Thor og Torill reiste hjem ble vi noen dager ekstra på Zanzibar. Vi hadde booket et hotell inne i Stonetown. Disse dagene ble brukt til å prøve ut noen spennende restaurant konsept, blant annet en veldig bra etiopisk restaurant, og mye vandring i gatene før turen bar videre til Seyschellene.
		</p>

    	<div class="imagestrip col-2">
	        <figure>
	           <a href="" title="">
	             <img src="" alt="" />
	           </a>
	           <figcaption></figcaption>
	        </figure>
	    </div>

		<hr class="last" />
	</div>
</article>