<h3>Observasjoner på verdenskartet</h3>
<img src="https://maps.googleapis.com/maps/api/staticmap?size=400x320&zoom=<%- zoom -%>&maptype=hybrid&format=png32&markers=color:red%7C<%- points -%>&key=AIzaSyBUSiM968m5sufe_KHr5nJGn-TmdZo0-Fc" alt="Map" />
